{% set usage = usage_totals['total_file_size'] + usage_totals['total_ns_size'] %}
<span>{{ usage|filesizeformat(binary=True) }} of {{ instance.maximum_capacity|filesizeformat(binary=True) if instance.type == Constants.MONGODB_SHARDED_INSTANCE else '5 GB' }}</span>
<span class="tip rs-icon-help" data-title="<b>Notice:</b> The space usage represented here includes the size of administrative databases." data-delay="0.1"></span>
<div class="rs-progress">
    <div class="rs-progress-inner or-flexbox-row">
        {% if 'overage' in usage_totals %}
            <div id="usage-bar-overage" class="rs-segment" style="width: 100%;">
                <div class="rs-bar or-bar-overage"></div>
            </div>
        {% else %}
            <div id="usage-bar-ns" class="rs-segment" style="width: {{ usage_totals['percentages']['ns'] }}%;">
                <div class="rs-bar or-bar-ns"></div>
            </div>
            <div id="usage-bar-data" class="rs-segment" style="width: {{ usage_totals['percentages']['data'] }}%;">
                <div class="rs-bar or-bar-data"></div>
            </div>
            <div id="usage-bar-indexes" class="rs-segment" style="width: {{ usage_totals['percentages']['index'] }}%;">
                <div class="rs-bar or-bar-index"></div>
            </div>
            <div id="usage-bar-storage" class="rs-segment" style="width: {{ usage_totals['percentages']['storage'] - usage_totals['percentages']['data'] - usage_totals['percentages']['index'] }}%;">
                <div class="rs-bar or-bar-storage"></div>
            </div>
            <div id="usage-bar-remainder" class="rs-segment" style="width: {{ usage_totals['percentages']['remaining'] + usage_totals['percentages']['data'] + usage_totals['percentages']['index'] }}%;">
                <div class="rs-bar"></div>
            </div>
        {% endif %}
    </div>
</div>
<div class="or-flexbox-row">
    {% if 'overage' in usage_totals %}
        <span class="or-legend tip" data-title="The total amount of space being used above your threshold." data-delay="0.1"><span class="or-legend-overage"></span>Above Threshold: {{ usage_totals['overage']|filesizeformat(binary=True) }}</span>
        <span class="or-legend">• <a id="overage-add-shard-popover-target" data-popover="add-shard-popover" data-popover-target="overage-add-shard-popover-target" data-popover-position="bottom-right"  class="rs-popover-source">Add Shard&hellip;</a></span>
    {% else %}
        <span class="or-legend tip" data-title="The total size of the namespace files for all databases." data-delay="0.1"><span class="or-legend-ns"></span>Ns: {{ usage_totals['total_ns_size']|filesizeformat(binary=True) }}</span>
        <span class="or-legend tip" data-title="The total size of the data held in all database." data-delay="0.1"><span class="or-legend-data"></span>Data: {{ usage_totals['total_data_size']|filesizeformat(binary=True) }}</span>
        <span class="or-legend tip" data-title="The total size of all indexes created on all databases." data-delay="0.1"><span class="or-legend-index"></span>Indexes: {{ usage_totals['total_index_size']|filesizeformat(binary=True) }}</span>
        <span class="or-legend tip" data-title="The total amount of space allocated to collections, in all database, for document storage." data-delay="0.1"><span class="or-legend-storage"></span>Storage: {{ usage_totals['total_storage_size']|filesizeformat(binary=True) }}</span>
        <span class="or-legend tip" data-title="The total size of the data files that hold the databases, <b>not including the namespace files.</b>" data-delay="0.1">Total File: {{ usage_totals['total_file_size']|filesizeformat(binary=True) }}</span>
    {% endif %}
</div>
