{% extends "web_app_base.html" %}

{% block nav_secondary %}
    {% call nav_secondary_content() %}
        {% include 'admin/secondary_nav.html' %}
    {% endcall %}
{% endblock %}

{% block content_area_body %}
    {% call detail_header(page_title="Customer Reports") %}{% endcall %}
    {% call detail_section(title='Overview', collapsible=True) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-large">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                <tr>
                    <th>Active Customers</th>
                    <th>Active Customers with Stripe IDs</th>
                    <th>Active Customers with CC</th>
                    <th>Active Customers with Subscriptions</th>
                    <th>Active Customers with Subscriptions and CC</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ accounts_summary['active_logins'] }}</td>
                    <td>{{ accounts_summary['stripe_accounts'] }}</td>
                    <td>{{ accounts_summary['active_cards'] }}</td>
                    <td>{{ accounts_summary['subscribed'] }}</td>
                    <td>{{ accounts_summary['active_card_and_subscribed'] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endcall %}
    {% call detail_section(title='Detail', collapsible=True) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-large">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Active</th>
                    <th>Created</th>
                    <th>Manually Invoiced</th>
                    <th>Custom Billing</th>
                    <th>Stripe ID</th>
                    <th>Stripe CC</th>
                    <th>Stripe Subscription</th>
                </tr>
                </thead>
                <tbody>
                {% for account in account_manager.get_all_accounts() %}
                    <tr>
                        <td>{{ account.login }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.name }}</td>
                        <td>{{ account.company }}</td>
                        <td>{{ account.active }}</td>
                        <td>{{ account.creation_date }}</td>
                        <td>{{ account.invoiced }}</td>
                        <td>{{ account.custom_plan }}</td>

                        {% if account.invoiced %}
                            <td>N/A</td>
                            <td>N/A</td>
                        {% elif account.stripe_account %}
                            <td>{{ account.stripe_account.id }}</td>
                            <td>{{ account.stripe_account.active_card }}</td>
                        {% else %}
                            <td>Stripe info missing</td>
                            <td>Stripe info missing</td>
                        {% endif %}

                        {% if account.invoiced or account.custom_plan %}
                            <td>N/A</td>
                        {% elif account.stripe_account %}
                            <td>{{ account.stripe_account.subscription }}</td>
                        {% else %}
                            <td>Stripe info missing</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="rs-btn rs-btn-primary" href="{{ url_for('admin_export_customer_report') }}">Export to CSV</a>
    {% endcall %}
{% endblock %}
