{% extends "web_app_base.html" %}

{% block nav_secondary %}
    {% call nav_secondary_content() %}
        {% include 'admin/secondary_nav.html' %}
    {% endcall %}
{% endblock %}

{% block content_area_body %}
    {% call detail_header(page_title='Error Log Search') %}{% endcall %}
    {% call detail_section(title='Search', collapsible=false) %}
        {% call create_view(url_for('admin_error_logs'), id="error_search_form", method="GET") %}
            <div class="rs-control-group">
                <label class="rs-control-label" for="error_id">Error ID</label>
                    <div class="rs-controls">
                        <input type="text" name="error_id" class="rs-input-xlarge" id="error_id" {% if error_id %}value="{{ error_id }}"{% endif %}>
                        <button type="submit" class="rs-btn rs-btn-primary">Search</button>
                    </div>
            </div>
        {% endcall %}
    {% endcall %}
    {% call detail_section(title='Error', collapsible=false) %}
        {% if error and error.get('info') %}
            {% set error_info = error.get('info') %}
            <ul class="rs-detail-list">
                <li class="rs-detail-item">
                    <div class="rs-detail-key">User</div>
                    <div class="rs-detail-value">{{ error_info.get('user', '') }}</div>
                </li>
                <li class="rs-detail-item">
                    <div class="rs-detail-key">Context</div>
                    <div class="rs-detail-value">{{ error_info.get('context', '') }}</div>
                </li>
                <li class="rs-detail-item">
                    <div class="rs-detail-key">Path</div>
                    <div class="rs-detail-value">{{ error_info.get('path', '') }}</div>
                </li>
                <li class="rs-detail-item">
                    <div class="rs-detail-key">Error ID</div>
                    <div class="rs-detail-value">{{ error_info.get('error_id', '') }}</div>
                </li>
                <li class="rs-detail-item">
                    <div class="rs-detail-key">API Key</div>
                    <div class="rs-detail-value">{{ error_info.get('api_key', '') }}</div>
                </li>
                <li class="rs-detail-item">
                    <div class="rs-detail-key">Traceback</div>
                    <div class="rs-detail-value"><pre>{{ error_info.get('tb', '') }}</pre></div>
                </li>
            </ul>
        {% endif %}
    {% endcall %}
{% endblock %}
