{% extends "web_app_base.html" %}

{% block nav_secondary %}
    {% call nav_secondary_content() %}
        {% include 'admin/secondary_nav.html' %}
    {% endcall %}
{% endblock %}

{% block content_area_body %}
    {% call detail_header(page_title='Instance Management') %}{% endcall %}
    {% call detail_section(title='Create Instance', collapsible=True) %}
        {% call create_view(url_for('admin_create_instance'), id="switch_user_form", method="POST") %}
            <div class="rs-control-group">
                <label class="rs-control-label" for="account_name">Account Name</label>

                <div class="rs-controls">
                    <input type="text" name="account_name" class="rs-input-xlarge" id="account_name">
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label" for="name">Instance Name</label>

                <div class="rs-controls">
                    <input type="text" name="name" class="rs-input-xlarge" id="name">

                    <p class="rs-help-block">Instance name. Can be any alphanumeric string.</p>
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label" for="plan">Instance Size</label>

                <div class="rs-controls">
                    <input type="text" name="plan" class="rs-input-xlarge" id="plan">

                    <p class="rs-help-block">Size in GB.</p>
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label" for="version">MongoDB Version</label>

                <div class="rs-controls">
                    <input type="text" name="version" class="rs-input-xlarge" id="version">
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label" for="zone">Zone</label>

                <div class="rs-controls">
                    <label class="select"></label>
                    <select name="zone">
                        <option value="US-East-IAD3" selected>US-East-IAD3, AWS Direct Connect</option>
                        <option value="US-West">US-West, AWS Direct Connect</option>
                        <option value="US-Chicago">ORD</option>
                        <option value="EU-London">LON</option>
                    </select>

                    <p class="rs-help-block">Size in GB.</p>
                </div>
            </div>
            <input type="hidden" id="service_type" name="service_type" value="mongodb">
            <div class="rs-control-group">
                <div class="rs-controls">
                    <button type="submit" id="associate_button" class="rs-btn rs-btn-primary">Submit</button>
                </div>
            </div>
        {% endcall %}
    {% endcall %}
{% endblock %}
