{% extends "web_app_base.html" %}

{% block nav_secondary_content %}
    {% include "admin/admin_secondary_nav.html" %}
{% endblock %}

{% block content_area_body %}
    {% call detail_header(page_title='Inventory') %}{% endcall %}
    {% call detail_section(title='Instances', collapsible=True) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-large">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                <tr>
                    <th>Zone</th>
                    <th>Login</th>
                    <th>Instance Name</th>
                    <th>Port</th>
                    <th>Shards</th>
                </tr>
                </thead>
                <tbody>
                {% for node in node_map %}
                    <tr>
                        <td>{{ node['zone'] }}</td>
                        <td>{{ node['login'] }}</td>
                        <td>{{ node['name'] }}</td>
                        <td>{{ node['port'] }}</td>
                        <td>{{ node['shards'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcall %}
    {% call detail_section(title='Checkouts', collapsible=True) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-large">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                <tr>
                    <th>Plan</th>
                    <th>Zone</th>
                    <th>Type</th>
                    <th>Version</th>
                    <th>Available</th>
                </tr>
                </thead>
                <tbody>
                {% for checkout in checkouts %}
                    <tr>
                        <td>{{ checkout['plan'] }}</td>
                        <td>{{ checkout['zone'] }}</td>
                        <td>{{ checkout['type'] }}</td>
                        <td>{{ checkout['mongo_version'] }}</td>
                        <td>{{ checkout['count']|int }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcall %}
{% endblock %}
