{% extends "web_app_base.html" %}

{% block nav_secondary_content %}
    {% include "admin/secondary_nav.html" %}
{% endblock %}

{% block content_area_body %}
    {% call detail_section(title='Revenue Estimation', collapsible=True) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-large">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                <tr>
                    <th>Revenue per Month</th>
                    <th>Customers</th>
                    <th>Subscribers</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p class="lead">${{ revenue['cents']/100 }}</p></td>
                    <td><p class="lead">{{ revenue['customers'] }}</p></td>
                    <td><p class="lead">{{ revenue['subscribers'] }}</p></td>
                </tr>

                </tbody>
            </table>
        </div>
    {% endcall %}
{% endblock %}
