<li class="rs-nav-item"><a class="rs-nav-link"
                           href="{{ url_for('admin_alarms') }}">Alarms</a></li>
<li class="rs-nav-item"><a class="rs-nav-link"
                           href="{{ url_for('admin_billing') }}">Billing</a></li>
<li class="rs-nav-item"><a class="rs-nav-link"
                           href="{{ url_for('admin_customer_reports') }}">Customer Reports</a></li>
<li class="rs-nav-item"><a class="rs-nav-link"
                           href="{{ url_for('admin_instance_management') }}">Instance Management</a></li>
<li class="rs-nav-item"><a class="rs-nav-link"
                           href="{{ url_for('admin_inventory') }}">Inventory</a></li>
<li class="rs-nav-item"><a class="rs-nav-link"
                           href="{{ url_for('admin_revenue') }}">Revenue</a></li>
<li class="rs-nav-item"><a class="rs-nav-link"
                           href="{{ url_for('admin_status_management') }}">Status Management</a></li>
<li class="rs-nav-item"><a class="rs-nav-link"
                           href="{{ url_for('admin_user_management') }}">User Management</a></li>
