{% extends "web_app_base.html" %}

{% block nav_secondary_content %}
    {% include "admin/secondary_nav.html" %}
{% endblock %}

{% block content_area_body %}
    {% call detail_header(page_title="Status Management") %}{% endcall %}
    {% call detail_section(title="Send Message", collapsible=True) %}
        {% call create_view(url_for('admin_add_message'), id="add_message_form", method="POST") %}
            <div class="rs-control-group">
                <label class="rs-control-label" for="login">User ID</label>

                <div class="rs-controls">
                    <input type="text" name="login" class="rs-input-xlarge" id="login">

                    <p class="rs-help-block">Value from users.login or leave blank to message all users.</p>
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label" for="message">Message</label>

                <div class="rs-controls">
                    <textarea name="message" class="rs-input-xlarge" id="message"></textarea>

                    <p class="rs-help-block">The message to send; no HTML.</p>
                </div>
            </div>
            <div class="rs-control-group">
                <div class="rs-controls">
                    <button type="submit" id="add_message_button" class="rs-btn rs-btn-primary">Submit</button>
                </div>
            </div>
        {% endcall %}
    {% endcall %}

    {% call detail_section(title="Set Status", collapsible=True) %}
        {% call create_view(url_for('admin_set_status'), id="set_status_form", method="POST") %}
            {% for stat in status %}
                <div class="rs-control-group">
                    <label class="rs-control-label" for="{{ stat['_id'] }}">{{ stat['_id']|title }}</label>

                    <div class="rs-controls">
                        <label class="rs-radio">
                            <input type="radio" name="{{ stat['_id'] }}" value="0" checked="checked">
                            <strong>Ok</strong><br>
                        </label>
                        <label class="rs-radio">
                            <input type="radio" name="{{ stat['_id'] }}" value="1">
                            <strong>Warning</strong>
                        </label>
                        <label class="rs-radio">
                            <input type="radio" name="{{ stat['_id'] }}" value="2">
                            <strong>Error</strong>
                        </label>

                        <p class="rs-help-block">{{ stat['description'] }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="rs-control-group">
                <div class="rs-controls">
                    <button type="submit" id="set_status_button" class="rs-btn rs-btn-primary">Submit</button>
                </div>
            </div>
        {% endcall %}
    {% endcall %}
{% endblock %}
