{% macro footer_content() %}
    <ul class="rs-nav">
        <li class="rs-nav-item">&copy; Rackspace, US</li>
        <li class="rs-nav-item">
            <a class="rs-nav-link" href="http://www.rackspace.com/information/legal/websiteterms"
               target="blank">Website Terms</a>
        </li>
        <li class="rs-nav-item">
            <a class="rs-nav-link" href="http://www.rackspace.com/information/legal/privacystatement"
               target="blank">Privacy Policy</a>
        </li>
    </ul>
{% endmacro %}
