.rs-nav-brand a {
  background: transparent url('/static/art/objectrocket.png') no-repeat center center;
  display: block;
}

body.rs-responsive .rs-container {
	max-width: 80%;
	margin: 0 auto;
}

.invisible {
	visibility: hidden;
}

.hidden
{
	display: none;
}
.or-overlay { /* This diverges from the canon norm, but it is needed for the JS. */
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
}
