/* === canon overwrites === */
.rs-nav-brand a {
    background: transparent url('/static/art/objectrocket.png') no-repeat center center;
    display: block;
}

body.rs-responsive .rs-container {
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.rs-sidebar {
    height: 100%;
    overflow: scroll;
}

.invisible {
    visibility: hidden;
    display: none;
}

.hidden {
    display: none;
}
.or-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.or-table-overlay {
    display: table;
    width: 100%;
    height: 150px;
    border: 1px solid #e7e7e7
}

span.rs-validation-block {
    padding-left: 0;
}

img.invoice-logo {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 170px;
    height: 40px;
    background-color: black;
    padding: 5px;
}

.rs-dropdown-menu .rs-btn.rs-btn-link {
    text-align: left;
}

.or-dropdown-menu {
    right: 0 !important;
    max-height: 250px !important;
    overflow: scroll !important;
    max-width: 125px !important;
}

/* === usage graph flexbox === */
.or-flexbox-row {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* === bar & status overwrites === */
.or-bar-ns {
    background: #0062ff; /* .blue */
}

.or-bar-data {
    background: #45b300; /* .green */
}

.or-bar-index {
    background: #9d00ff; /* .violet */
}

.or-bar-overage {
    background: #ff0000; /* .red */
}

.or-bar-storage {
    background: #ff9d00; /* .orange */
}

.or-bar-file {
    background: #00a96d;
}

.or-legend {
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px 3px 0 0;
    padding: 1px 3px;
}

.or-legend span {
    float: left;
    height: 1em;
    margin: 4px 4px 0 0;
    width: 1em;
}

.or-legend .or-legend-ns {
    background: #0062ff; /* .blue */
}

.or-legend .or-legend-data {
    background: #45b300; /* .green */
}

.or-legend .or-legend-index {
    background: #9d00ff; /* .violet */
}

.or-legend .or-legend-storage {
    background: #ff9d00; /* .orange */
}

.or-legend .or-legend-overage {
    background: #ff0000; /* .red */
}

.or-flexbox-row .rs-btn, .or-flexbox-row .rs-status {
    font-size: 0.95em;
    margin: 2px 3px 0 0;
    padding: 1px 3px;
}

.or-flexbox-row .rs-status .rs-icon-help {
    margin-left: 2px;
}

/* === migration page code === */
.rs-focus-panel {
    margin: auto;
    padding: 0;
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0px 3px 8px 1px #C2C2C2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
}
#rs-focus-panel-initial-sso {
    width: 770px;
    height: 380px;
}
#rs-focus-panel-seamless-login {
    width: 640px;
    height: 410px;
}
#rs-focus-panel-link-account {
    width: 770px;
    height: 440px;
}
.rs-focus-panel-content {
    width: 100%;
}
.rs-focus-panel-header {
    padding: 15px;
    background-color: #333;
}
.rs-focus-panel-body {
    padding: 15px;
}
.rs-focus-panel-footer {
    padding: 15px;
}

.rs-focus-panel-header h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    font-weight: 600;
}
.rs-focus-panel-body h3 {
    margin: 20px 0px;
}
.rs-focus-panel-body h4 {
    font-size: 1.2em;
    font-weight: 600;
}
.rs-btn-info {
    background-color: #1E6DC0;
    background-image: none;
    border-color: #333;
    color: #FFF;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.rs-btn-large {
    font-size: 14px;
    padding: 7px 14px;
}
.rs-btn-info:hover {
    background-image: none;
    color: #FFF;
    background-color: #2B84E1;
}
.rs-control-group-center {
    margin: auto;
    width: 50%;
}

/* === login panel code === */
.or-focus-panel {
    top: 50%;
    left: 50%;
    margin: -192px 0 0 -325px;
    max-width: 730px;
    position: absolute;
}

.or-login-brand {
    background: url('/static/art/objectrocket.png') no-repeat 50% / 60%;
    display: inline-block;
    float: left;
    height: 57px;
    margin-top: 95px;
    padding: 40px;
    width: 192px;
}

.or-signup-brand {
    display: inline-block;
    float: left;
    height: 57px;
    padding: 40px;
    width: 192px;
}

.or-signup-brand > img {
    height: 67px;
    width: 192px;
}

.or-signup-brand > p {
    text-align: justify;
}

.or-focus-panel-login {
  min-width: 630px;
}

.or-login-welcome {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 40px;
}

.or-login-form {
    float: left;
    margin: 30px 0;
    padding: 40px 50px;
    border-left: 1px solid #ddd;
}
#login-form + .rs-control-group {
    margin: 25px 0 0;
}

#tos {
    padding: 2em;
    margin: -235px 0 0 -388px;
    display: none;
}
#sign-up {
    margin: -215px 0 0 -345px;
}

.or-focus-panel .or-focus-panel-link-pull-right {
    bottom: -14%;
    position: absolute;
    right: 0;
}

.or-focus-panel .or-focus-panel-link-pull-left {
    bottom: -14%;
    position: absolute;
    left: 0;
}

.or-focus-panel .or-focus-panel-messages {
    top: -9%;
    position: absolute;
    width: 100%;
}

.or-popover-login-overwrite {
    width: 400px;
}

/* === generic styles === */
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.large {
    font-size: 16px !important;
    line-height: 26px !important;
}
.no-caps {
    text-transform: none;
}
.width-halfem {
    width: 0.5em;
}
.min-height-1em {
    min-height: 1em;
}
.vertical-padding-halfem {
    padding: 0.5em 0;
}
.valign-baseline {
    vertical-align: baseline;
}
.valign-middle {
    vertical-align: middle;
}
.white-space-normal {
    white-space: normal;
}
.max-height {
    height: 100%;
}
.max-width {
    width: 100%;
}
.inline-block-children * {
    display: inline-block;
}

/* === paragraph styles === */
p.tos {
    font-size: 0.9em;
    text-align: left;
    text-indent: 0;
}

/* === colors === */
.strong-blue {
    color: #0088cc;
}

.red {
    color: #ff0000;
}

.green {
    color: #45b300;
}

.blue {
    color: #0062ff;
}

.orange {
    color: #ff9d00;
}

.violet {
    color: #9d00ff;
}

/* === Link pointers === */
a {
    cursor: pointer;
}

.warning_message {
    margin: 0px 30px;
    background-color: #FFC;
    border: 1px solid #eee;
    padding: 10px;
}

.unavailable {
    color: #999;
}
