.replset-header {
    border-bottom: 1px solid #EEE;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
    fill-opacity: 0.0 !important;
    stroke-opacity: 0.0 !important;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point:hover {
    fill-opacity: 1.0 !important;
    stroke-opacity: 1.0 !important;
}

svg {
  height: 350px;
}

.rs-detail-item select,
.rs-detail-item input,
.rs-detail-key select {
    margin: 0px;
}

input[type=text] {
  padding: 10px;
  height: 34px;
}

.dropdown-menu {
  top: 82%;
}

#stats .loader {
  padding: 148px 45%;
  position: absolute;
  z-index: 9999999999999;
}

.rs-push, .rs-footer, .rs-nav-footer {
  margin-top: 10px;
}

#stats {
  min-height: 450px;
}
