.replset-header {
    border-bottom: 1px solid #EEE;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
    fill-opacity: 0.25 !important;
    stroke-opacity: 0.25 !important;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point:hover {
    fill-opacity: 0.5 !important;
    stroke-opacity: 0.5 !important;
}

nvd3 svg {
    height: 350px;
}

.stats-container {
    border-top: 1px solid #EEE;
    padding: 10px 30px 0px 30px;
    margin-bottom: 30px;
}

.rs-detail-item select,
.rs-detail-item input,
.rs-detail-key select {
    margin: 0px;
}