# Byte-compiled code
*.py[cod]

# Build artifacts
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage

# Node stuff.
node_modules

# Miscellaneous.
.DS_Store
*.log

# bower
gui/static/js/bower_components

gui/static/dist/js
