{% extends 'web_app_base.html' %}

{% block title %}
    Change Password
{% endblock title %}

{% block body %}
    <div class="rs-panel or-focus-panel">

        <div class="or-focus-panel-login">
            <div class="or-login-brand"></div>
            <div class="or-login-form">
               <p id="password-reset-target" class="or-login-welcome">Change Password</p>
                <form id="change-password-form" class="rs-form-horizontal rs-form-large" action="{{ url_for('reset_password') }}" method="POST">
                    <input type="hidden" id="token" name="token" value="{{ token }}">

                    <div class="rs-control-group">
                        <label class="rs-control-label">New Password</label>
                        <div class="rs-controls">
                            <input id="password" name="password" type="password" placeholder="Password" class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <div class="rs-control-group">
                        <label class="rs-control-label">Confirm Password</label>
                        <div class="rs-controls">
                            <input name="confirmPassword" type="password" placeholder="Confirm Password" class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <div class="rs-btn-group">
                        <button class="rs-btn rs-btn-login">Change Password</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="or-focus-panel-link-pull-left">
            <p><a href="{{ url_for('sign_in') }}" class="btn button-info">«&nbsp;Return to the Sign In Page</a></p>
        </div>

    </div>

    {% block script %}
        {{ super() }}
        <script type="text/javascript">
        $(document).ready(function(){
            $('#change-password-form').validate({
                rules: {
                    password: {
                        minlength: 6,
                        required: true
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: "#password"
                    },
                },
                errorClass: 'rs-validation-block',
                errorElement: 'span',
                highlight: function(label) {
                    $(label).closest('.rs-control-group').removeClass('success');
                    $(label).closest('.rs-control-group').addClass('error');
                },
                success: function(label) {
                    $(label).closest('.rs-control-group').removeClass('error');
                    $(label).closest('.rs-control-group').addClass('success');
                },
            });

        });
        </script>
    {% endblock script %}
{% endblock body %}
