{% extends 'web_app_base.html' %}

{% block title %}
    Migrated Password Reset
{% endblock title %}

{% block body %}
    <div class="rs-panel or-focus-panel">

        <div class="or-focus-panel-login or-flexbox-row">
            <div class="or-flexbox-login-brand"></div>
            <div class="or-flexbox-login-form">
                <p class="or-login-welcome">Need Help Signing In?</p>
                <div>
                    <p>You can get help with changing your password or recover your username from the <a href="https://mycloud.rackspace.com/">Rackspace Cloud Log In page</a>.</p>
                </div>
            </div>
        </div>

        <div class="or-focus-panel-link-pull-left">
            <p><a href="{{ url_for('sign_in') }}" class="btn button-info">«&nbsp;Return to the Sign In Page</a></p>
        </div>

    </div>
{% endblock body %}
