{% extends 'web_app_base.html' %}

{% block title %}
    Password Reset
{% endblock title %}

{% block body %}
    <div class="rs-panel or-focus-panel">

        <div class="or-focus-panel-login">
            <div class="or-login-brand"></div>
            <div class="or-login-form">
               <p class="or-login-welcome">Welcome to the ObjectRocket Control Panel!</p>

                <form id="login-form" class="rs-form-horizontal rs-form-medium" action="{{ url_for('sign_in') }}" method="POST">

                    <div class="rs-control-group success">
                        <label class="rs-control-label">Login</label>
                        <input name="login" type="text" class="rs-input rs-input-medium" placeholder="Login">
                    </div>

                    <div class="rs-control-group success">
                        <label class="rs-control-label">Password</label>
                        <input name="password" type="password" class="rs-input rs-input-medium" placeholder="Password">
                    </div>

                    <div class="rs-btn-group">
                        <button class="rs-btn rs-btn-login" type="submit">Sign In</button>
                    </div>
                </form>
                <div class="rs-control-group">
                    <p><a href="javascript:void(0);">Forgot your password?</a></p>
                </div>
            </div>
        </div>

        <div class="or-focus-panel-links">
            <div class="or-focus-panel-links-pull-right">
                <p>Need an account? <a href="/sign_up1">Get one here »</a></p>
            </div>
        </div>

    </div>
{% endblock body %}


{% block script %}
    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function(){
        // Validation for password reset form.
        $('#change_password_form').validate({
            rules: {
                password: {
                    minlength: 6,
                    required: true
                },
                confirmPassword: {
                    required: true,
                    equalTo: "#password"
                },
            },
            errorClass: 'rs-validation-block',
            errorElement: 'span',
            highlight: function(label) {
                $(label).closest('.rs-control-group').removeClass('success');
                $(label).closest('.rs-control-group').addClass('error');
            },
            success: function(label) {
                $(label).closest('.rs-control-group').removeClass('error');
                $(label).closest('.rs-control-group').addClass('success');
            }
        });

    });
    </script>
{% endblock script %}

  <form class="form-d" id="change_password_form" action="{{ url_for('reset_password') }}" method="POST">

    <div class="modal" data-backdrop="" id="changePasswordModal">
        <div class="modal-header">
            <div class="pull-right"><img src="/static/art/objectrocket.png"></div>
            <h3>Change Password</h3>
        </div>

        <div class="modal-body">
              <div class="control-group">
                <label class="control-label" for="password">New Password:</label>
                <div class="controls">
                  <input type="password" name="password" id="password">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="confirmPassword">Confirm New Password:</label>
                <div class="controls">
                  <input type="password" name="confirmPassword" id="confirmPassword">
                </div>
              </div>
          </div>
          <input type="hidden" id="token" name="token" value="{{ token }}">

          <div class="modal-footer">
              <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>

  </form>
