{% extends 'web_app_base.html' %}

{% block title %}
    Reset Email Sent
{% endblock title %}

{% block body %}
    <div class="rs-panel or-focus-panel">

        <div class="or-focus-panel-login">
            <div class="or-login-brand"></div>
            <div class="or-login-form">
                <p id="password-reset-target" class="or-login-welcome">Reset Email Sent</p>
                <div>
                    <p>An email was sent containing instructions on<br/>changing the password for this login.</p>
                    <p>Please check your spam folders, or verify your<br/>username is correct if you don't receive the email.</p>
                </div>
            </div>
        </div>

        <div class="or-focus-panel-link-pull-left">
            <p><a href="/sign_in" class="btn button-info">«&nbsp;Return to the Sign In Page</a></p>
        </div>

    </div>
{% endblock body %}
