{% extends 'web_app_base.html' %}

{% block title %}
    Sign In
{% endblock title %}

{% block body %}
    <div class="rs-panel or-focus-panel">

        <div class="or-focus-panel-messages">
            {% block flash_messages %}
                {{ flash_messages() }}
            {% endblock %}
        </div>

        <div class="or-focus-panel-login">
            <div class="or-login-brand"></div>
            <div class="or-login-form">
               <p id="password-reset-target" class="or-login-welcome">ObjectRocket Control Panel</p>
                <form id="login-form" class="rs-form-horizontal rs-form-medium" action="{{ url_for('sign_in') }}" method="POST">

                    <div class="rs-control-group">
                        <label class="rs-control-label">Login</label>
                        <input name="login" type="text" class="rs-input rs-input-medium" placeholder="Login">
                    </div>

                    <div class="rs-control-group">
                        <label class="rs-control-label">Password</label>
                        <input name="password" type="password" class="rs-input rs-input-medium" placeholder="Password">
                    </div>

                    <div class="rs-btn-group">
                        <button form="login-form" class="rs-btn rs-btn-login">Sign In</button>
                    </div>
                </form>
                <div class="rs-control-group">
                    <p><a data-popover="password-reset-popover" data-popover-target="password-reset-target" data-popover-position="bottom-left" class="rs-btn rs-btn-link rs-popover-source">Forgot your password?</a></p>
                </div>
            </div>
        </div>

        <div class="or-focus-panel-link-pull-right">
            <p>Need an account? <a href="{{ url_for('sign_up1') }}">Get one here »</a></p>
        </div>

    </div>

    {% block popover %}
    <!-- reset password popover -->
    <div id="password-reset-popover" class="rs-popover or-popover-login-overwrite invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="password-reset-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('reset_password') }}" method="POST">
                    <h3>Reset Password</h3>
                    <p>Enter your login below to reset your password.</p>

                    <div class="rs-control-group">
                        <label class="rs-control-label">Login</label>
                        <div class="rs-controls">
                            <input id="login" name="login" type="text" class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <p>An email containing instructions on resetting your password will be sent to the email address associated with this login.</p>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="password-reset-popover-form-button" form="password-reset-popover-form" class="rs-btn rs-btn-primary">Reset Password</button>
                <button class="rs-btn rs-btn-link">Cancel</button>
            </div>
        </div>
    </div>
    <!-- end reset password popover -->
    {% endblock popover %}

    {% block script %}
        {{ super() }}
        <script type="text/javascript">
        $(document).ready(function() {
            // Validation for password reset form.
            $('#login-form').validate({
                rules: {
                    login: {
                        required: true,
                    },
                    password: {
                        required: true,
                    },
                },
                errorClass: 'rs-validation-block',
                errorElement: 'span',
                highlight: function(label) {
                    $(label).closest('.rs-control-group').removeClass('success');
                    $(label).closest('.rs-control-group').addClass('error');
                },
                success: function(label) {
                    $(label).closest('.rs-control-group').removeClass('error');
                    $(label).closest('.rs-control-group').addClass('success');
                },
            });

            // Validation for password reset popover.
            $('#password-reset-popover-form').validate({
                rules: {
                    login: {
                        required: true,
                    },
                },
                errorClass: 'rs-validation-block',
                errorElement: 'span',
                highlight: function(label) {
                    $(label).closest('.rs-control-group').removeClass('success');
                    $(label).closest('.rs-control-group').addClass('error');
                },
                success: function(label) {
                    $(label).closest('.rs-control-group').removeClass('error');
                    $(label).closest('.rs-control-group').addClass('success');
                },
            });

        });
        </script>
    {% endblock script %}

{% endblock body %}
