{% extends 'web_app_base.html' %}

{% block title %}
    Sign In
{% endblock title %}

{% block body %}
    <div class="rs-panel or-focus-panel">

        <div class="or-focus-panel-login">
            <div class="or-login-brand"></div>
            <div class="or-login-form">
               <p class="or-login-welcome">Welcome to the ObjectRocket Control Panel!</p>

                <form id="login-form" class="rs-form-horizontal rs-form-medium" action="{{ url_for('sign_in') }}" method="POST">

                    <div class="rs-control-group success">
                        <label class="rs-control-label">Login</label>
                        <input name="login" type="text" class="rs-input rs-input-medium" placeholder="Login">
                    </div>

                    <div class="rs-control-group success">
                        <label class="rs-control-label">Password</label>
                        <input name="password" type="password" class="rs-input rs-input-medium" placeholder="Password">
                    </div>

                    <div class="rs-btn-group">
                        <button class="rs-btn rs-btn-login" type="submit">Sign In</button>
                    </div>
                </form>
                <div class="rs-control-group">
                    <p><a href="javascript:void(0);">Forgot your password?</a></p>
                </div>
            </div>
        </div>

        <div class="or-focus-panel-links">
            <div class="or-focus-panel-links-pull-right">
                <p>Need an account? <a href="/sign_up1">Get one here »</a></p>
            </div>
        </div>

    </div>
{% endblock body %}


{% block script %}
    {{ super() }}
{% endblock script %}
