<div class="rs-embedded-list-table-wrapper rs-embedded-large">
    <table class="rs-list-table rs-embedded-list-table">
        <thead>
            <tr>
                {%- if admin %}
                    <th>Login</th>
                {% endif %}
                <th>Asset ID</th>
                <th>Event</th>
                <th>Count</th>
                <th>Created</th>
                <th>Last Seen</th>
                <th>Notified</th>
                {%- if not admin %}
                    <th>Clear</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for alarm in alarms|sort(attribute='last_updated', reverse=true) %}
                <tr>
                    {%- if admin %}
                        <td>{{ alarm.login }}</td>
                    {% endif %}
                    <td>{{ alarm.asset_id }}</td>
                    <td>{{ alarm.event_code }}</td>
                    <td>{{ alarm.count }}</td>
                    <td>{{ alarm.creation_date }}</td>
                    <td>{{ alarm.last_updated }}</td>
                    <td>{{ alarm.last_notified }}</td>
                    {%- if not admin %}
                        <td><button id="clear-alarm-target-{{ loop.index }}" data-count="{{ loop.index }}" data-id="{{ alarm.id }}" data-instance="{{ alarm.asset_id }}" data-popover="clear-alarm-popover" data-popover-target="clear-alarm-target-{{ loop.index }}" data-popover-position="left" class="rs-delete rs-popover-source"></button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not alarms %}
        <div class="rs-table-overlay">
            <div class="rs-table-overlay-content">
                <div class="rs-table-overlay-title">
                    You don't have any alarms yet.
                </div>
                <div class="rs-table-overlay-subtitle">
                    New alarms will show up here automatically.
                </div>
            </div>
        </div>
    {% endif %}
</div>
