{% extends 'web_app_base.html' %}

{% block content_area_body %}

    <!-- detail header -->
    <div class="rs-detail-header">
        {% call detail_header_actions() %}
            <li><span class="rs-dropdown-category">Views</span></li>
            <li><a class="rs-btn rs-btn-link or-expand-all">Expand All</a></li>
            <li><a class="rs-btn rs-btn-link or-collapse-all">Collapse All</a></li>
        {% endcall %}
        <!-- page title -->
        <div class="rs-page-title">Notifications</div>
        <!-- end page title -->
    </div>
    <!-- end detail header -->

    {% call detail_section(title='Messages', collapsible=true) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-large">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages|sort(attribute='date', reverse=true) %}
                        <tr>
                            <td>{{ message.date }}</td>
                            <td>{{ message.message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not messages %}
                <div class="rs-table-overlay">
                    <div class="rs-table-overlay-content">
                        <div class="rs-table-overlay-title">
                            You don't have any messages yet.
                        </div>
                        <div class="rs-table-overlay-subtitle">
                            New messages will show up here automatically.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endcall %}
    {% call detail_section(title='Alarms', collapsible=true) %}
        {% include 'notifications/alarms.html' %}
    {% endcall %}
{% endblock %}

{% block popovers %}
    <!-- clear alarm popover -->
    <div id="clear-alarm-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="clear-alarm-popover-form" class="rs-form-horizontal rs-form-small" action="" method="POST">
                    <p><b>Clear</b> this alarm?</p>
                    <p><input id="clear-all-alarms-option" name="clear-all-alarms" type="checkbox">&nbsp;<b>Clear all alarms</b> for instance <b id="clear-alarm-instance-name"></b>?</p>
                    <input id="clear-alarm-popover-id" type="hidden" name="alarm_id" value="">
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="clear-alarm-popover-form-button" form="clear-alarm-popover-form" class="rs-btn rs-btn-primary">Clear</button>
                <button class="rs-btn rs-btn-link">Cancel</button>
            </div>
        </div>
    </div>
    <!-- end clear alarm popover -->
{% endblock popovers %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function() {

        // Listener for clear alarm buttons.
        $('button[data-popover="clear-alarm-popover"]').each(function() {
            $(this).click(function() {
                // Get the alarm's info.
                var count = $(this).attr('data-count');
                var id = $(this).attr('data-id');
                var instance = $(this).attr('data-instance');

                // Initialize form action.
                setAction($('#clear-all-alarms-option'));

                // Inject the alarm's info into popover.
                $('#clear-alarm-popover-id').val(id);
                $('#clear-alarm-instance-name').text(instance);

                // Listener for clear all alarms option.
                $('#clear-all-alarms-option').click(function() {
                    setAction($(this));
                });

                // Function to set form action.
                function setAction($allAlarmsOption) {
                    // Form action urls.
                    clearAlarmUrl = '/clear_alarm';
                    clearAllAlarmsUrl = '/clear_all_alarms/' + instance;
                    if ($allAlarmsOption.is(':checked')) {
                        $('#clear-alarm-popover-form').attr('action', clearAllAlarmsUrl)
                    } else {
                        $('#clear-alarm-popover-form').attr('action', clearAlarmUrl)
                    }
                }
            });
        });

    });
    </script>
{% endblock script %}
