{% extends 'web_app_base.html' %}

<!--
TODO:
- Finish filtering logic
- Finish JS wiring
- Finish alarms logic
-->

{% block sidebar %}
    {% call sidebar_filtering() %}
        <h2 class="rs-page-title">Notifications</h2>
    {% endcall %}
{% endblock sidebar %}

{% block content_area_body %}

    <div class="rs-detail-section rs-collapsible-section expanded">
        <div class="rs-detail-section-header">
            <div class="rs-caret"></div>
            <div class="rs-detail-section-title">Messages</div>
        </div>

        <div class="rs-detail-section-body">
            {% if messages %}
                <table id="messages-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in messages %}
                            <tr>
                                <td width="240"><i class="icon-comment"></i>{{ message['date'].strftime('%Y-%d-%m %H:%M:%S') }}</td>
                                <td><p class="text-warning">{{ message["message"] }}</p></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="rs-table-overlay">
                    <div class="rs-table-overlay-content">
                        <div class="rs-table-overlay-title">You don't have any messages yet.</div>
                        <div class="rs-table-overlay-subtitle">You will see any new messages here when they are generated.</div>
                        <!-- <div class="rs-table-overlay-message">An additional line to explain why this is useful and a link for more info. Learn more about <a href="javascript:void(0);">[product] <i class="rs-icon-external"></i></a></div> -->
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="rs-detail-section rs-collapsible-section expanded">
        <div class="rs-detail-section-header">
            <div class="rs-caret"></div>
            <div class="rs-detail-section-title">Alarms</div>
        </div>

        <div class="rs-detail-section-body">
            {% if alarms %}
                <table id="alarms-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Alarm</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alarm in alarms %}
                            <tr>
                                <td width="240"><i class="icon-comment"></i>{{ alarm['date'].strftime('%Y-%d-%m %H:%M:%S') }}</td>
                                <td><p class="text-warning">{{ alarm["alarm"] }}</p></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="rs-table-overlay">
                    <div class="rs-table-overlay-content">
                        <div class="rs-table-overlay-title">You don't have any alarms yet.</div>
                        <div class="rs-table-overlay-subtitle">You will see any new alarms here when they are generated.</div>
                        <!-- <div class="rs-table-overlay-message">An additional line to explain why this is useful and a link for more info. Learn more about <a href="javascript:void(0);">[product] <i class="rs-icon-external"></i></a></div> -->
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content_area_body %}

{% block script %}
    {{ super() }}

    <script>
    $(document).ready(function() {
        $('#messages-table').dataTable({
            "sPaginationType": "bootstrap",
            "sDom": '<"top"f>rt<"bottom"ilp><"clear">',
            "bStateSave": true,
            "oLanguage": {"sLengthMenu": "_MENU_ records per page"},
        });
    });
    </script>
{% endblock script %}
