{% extends 'web_app_base.html' %}

{% block content_area_body %}
    {% call detail_header(page_title='Notifications') %}{% endcall %}
    {% call detail_section(title='Messages', collapsible=true) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-large">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages|sort(attribute='date', reverse=true) %}
                        <tr>
                            <td>{{ message.date }}</td>
                            <td>{{ message.message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not messages %}
                <div class="rs-table-overlay">
                    <div class="rs-table-overlay-content">
                        <div class="rs-table-overlay-title">
                            You don't have any messages yet.
                        </div>
                        <div class="rs-table-overlay-subtitle">
                            New messages will show up here automatically.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endcall %}
    {% call detail_section(title='Alarms', collapsible=true) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-large">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th>Asset ID</th>
                        <th>Event</th>
                        <th>Severity</th>
                        <th>Data</th>
                        <th>Count</th>
                        <th>Created</th>
                        <th>Last Seen</th>
                        <th>Notified</th>
                        <th>State</th>
                        <th>Clear</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alarm in alarms|sort(attribute='last_updated', reverse=true) %}
                        <tr>
                            <td>{{ alarm.asset_id }}</td>
                            <td>{{ alarm.event_code }}</td>
                            <td>{{ alarm.severity|title }}</td>
                            <td>{{ alarm.supplemental_data }}</td>
                            <td>{{ alarm.count }}</td>
                            <td>{{ alarm.creation_date }}</td>
                            <td>{{ alarm.last_updated }}</td>
                            <td>{{ alarm.last_notified }}</td>
                            <td>{{ alarm.state|title }}</td>
                            <td><form action="{{ url_for('clear_alarm') }}" method="POST">
                                    <button type="submit" class="rs-delete"></button>
                                    <input type="hidden" name="alarm_id" value="{{ alarm.id }}">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not alarms %}
                <div class="rs-table-overlay">
                    <div class="rs-table-overlay-content">
                        <div class="rs-table-overlay-title">
                            You don't have any alarms yet.
                        </div>
                        <div class="rs-table-overlay-subtitle">
                            New alarms will show up here automatically.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    {% endcall %}
{% endblock %}
