{% extends 'web_app_base.html' %}

{% block title %}
    SSO Test
{% endblock title %}

{% block body %}

    <h2>Submit SAMLResponse</h2>
    <form method="post" action="{{ send_to }}" id="SAMLForm">
        <input type="hidden" name="SAMLResponse" value="{{ encoded_saml_response }}"/>
        <input type="hidden" name="RelayState" value="{{ relay_state }}"/>
        <input type="submit" value="Submit"/>
    </form>

    <hr/>
    <h3>SAMLResponse</h3>
    <pre>{{ saml_xml }}</pre>

    {% if saml_request | default(False) %}
        <hr/>
        <h3>Original SAMLRequest</h3>
        <pre>{{ saml_request }}</pre>
    {% endif %}

{% endblock body %}
