{% extends 'web_app_base.html' %}

{% block title %}
    Error
{% endblock title %}

{% block body %}
    <div class="rs-panel or-focus-panel">

        <div class="or-focus-panel-messages">
            {% block flash_messages %}
                {{ flash_messages(classes='white-space-normal') }}
            {% endblock %}
        </div>

        <div class="or-focus-panel-login">
            <div class="or-login-brand"></div>
            <div class="or-login-form">
               <p id="password-reset-target" class="or-login-welcome">Unknown Error</p>
                <div class="alert alert-error">There was a problem with your request.<br/>If this problem persists,<br/>please contact <a href="mailto:{{ support_email }}">{{ support_email }}</a>{% if error_id %}<br/>and provide error id:<br/>{{ error_id }}{% endif %}.</div>
            </div>
        </div>

        <div class="or-focus-panel-link-pull-left">
            <p><a href="{{ url_for('instances') }}" class="btn button-info">«&nbsp;Return to Instances</a></p>
        </div>

    </div>
{% endblock body %}
