<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Object Rocket Signup Complete
URL of the webpage where the tag is expected to be placed: http://www.rackspace.com/object_rocket_signup_complete
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 02/12/2014
-->
<iframe src="http://4361691.fls.doubleclick.net/activityi;src=4361691;type=Sales-;cat=_A7ve-;qty=1;cost=100;u2={{ account_id }}?"
        width="1" height="1" frameborder="0" style="display:none"></iframe>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->