        <h3>Terms and Conditions</h3>

        <p style="font-size: 10px">
            In addition to the <strong>ObjectRocket Service Terms</strong> (available at: <a
                href="http://www.objectrocket.com/st">http://www.objectrocket.com/st</a>), the following terms apply to
            the use of ObjectRocket services in the Promotional Period:
        </p>

        <p style="font-size: 10px">
            You must sign up for ObjectRocket services and accept the <strong>ObjectRocket Service Terms</strong>.
        </p>

        <p style="font-size: 10px">
            Your new ObjectRocket account will become active after you receive your login details.
        </p>

        <p style="font-size: 10px">
            Eligible NEW customers that sign up for ObjectRocket services during the Promotional Period will receive a
            single 5GB shard free for the FIRST 30 days after sign up. <strong>No other plans</strong> are eligible for
            this promotional offer and will be charged at its standard rates.
        </p>

        <p style="font-size: 10px">
            After the end of this promotion, standard fees for ObjectRocket services will apply. Your account is not
            billed until the end of each 30-day service period, starting from the day you sign up.
        </p>

        <p style="font-size: 10px">
            You can cancel at any time by <a href="mailto:support@objectrocket.com">emailing Support</a>. You will be
            able to monitor your usage via [the ObjectRocket Control Panel].
        </p>

        <p style="font-size: 10px">
            If the account remains open after the 30 day trial period, you will be billed standard fees for the
            ObjectRocket services. For more information see our <a href="http://www.objectrocket.com/pricing">Billing information</a>.
        </p>

        <p style="font-size: 10px">
            If the eligible ObjectRocket service is used in conjunction with any other services, that service will be
            billed according to its standard pricing terms.
        </p>
