{% extends 'web_app_base.html' %}

{% block title %}
    Maintenance
{% endblock title %}

{% block body %}
    <div class="rs-panel or-focus-panel">
        <div class="or-focus-panel-messages">
        </div>
        <div class="or-focus-panel-login">
            <div class="or-login-brand"></div>
            <div class="or-login-form">
               <p id="password-reset-target" class="or-login-welcome">Maintenance</p>
               The ObjectRocket control panel is currently undergoing<br>
               maintenance. Please <a href="https://objectrocket.zendesk.com/home">contact support</a> if you have any<br>
               questions.
            </div>
        </div>
    </div>
{% endblock body %}
