{#
 Provides generic credit card management functionality for use across the site. To trigger, create a form
 in your page with a button like so:

    <form id="myform"
            name="myform"
            method="POST"
            action="{{ url_for('where_to_send_the_cc_token') }}"
            windowTitle="TItle bar of the credit card entry modal window."
            windowLabel="Button text of the credit card entry modal window.">
          <button type="button"
                  id="mybutton"
                  class="btn btn-success cc_button">Add Credit Card</button>
          <input type="hidden" name="stripe_token" id="stripe_token" returntarget="/where_to_return">
      </form>
#}

<!-- Kenshoo tracking code -->
<script type=text/javascript>
    var hostProtocol = (("https:" == document.location.protocol) ? "https" : "http");
    document.write('<scr'+'ipt src="', hostProtocol+
    '://148.xg4ken.com/media/getpx.php?cid=3cda9f22-a5e4-4c5c-a526-2479a9748aba','" type="text/JavaScript"><\/scr'+'ipt>');
</script>
<!-- end Kenshoo tracking code -->

<!-- stripe js -->
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script>
    $('.cc_button').click(function (event) {
        event.preventDefault();
        var cc_form = $(this).closest('form');

        var on_card_submitted = function (result) {
            $("#stripe_token").val(result.id);
            var params = new Array();
            params[0]='id=3cda9f22-a5e4-4c5c-a526-2479a9748aba';
            params[1]='type=complete';
            params[2]='val=300';
            params[3]='orderId='+uuid;
            params[4]='promoCode=';
            params[5]='valueCurrency=USD';
            params[6]='GCID='; //For Live Tracking only
            params[7]='kw='; //For Live Tracking only
            params[8]='product='; //For Live Tracking only
            k_trackevent(params,'148');
            cc_form.submit();
        };

        StripeCheckout.open({
            key: '{{ stripe_pub_key }}',
            email: '{{ email }}',
            address: true,
            name: cc_form.attr('windowTitle'),
            panelLabel: cc_form.attr('windowLabel'),
            token: on_card_submitted
        });
    });
</script>
<!-- end stripe js -->
