{% extends 'canon/canon_layout.html' %}
{%- from 'canon/canon_sidebar.html' import sidebar_help, sidebar_filtering with context %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/objectrocket.css">
    <link rel="icon" type="image/png" href="/static/art/ObjectRocketFavicon.png">
{% endblock style %}

{% block nav_utility_content %}
    <ul class="rs-nav rs-pull-right">
        <li class="rs-dropdown rs-utility-dropdown">
            <a class="rs-dropdown-toggle" href="javascript:void(0);">Live Chat</a>
        </li>
        <li class="rs-dropdown rs-utility-dropdown">
            <a class="rs-dropdown-toggle" href="javascript:void(0);">Support <i class="rs-caret"></i></a>
            <ul class="rs-dropdown-menu hidden">
                <li class="rs-dropdown-item"><span>Non Link Text</span></li>
                <li class="rs-divider"></li>
                <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Link</a></li>
                <li class="rs-dropdown-item"><a href="#" class="rs-dropdown-link hover">Link (Hover)</a></li>
                <li class="rs-divider"></li>
                <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Link External <i class="rs-icon-external-dark"></i></a></li>
                <li class="rs-dropdown-item"><a href="#" class="rs-dropdown-link hover">Link External (Hover) <i class="rs-icon-external-dark"></i></a></li>
                <li class="rs-divider"></li>
                <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Link <span class="rs-dropdown-caption">With Caption</span></a></li>
                <li class="rs-dropdown-item"><a href="#" class="rs-dropdown-link hover">Link (Hover) <span class="rs-dropdown-caption">With Caption</span></a></li>
            </ul>
        </li>
        <li class="rs-dropdown rs-utility-dropdown">
            <a class="rs-dropdown-toggle" href="javascript:void(0);">{{ login }} <i class="rs-caret"></i></a>
            <ul class="rs-dropdown-menu hidden">
                <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="/account">Account Settings</a></li>
                <li class="rs-divider"></li>
                <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="/logout">Log Out</a></li>
            </ul>
        </li>
    </ul>
{% endblock nav_utility_content %}

{% block brand_content %}
    <a href="#"></a>
{% endblock brand_content %}

{% block nav_primary_content %}
    <!-- TODO:
    - Add class 'active' to the active 'li' view.
    -->
    <li class="rs-nav-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    <li class="rs-nav-item"><a href="{{ url_for('instances') }}">Instances</a></li>
    <li class="rs-nav-item"><a href="{{ url_for('notifications') }}">Notifications</a></li>
{% endblock nav_primary_content %}

{% block script %}
    {{ super() }}
    {% include 'jquery_validate_js.html' %}

    <script type="text/javascript">
    $(document).ready(function() {
        // Utility navigation code.
        $('li.rs-dropdown.rs-utility-dropdown').click(function(event) {
            $('ul.rs-dropdown-menu', this).toggleClass('visible hidden');
        });
    });
    </script>


{% endblock script %}
