{% extends 'canon/canon_layout.html' %}
{%- from 'canon/canon_sidebar.html' import sidebar_help, sidebar_filtering with context %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/canon_overrides.css">
    <link rel="stylesheet" type="text/css" href="/static/css/objectrocket.css">
    <link rel="icon" type="image/png" href="/static/art/ObjectRocketFavicon.png">
{% endblock style %}

{% block nav_utility_content %}
    <ul class="rs-nav rs-pull-right">
        <li class="rs-dropdown rs-utility-dropdown">
            <a class="rs-dropdown-toggle" href="mailto:support@objectrocket.com">Contact Support</a>
        </li>
        {% block nav_utility_content_login %}
        <li class="rs-dropdown rs-utility-dropdown">
            <a class="rs-dropdown-toggle" href="#">{{ login }} <i class="rs-caret"></i></a>
            <ul class="rs-dropdown-menu hidden">
                <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="/account">Account Settings</a></li>
                <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="{{ url_for('billing') }}">Billing Information</a></li>
                <li class="rs-divider"></li>
                <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="/logout">Log Out</a></li>
            </ul>
        </li>
        {% endblock nav_utility_content_login %}
    </ul>
{% endblock nav_utility_content %}

{% block brand_content %}
    <a href="#"></a>
{% endblock brand_content %}

{% block nav_primary_content %}
    <li class="rs-nav-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    <li class="rs-nav-item"><a href="{{ url_for('instances') }}">Instances</a></li>
    <li class="rs-nav-item"><a href="{{ url_for('notifications') }}">Notifications</a></li>
    <li class="rs-nav-item"><a href="{{ url_for('external') }}">External Integration</a></li>
    <li class="rs-nav-item"><a href="{{ url_for('system_status') }}">System Status</a></li>
{% endblock nav_primary_content %}

{% block nav_secondary %}{% endblock nav_secondary %}

{% block script %}
    {{ super() }}
    {% include 'jquery_validate_js.html' %}
{% endblock script %}
