{% extends 'web_app_base.html' %}

{% block title %}
    Dashboard
{% endblock title %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/dygraph.css"/>
    {% include 'stripe_css.html' %}
{% endblock style %}

{% block nav_secondary %}
    {% if has_instances %}
        {% call nav_secondary_content() %}
            {% for _instance in instances %}
                <li class="rs-nav-item{% if _instance.name == instance.name %} active{% endif %}"><a class="rs-nav-link" href="{{ url_for('dashboard', selected_instance=_instance.name) }}">{{ _instance.name }}</a></li>
            {% endfor %}
        {% endcall %}
    {% else %}
    {% endif %}
{% endblock nav_secondary %}

{% block content_area_body %}
    <div class="rs-detail-header">
        <h2 class="rs-page-title">Dashboard</h2>
    </div>

    {% if not has_instances %}

        {% call detail_section() %}
            {% if not account.stripe_account or account.invoiced %}
                <div class="rs-btn-group">
                    <div class="alert alert-info"><strong>To create an instance, you'll need to add your credit card information below.</strong></div>
                    <form id="enter_cc_form" name="add_cc_form" action="{{ url_for('set_credit_card') }}" method="POST" windowTitle="Add Credit Card" windowLabel="Add Card" class="rs-form-horizontal rs-form-small">
                        <button type="button" id="add_cc_button" class="rs-btn rs-btn-primary cc_button">Add Credit Card</button>
                        <input type="hidden" name="stripe_token" id="stripe_token" returntarget="/">
                    </form>
                </div>
            {% else %}
                <div class="rs-btn-group">
                    <div class="alert alert-info">You don't have any instances defined.</div>
                    <a href="{{ url_for('instances_create') }}" class="rs-btn rs-btn-primary">Add Instance</a>
                </div>
            {% endif %}
        {% endcall %}

    {% else %}

        {% call detail_section(title="Stats") %}
            <table class="rs-list-table">
                <thead>
                    <tr>
                        <td>Queries/Sec</td>
                        <td>Inserts/Sec</td>
                        <td>Updates/Sec</td>
                        <td>Deletes/Sec</td>
                        <td>Commands/Sec</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="lead" id="query">0</span></td>
                        <td><span class="lead" id="insert">0</span></td>
                        <td><span class="lead" id="update">0</span></td>
                        <td><span class="lead" id="delete">0</span></td>
                        <td><span class="lead" id="command">0</span></td>
                    </tr>
                </tbody>
            </table>
        {% endcall %}

        {% call detail_section(title="Histograms") %}
            <div class="histogram-well">
                <h6>Opcounters/Sec</h6>
                <div class="pull-right" id="graphdiv-legend1"></div>
                <br/>

                <div class="well-graph" id="graphdiv1"></div>
                <br/>

                <h6>Network/Sec</h6>
                <div class="pull-right" id="graphdiv-legend2"></div>
                <br/>

                <div class="well-graph" id="graphdiv2"></div>
                <br/>

                <h6>Disk Space Usage</h6>
                <div class="pull-right" id="graphdiv-legend3"></div>
                <br/>

                <div class="well-graph" id="graphdiv3"></div>
                <br/>
            </div>
        {% endcall %}

        <!-- detail section -->
        <div class="rs-detail-section">
            <div class="rs-detail-section-header">
                <!-- detail section title -->
                <div class="rs-detail-section-title">
                    Plan
                    <span data-title="ObjectRocket is a sharded system, when you add space, you do so by adding a shard.  Shards are added in the plan size.  Shards can be added manually at any time, or automatically via the RocketScale&trade; service." data-delay="0.1" class="rs-icon-help tip valign-baseline"></span>
                </div>
                <!-- end detail section title -->
            </div>
            <div class="rs-detail-section-body">
                <table class="rs-list-table">
                    <thead>
                    <tr>
                        <th>Plan</th>
                        <th>Zone</th>
                        <th>Shards</th>
                        <th>Total Size</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ instance.plan }}GB</td>
                            <td>{{ instance.zone }}</td>
                            <td>{{ instance.shard_count }}</td>
                            <td>{{ instance.size }}GB</td>
                        </tr>
                    </tbody>
                </table>
                <div class="rs-btn-group">
                    <a href="{{ url_for('cluster', selected_instance=instance.name) }}" class="rs-btn rs-btn-primary">{% if instance.type == Constants.MONGODB_REPLICA_SET_INSTANCE %}Manage Members{% else %}Manage Shards{% endif %}</a>
                </div>
            </div>
        </div>
        <!-- end detail section -->

        {% call detail_section(title="Tips") %}
            <div class="tips-well">
                <p class="muted">
                    <i class="icon-flag"> </i> Did you know you can use the command line utilities
                    <a href="https://github.com/objectrocket/rocketstat">rocketstat</a> and <a href="https://github.com/objectrocket/rockettop">rockettop</a> to show performance via the API similar to mongostat and mongotop?
                </p>
            </div>
        {% endcall %}

    {% endif %}
{% endblock content_area_body %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/dygraph-combined.js"></script>
    <script type="text/javascript">

    // Timeseries graphs.
    var opcountersURL = "{{ url_for('api_timeseries', name='opcounters', selected_instance=instance.name) }}";
    var networkURL = "{{ url_for('api_timeseries', name='network', selected_instance=instance.name) }}";
    var diskURL = "{{ url_for('api_timeseries', name='disk', selected_instance=instance.name) }}";

    function getTimeseriesData(url, name) {
        $.get(url, {}, function(data) {
            name.updateOptions( { 'file': data } );
        });
    }

    var g1 = new Dygraph( document.getElementById("graphdiv1"), opcountersURL, {
        legend: "always",
        fillGraph: true,
        gridLineColor: "#cccccc",
        height: 100,
        labelsDiv: "graphdiv-legend1",
        labelsSeparateLines: false,
        axisLabelFontSize: 10,
        axisLabelColor: "#333333",
        axisLineColor: "#333333",
        maxNumberWidth: 12,
        labels: [ "Date", "Getmore", "Insert", "Update", "Command", "Query", "Delete" ]
    });

    var g2 = new Dygraph(document.getElementById("graphdiv2"), networkURL, {
        legend: "always",
        fillGraph: true,
        gridLineColor: "#cccccc",
        height: 100,
        labelsDiv: "graphdiv-legend2",
        labelsSeparateLines: false,
        axisLabelFontSize: 10,
        axisLabelColor: "#333333",
        axisLineColor: "#333333",
        maxNumberWidth: 12,
        labelsKMG2: true,
        labels: [ "Date", "BytesOut", "BytesIn" ]
    });

    var g3 = new Dygraph(document.getElementById("graphdiv3"), diskURL, {
        legend: "always",
        fillGraph: true,
        gridLineColor: "#cccccc",
        height: 100,
        labelsDiv: "graphdiv-legend3",
        labelsSeparateLines: false,
        axisLabelFontSize: 10,
        axisLabelColor: "#333333",
        axisLineColor: "#333333",
        maxNumberWidth: 12,
        labelsKMG2: true,
        stackedGraph: false,
        labels: [ "Date", "Data Size", "File Size", "Storage Size", "Index Size" ]
    });

    // Set an elements value.
    function setElement(id, value) {
        if (id != "" && id != null && id != " ") {
            document.getElementById(id).innerHTML = value;
        }
    }

    // Set an elements class.
    function setElementClass(id, value) {
        if (id != "" && id != null && id != " ") {
            document.getElementById(id).className = value;
        }
    }

    // Get an elements value.
    function getElement(id) {
        return document.getElementById(id).innerHTML;
    }

    function serverStatus(d) {
        stats = ['query','insert','update','delete','command'];
        for ( var i = 0; i < stats.length; i++ ) {
            setElement(stats[i],d['data']['opcounters'][stats[i]]);
        }
    }

    function fetchServerStatus(){
        $.getJSON("{{ url_for('api_serverstatus', selected_instance=instance.name) }}", {}, function(json) {
            serverStatus(json);
        });
    }

    function refresh_status_box() {
        $.getJSON('/api_status', function(data) {
            var statuses = ['status-success', 'status-important', 'status-warning'];

            data.data.forEach(function(element) {
                var selector = $('#' + element._id),
                status   = statuses[element.status];

                if(!selector.hasClass(status)) {
                    selector.removeClass();
                    selector.addClass('status');
                    selector.addClass(status);
                }
            });
        });
    }


    $(document).ready(function() {
        refresh_status_box();
        setInterval(refresh_status_box, 9000);

        fetchServerStatus();
        setInterval('fetchServerStatus()', 9000);

        // Timeseries.
        setInterval('getTimeseriesData(opcountersURL,g1)', 4000);
        setInterval('getTimeseriesData(networkURL,g2)', 4000);
        setInterval('getTimeseriesData(diskURL,g3)', 4000);

        var loaded = true;

    });
    </script>
    {% include 'stripe_js.html' %}
{% endblock script %}
