{% from 'marketo.html' import marketo_tracking %}
{% extends 'sign_up/sign_up_base.html' %}

{% block title %}
    ObjectRocket MSA
{% endblock title %}

{% block nav_utility_content_login %}{% endblock nav_utility_content_login %}
{% block nav_primary %}{% endblock nav_primary %}

{% block content_area_body %}
    {% call detail_header() %}
        <div>
            <img src="/static/art/objectrocket.png">
        </div>
    {% endcall %}
    <div class="rs-inner">
        <span><b>You must accept our MSA in order to use ObjectRocket. Access is denied.</b></span>
    </div>
{% endblock content_area_body %}

{% block script %}
    {{ super() }}
    {{ marketo_tracking() }}
{% endblock script %}
