{% extends 'sign_up/sign_up_base.html' %}

{% block body %}
    {% include 'doubleclick_iframe.html' %}
    {{ super() }}
{% endblock body %}

{% block sidebar %}
    {% call sidebar_help(hidden=False) %}
        <h3>Billing</h3>
        <p>Your account is not billed until the end of each 30-day service period, starting from the day you sign up.
            You can cancel at any time by emailing <a href="mailto:support@objectrocket.com">Support</a>. For more
            information see our <a href="http://www.objectrocket.com/pricing#billing" target="1">Billing</a>
            information.
        </p>
    {% endcall %}
{% endblock sidebar %}

{% block content_area_body %}
    {% call create_view(url_for('sign_up_finish'), id="sign-up-form", method="POST", windowTitle="Add Credit Card", windowLabel="Add Card") %}
        {% call detail_header(page_title="Sign Up", subtitle="Step 3 of 3") %}{% endcall %}
        {% call detail_section(title="Billing Information") %}
            <div class="rs-detail-section-body">
                <span class="rs-help-block">
                    <p>We accept Visa, MasterCard, American Express, Diners Club, and JCB via Stripe</p>
                </span>

                <div class="rs-control-group">
                    <div class="rs-controls">

                        <a href="{{ url_for('sign_up2') }}" class="rs-btn rs-btn-secondary">Previous</a>
                        <button type="button" id="add_cc_button" class="rs-btn rs-btn-primary cc_button">Add Credit Card</button>
                    </div>
                </div>

                <input name="plan" type="hidden" value="{{ plan }}"/>
                <input name="name" type="hidden" value="{{ name }}"/>
                <input name="zone" type="hidden" value="{{ zone }}"/>
                <input id="stripe_token" name="stripe_token" type="hidden" returntarget="/billing">
                <input id="service_type" name="service_type" type="hidden" value="{{ service_type }}"/>
                <input id="version" name="version" type="hidden" value="{{ version }}"/>
            </div>
        {% endcall %}
    {% endcall %}
{% endblock content_area_body %}

{% block script %}
    {{ super() }}
    {{ coremetrics_conversion("Signup3") }}
    {% include 'stripe_js.html' %}
{% endblock script %}


