{%- from 'coremetrics_signup_conversion.html' import coremetrics_conversion with context %}
{%- from 'xg4ken_signup_conversion.html' import xg4ken_conversion with context %}

{% extends 'web_app_base.html' %}

{% block title %}
    Sign Up
{% endblock title %}

{% block style %}
    {{ super() }}
    {% include 'stripe_css.html' %}
{% endblock style %}

{% block nav_secondary %}{% endblock nav_secondary %}

{% block content_area_title %}
    Sign Up
{% endblock content_area_title %}

{% block script %}
    {% include 'google_analytics_js.html' %}
    <!-- SiteCatalyst -->
    <script language="JavaScript" type="text/javascript" src="//objectrocket.com/appMeasurement.js"></script>
    <script language="JavaScript" type="text/javascript"><!--
        s.pageName="objectrocket:" + document.title;
        s.channel="";
        var s_code=s.t();if(s_code)document.write(s_code);//-->
    </script>
    <!-- Kenshoo tracking code -->
    {{ super() }}
    <script type=text/javascript>
        var hostProtocol = (("https:" == document.location.protocol) ? "https" : "http");
        document.write('<scr'+'ipt src="', hostProtocol+
        '://148.xg4ken.com/media/getpx.php?cid=3cda9f22-a5e4-4c5c-a526-2479a9748aba','" type="text/JavaScript"><\/scr'+'ipt>');
    </script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('#signup-form').submit(function(e) {
            var params = new Array();
            params[0]='id=3cda9f22-a5e4-4c5c-a526-2479a9748aba';
            params[1]='type=object';
            params[2]='val=200';
            params[3]='orderId='+uuid;
            params[4]='promoCode=';
            params[5]='valueCurrency=USD';
            params[6]='GCID='; //For Live Tracking only
            params[7]='kw='; //For Live Tracking only
            params[8]='product='; //For Live Tracking only
            k_trackevent(params,'148');
        });
    });
    </script>
    <!-- end Kenshoo tracking code -->
{% endblock script %}
