{% extends 'sign_up/sign_up_base.html' %}

{% block nav_utility_content_login %}{% endblock nav_utility_content_login %}
{% block nav_primary_content %}{% endblock nav_primary_content %}

{% block sidebar %}
    {% call sidebar_help(hidden=False) %}
        {% include 'free_trial_tos.html' %}
    {% endcall %}
{% endblock sidebar %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('sign_in') }}">&lsaquo; Back to Login</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    {% call create_view(url_for('sign_up1'), id="sign-up-form", method="POST") %}
        {% call detail_header(page_title="Sign Up", subtitle="Step 1 of 3") %}{% endcall %}
        {% call detail_section(title="Account Information") %}
            <div class="rs-control-group">
                <label class="rs-control-label" for="name">Full Name</label>

                <div class="rs-controls">
                    <input type="text" name="name" class="rs-input-xlarge" id="name">
                </div>
            </div>

            <div class="rs-control-group">
                <label class="rs-control-label" for="login">Desired Login</label>

                <div class="rs-controls">
                    <input type="text" name="login" class="rs-input-xlarge" id="login">
                </div>
            </div>

            <div class="rs-control-group">
                <label class="rs-control-label" for="company">Company</label>

                <div class="rs-controls">
                    <input type="text" name="company" class="rs-input-xlarge" id="company">
                </div>
            </div>

            <div class="rs-control-group">
                <label class="rs-control-label" for="password">Password</label>

                <div class="rs-controls">
                    <input type="password" name="password" class="rs-input-xlarge" id="password">
                </div>
            </div>

            <div class="rs-control-group">
                <label class="rs-control-label" for="confirmPassword">Confirm Password</label>

                <div class="rs-controls">
                    <input type="password" name="confirmPassword" class="rs-input-xlarge" id="confirmPassword">
                </div>
            </div>

            <div class="rs-control-group">
                <label class="rs-control-label" for="email">Email Address</label>

                <div class="rs-controls">
                    <input type="text" name="email" class="rs-input-xlarge" id="email">
                    <span class="rs-help-block">This will be used for alerts and notifications.</span>
                </div>
            </div>

            <div class="rs-control-group">
                <label class="rs-control-label" for="phone">Phone Number</label>

                <div class="rs-controls">
                    <input type="text" name="phone" class="rs-input-xlarge" id="phone">
                    <span class="rs-help-block">This will be used for alerts and notifications.</span>
                </div>
            </div>

            <div class="rs-control-group">
                <label class="rs-control-label" for="zipcode">Postal Code</label>

                <div class="rs-controls">
                    <input type="text" name="zipcode" class="rs-input-xlarge" id="zipcode">
                </div>
            </div>

            <div class="rs-control-group">
                <label class="rs-control-label" for="agree">Terms of Service</label>

                <div class="rs-controls">
                    <label class="rs-checkbox">
                        <input type="checkbox" name="agree" id="agree">
                    </label>
                    <br>

                    <span class="rs-help-block">
                        By checking this box and clicking the "Next" button below you agree
                        to the following <a href="#" id="tos">Terms and Conditions</a>. You represent and warrant
                        that you are authorized to agree to the Trial Terms and Conditions on behalf of the
                        customer you sign up under in the next step.
                    </span>
                </div>
            </div>

            <div class="rs-control-group">
                <div class="rs-controls">
                    <button id="next" type="submit" class="rs-btn rs-btn-primary" disabled>Next</button>
                </div>
            </div>

            {% if pricing_plan %}
                <input type="hidden" name="requested_plan" value="{{ pricing_plan }}">
            {% endif %}
        {% endcall %}
    {% endcall %}

{% endblock content_area_body %}

{% block script %}
    {{ super() }}
    {{ coremetrics_conversion("Signup1") }}

    <script>
        $(document).ready(function () {
            $('#sign-up-form').validate({
                rules: {
                    name: {
                        minlength: 2,
                        required: true
                    },
                    login: {
                        minlength: 2,
                        required: true
                    },
                    company: {
                        minlength: 2,
                        required: true
                    },
                    password: {
                        minlength: 6,
                        required: true
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    zipcode: {
                        required: true
                    },
                    phone: {
                        minlength: 2,
                        required: true
                    },
                    agree: {
                        required: true
                    }
                },
                errorClass: 'rs-validation-block',
                errorElement: 'span',
                highlight: function (label) {
                    $(label).closest('.rs-control-group').removeClass('success');
                    $(label).closest('.rs-control-group').addClass('error');
                },
                success: function (label) {
                    $(label).closest('.rs-control-group').removeClass('error');
                    $(label).closest('.rs-control-group').addClass('success');
                }
            });

            $('#sign-up-form').bind("change keyup", function () {
                if ($(this).validate().checkForm()) {
                    $("#next").attr('disabled', false);
                } else {
                    $('#next').attr('disabled', true);
                }
            });
        });
        $("#tos").click(function () {
            event.preventDefault();
            $(".rs-sidebar").show();
        });
    </script>
{% endblock script %}
