{% extends 'sign_up/sign_up_base.html' %}

{% block title %}
    Sign Up
{% endblock title %}

{% block body %}
    <div id="sign-up" class="rs-panel or-focus-panel">

        <div class="or-focus-panel-messages">
            {% block flash_messages %}
                {{ flash_messages(classes='white-space-normal') }}
            {% endblock %}
        </div>

        <div class="or-focus-panel-signup">
            <div class="or-login-brand"></div>
            <div class="or-login-form">
               <p class="or-login-welcome">Create an account</p>
                <form id="signup-form" class="rs-form-horizontal rs-form-medium" action="{{ url_for('sign_up') }}" method="POST">

                    <div class="rs-control-group">
                        <label class="rs-control-label" for="email">Email</label>
                        <div class="rs-controls">
                            <input id="email" name="email" type="text" class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <div class="rs-control-group">
                        <label class="rs-control-label" for="password">Password</label>
                        <div class="rs-controls">
                            <input id="password" name="password" type="password" class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <div class="rs-control-group">
                        <label class="rs-control-label" for="confirmPassword">Confirm</label>
                        <div class="rs-controls">
                            <input id="confirmPassword" name="confirmPassword" type="password" class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <div class="rs-control-group">
                        <div class="rs-controls">
                           <input type="checkbox" name="agree" id="agree"> I agree to the <a href="#tos">terms of service</a>.
                        </div>
                    </div>

                    <br />

                    <div class="rs-btn-group">
                        <div class="rs-controls">
                            <button form="signup-form" class="rs-btn rs-btn-login" type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="or-focus-panel-link-pull-right">
            <p>Already have an account? <a href="{{ url_for('sign_in') }}">Sign in here »</a></p>
        </div>
    </div>


    <div id="tos" class="rs-panel or-focus-panel">
        <div style="float:right;"><a href="#close-tos">Close</a></div>
        <h3>Terms and Conditions</h3>
        <p>I agree to the <strong>ObjectRocket Master Services Agreement</strong> (available at: <a href="http://www.objectrocket.com/msa">http://www.objectrocket.com/msa</a>), including any addenda referenced therein, the Object Rocket Privacy Policy, and the ObjectRocket Terms of Use (each available at <a href="http://www.objectrocket.com/other_policies">http://www.objectrocket.com/other_policies</a>).”</p>
        <p>In addition to the <strong>ObjectRocket Master Services Agreement</strong>, the following terms apply to your use of ObjectRocket services if you participate in the ObjectRocket Promotion described below:</p>
        <p>The ObjectRocket Promotion provides eligible participants with a single 5GB shard free for the FIRST 30 days after sign up.</p>
        <p>Only NEW customers that sign up for ObjectRocket services are eligible for the ObjectRocket Promotion. You are not eligible to participate in the ObjectRocket Promotion if you have an existing account with ObjectRocket.</p>
        <p><strong>No other ObjectRocket plans</strong> are eligible for this promotional offer.</p>
        <p>This is a limited promotion that lasts 30 days from the day you sign up. Following the initial 30 day promotional period, standard fees for ObjectRocket services apply and your account will be billed standard fees for the ObjectRocket services. For more information see our <a href="http://www.objectrocket.com/pricing">billing information</a>.</p>
        <p>Any other ObjectRocket service used in conjunction with the ObjectRocket Promotion shall be billed according to ObjectRocket’s standard pricing terms.</p>
        <p>You will be able to monitor your usage via the ObjectRocket Control Panel.</p>
        <p>Your new ObjectRocket account will become active after you receive your login details.</p>
        <p>You can cancel your ObjectRocket account at any time by <a href="mailto:support@objectrocket.com">contacting support</a>.</p>
    </div>

    {% block script %}
        {{ super() }}
        {{ coremetrics_conversion("Signup") }}
        
        <script type="text/javascript">
        $(document).ready(function() {
            $('a[href=#tos]').click(function(e) {
                $('#tos').fadeIn();
                e.preventDefault();
            });
            $('a[href=#close-tos]').click(function(e) {
                $('#tos').fadeOut();
                e.preventDefault();
            });
            
            // Validation for sign up form.
            $('#signup-form').validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        minlength: 6,
                        required: true
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: "#password"
                    },
                    agree: {
                        required: true
                    }
                },
                messages: {
                    agree: '&nbsp;'
                },
                errorPlacement: function (error, element) {
                    element.parent('.rs-controls').append(error);
                },
                errorClass: 'rs-validation-block',
                errorElement: 'span',
                highlight: function (label) {
                    $(label).closest('.rs-control-group').removeClass('success');
                    $(label).closest('.rs-control-group').addClass('error');
                },
                success: function (label) {
                    $(label).closest('.rs-control-group').removeClass('error');
                    $(label).closest('.rs-control-group').addClass('success');
                }
            });
        });
        </script>
    {% endblock script %}

{% endblock body %}
