{% macro script_content() %}
    <!-- canon js -->
    <script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1.4.1/canon.min.js"></script>
    <script type="text/javascript" src="/static/js/uuid.js"></script>
    <script type="text/javascript" src="/static/js/canon/collapsible-section.js"></script>
    <script type="text/javascript" src="/static/js/canon/dropdown.js"></script>
    <script type="text/javascript" src="/static/js/canon/form.js"></script>
    <script type="text/javascript" src="/static/js/canon/heartbeat-example.js"></script>
    <script type="text/javascript" src="/static/js/canon/highlighter.js"></script>
    <script type="text/javascript" src="/static/js/canon/overlay.js"></script>
    <script type="text/javascript" src="/static/js/canon/popover.js"></script>
    <script type="text/javascript" src="/static/js/canon/select-table.js"></script>
    <script type="text/javascript" src="/static/js/canon/site.js"></script>
    <script type="text/javascript" src="/static/js/canon/tabs.js"></script>
    <script type="text/javascript" src="/static/js/canon/tooltip.js"></script>
    <!-- end canon js -->
{% endmacro %}
