{% macro generic_view(page_title=None) %}
    <!-- generic view -->
    <div class="rs-inner">
        {% if page_title %}
            <!-- page title -->
            <h2 class="rs-page-title">{{ page_title }}</h2>
            <!-- end page title -->
        {% endif %}
        <!-- generic view content -->
        {{ caller() }}
        <!-- end generic view content -->
    </div>
    <!-- end generic view -->
{% endmacro %}


{% macro detail_header_actions(actions_name='Actions') %}
    <!-- detail header actions -->
    <div class="rs-detail-header-actions">
        <div class="rs-dropdown">
            <button class="rs-btn rs-btn-action rs-dropdown-toggle">
                <span class="rs-cog"></span>
                {{ actions_name }}
                <span class="rs-caret"></span>
            </button>
            <ul class="rs-dropdown-menu" style="right:0;">
                {{ caller() }}
            </ul>
        </div>
    </div>
    <!-- end detail header actions -->
{% endmacro %}


{% macro detail_header(page_title=None, subtitle=None, title=None) %}
    <!-- detail header -->
    <div class="rs-detail-header">
        {% block detail_header_action_content %}{% endblock %}
        {% if page_title %}
            <!-- page title -->
            <div class="rs-page-title">{{ page_title }}</div>
            <!-- end page title -->
        {% endif %}
        {% if subtitle %}
            <!-- detail header subtitle -->
            <div class="rs-detail-header-subtitle">{{ subtitle }}</div>
            <!-- end detail header subtitle -->
        {% endif %}
        {% if title %}
            <!-- detail header title -->
            <div class="rs-detail-header-title">{{ title }}</div>
            <!-- end detail header title -->
        {% endif %}
        {{ caller() }}
    </div>
    <!-- end detail header -->
{% endmacro %}


{% macro detail_section(title=None, subtitle=None, collapsible=False, expanded=True) %}
    <!-- detail section -->
    {% if collapsible %}
        <div class="rs-detail-section rs-collapsible-section{% if expanded %} expanded{% endif %}">
    {% else %}
        <div class="rs-detail-section">
    {% endif %}
        <div class="rs-detail-section-header">
            {% if collapsible and (title or subtitle) %}
                <div class="rs-caret"></div>
            {% endif %}
            {% if title %}
                <!-- detail section title -->
                <div class="rs-detail-section-title">{{ title }}</div>
                <!-- end detail section title -->
            {% endif %}
            {% if subtitle %}
                <!-- detail section subtitle -->
                <div class="rs-detail-section-subtitle">{{ subtitle }}</div>
                <!-- end detail section subtitle -->
            {% endif %}
        </div>
        <div class="rs-detail-section-body">
            {{ caller() }}
        </div>
    </div>
    <!-- end detail section -->
{% endmacro %}


{% macro create_view(action, id=None, method="POST") %}
    <!-- create view -->
    <form class="rs-form-create"
          action="{{ action }}" method="{{ method }}" {% if id %}id="{{ id }}"{% endif %} {{ kwargs|xmlattr }}>
        {{ caller() }}
    </form>
    <!-- end create view -->
{% endmacro %}
