{%- from 'canon/canon_detail_list.html' import detail_list with context %}
{% set attr_map = {'type': 'Cart Type', 'exp': 'Expiration', 'last4': 'Card Number'} %}
<div class="rs-detail-section">
    <div class="rs-detail-section-header">
        <div class="rs-detail-section-title">Credit Card</div>
    </div>
    <div class="rs-detail-section-body">
        {% if manually_invoiced %}
            <strong>Your account is manually invoiced.</strong>
        {% else %}
            {% if active_card %}
                {{ detail_list(active_card, attr_map) }}
            {% else %}
                <strong>This account has no credit card information on file. Please add a card below.</strong>
            {% endif %}

 <form id="set_cc_form" name="set_cc_form" method="POST" action="{{ url_for('set_credit_card') }}" windowTitle="Set Credit Card" windowLabel="Set Card">

                <button type="button" id="set_cc_button" class="rs-btn rs-btn-primary cc_button">Set Credit Card</button>
                <input type="hidden" name="stripe_token" id="stripe_token">
                <input type="hidden" name="returntarget" value="{{ url_for('billing') }}">
            </form>
        {% endif %}
    </div>
</div>
