{%- from 'canon/canon_detail_list.html' import detail_list with context %}
{% if manually_invoiced %}
    {% set attr_map = {'name': 'Plan', 'amount': 'Monthly Cost'} %}
{% else %}
    {% set attr_map = {'name': 'Plan', 'amount': 'Monthly Cost', 'start_date': 'Start Date', 'next_bill_date': 'Next Payment Due'} %}
{% endif %}
<div class="rs-detail-section">
    <div class="rs-detail-section-header">
        <div class="rs-page-title">Billing</div>
        <div class="rs-detail-section-title">Invoices</div>
    </div>
    <div class="rs-detail-section-body">
        {% if not subscription %}
            <p>You are not currently subscribed to a plan.</p>
        {% else %}
            {{ detail_list(subscription, attr_map) }}
        {% endif %}
    </div>
</div>
