{%- from 'canon/canon_detail_list.html' import detail_list with context %}
{% extends 'web_app_base.html' %}
{% set account_attr_map = {'name': 'Account', 'id': 'Invoice', 'date': 'Date'} %}
{% set header_obj = {'name': account.name, 'id': invoice.id, 'date': format_timestamp(invoice.date, false)} %}
{% if invoice['lines']['subscriptions'] %}
  {% set plan_id = invoice['lines']['subscriptions'][0]['plan']['id'] %}
  {% set plan_name = invoice['lines']['subscriptions'][0]['plan']['name'] %}
{% else %}
  {% set plan_id = 'Custom Plan' %}
  {% set plan_name = invoice['lines']['invoiceitems'][0]['description'] %}
{% endif %}
{% set amount_due = '%8.2f' | format(invoice.amount_due / 100) %}
{% set invoice_status = 'Paid In Full' if invoice.paid else 'Payment Due' %}


{% block nav_secondary_content %}
<li class="rs-nav-item"><a class="rs-nav-link" href="{{ url_for('billing') }}">Billing</a></li>
<li class="rs-nav-item active"><a class="rs-nav-link">Invoices</a></li>
{% endblock %}

{% block title %}
Invoice {{ invoice['id'] }}
{% endblock %}

{% block content_area_body %}
<div class="rs-detail-section">
<div class="rs-detail-section-header">
<img src="/static/art/ObjectRocket4Black2.png" class="invoice-logo">
</div>
    <div class="rs-detail-section-body">
        <div class="rs-row">
            <div class="span-4">
                <address>
                    <strong>ObjectRocket, Inc.</strong><br>
                    701 Brazos Street<br>
                    Suite 1601<br>
                    Austin, TX 78701<br>
                </address>
            </div>
            <div class="small-span-8 rs-pull-right">
                {{ detail_list(header_obj, account_attr_map, classes=['rs-pull-right']) }}
            </div>
        </div>
        <div class="rs-row">
            <div class="span-12"><br>&nbsp;</div>
        </div>
        <div class="rs-row">
            <div class="span-12"><h2 class="rs-page-title">Invoice</h2></div>
        </div>
        <div class="rs-row">
            <div class="span-12">
                <table class="rs-list-table">
                    <thead>
                        <tr>
                            <th>Plan ID</th>
                            <th>Plan Description</th>
                            <th>Period Start</th>
                            <th>Period End</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ plan_id }}</td>
                            <td>{{ plan_name }}</td>
                            <td>{{ format_timestamp(invoice.period_start, false) }}</td>
                            <td>{{ format_timestamp(invoice.period_end, false) }}</td>
                            <td>{{ amount_due }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><strong>Total</strong></td>
                            <td><strong>{{ amount_due }}</strong></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><strong>Status</strong></td>
                            <td><strong>{{ invoice_status }}</strong></td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
        <div class="rs-row">
            <div class="span-12">
                <p style="text-align: center; font-size: 20px;">Thank You For Your Business!</p>
                <hr><br>
            </div>
        </div>
        <div class="rs-row">
            <div class="small-span-4 rs-pull-left">
                <a href="tel:1-888-480-7667">1-888-480-7667</a>
            </div>
            <div class="small-span-4" style="text-align: center;">
                <a href="mailto:support@objectrocket.com">support@objectrocket.com</a>
            </div>
            <div class="small-span-4">
                <a class="rs-pull-right" href="http://objectrocket.com">http://objectrocket.com</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
