<!-- Settings -->
{% extends 'web_app_base.html' %}
{% if instance.type == Constants.MONGODB_SHARDED_INSTANCE %}
    {% set balancer = instance.balancer %}
{% endif %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css">
{% endblock %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('instance_details', selected_instance=instance.name) }}">Back to Instance Details</a>
    {% endcall %}
{% endblock %}

{% block nav_secondary %}{% endblock nav_secondary %}

{% block content_area_body %}

    <!-- detail header -->
    <div class="rs-detail-header">
        {% call detail_header_actions() %}
            <li><span class="rs-dropdown-category">Views</span></li>
            <li><a class="rs-btn rs-btn-link or-expand-all">Expand All&hellip;</a></li>
            <li><a class="rs-btn rs-btn-link or-collapse-all">Collapse All&hellip;</a></li>
        {% endcall %}
        <!-- detail header subtitle -->
        <div class="rs-detail-header-subtitle">Instance Settings</div>
        <!-- end detail header subtitle -->

        <!-- detail header title -->
        <div class="rs-detail-header-title">{{ instance.name }}</div>
        <!-- end detail header title -->
    </div>
    <!-- end detail header -->

    {% call create_view(action=url_for('update_settings', selected_instance=instance.name), id='settings') %}
        {% if balancer %}
            {% call detail_section(title='General', collapsible=true) %}
                <div class="rs-control-group">
                    <label class="rs-control-label">RocketScale Threshold</label>
                    <div class="rs-controls">
                        <input type="text" name="autoadd_shard_threshold" value="{{ instance.settings.autoadd_shard_threshold[0] or 0 }}"> %
                        <span class="rs-help-block">RocketScale will add shards when this amount of space is consumed on any shard. Empty field or zero is off</span>
                    </div>
                </div>
                <div class="rs-control-group">
                    <label class="rs-control-label">Profiling Level</label>
                    <div class="rs-controls">
                        <select name="profiling_level">
                            {% set profiling_level = instance.settings.get('profiling_level', ['0'])[0] %}
                            {% for name in ["Off", "Slow", "All"] %}
                            <option value="{{ loop.index }}"{% if '{}'.format(loop.index) == profiling_level %} selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                        <span class="rs-help-block">Profiler level, slow is defined as anything > 20ms. This setting may take a few minutes to take effect.</span>
                    </div>
                </div>
                <div class="rs-control-group">
                    <label class="rs-control-label">Auto Key</label>
                    <div class="rs-controls">
                        {% set auto_key = instance.settings.get('auto_shard_key', ['off'])[0] %}
                        {% set auto_key_checked = auto_key == 'on' %}
                        <input type="checkbox" name="auto_shard_key_checkbox" {% if auto_key_checked %}checked{% endif %}>
                        <input type="hidden" name="auto_shard_key" value="{{ auto_key }}">
                        <span class="rs-help-block">Automatically applies hashed shard keys on _id to collections (over 256MB) that don't already have a shard key defined.</span>
                    </div>
                </div>
            {% endcall %}
            {% call detail_section(title='Balancer', collapsible=true) %}
                <div class="rs-control-group">
                    <label class="rs-control-label">Balancer</label>
                    <div class="rs-controls">
                        {% set balancer_on = instance.settings.get('balancer', ['off'])[0] == 'on' %}
                        <input type="checkbox" name="balancer_checkbox" {% if balancer_on %}checked{% endif %}>
                        <input type="hidden" name="balancer" value="{{ 'on' if balancer else 'off' }}">
                        <span class="rs-help-block">Enables and disables the Balancer. The balancer is currently {{ 'enabled' if balancer_on else 'disabled' }}</span>
                    </div>
                </div>
                <div class="rs-control-group">
                    <label class="rs-control-label">Balancer Window</label>
                    <div class="rs-controls">
                        {% set balancer_window = instance.settings.get('balancer_window', ['off'])[0] %}
                        {% set balancer_window_on = balancer_window == 'on' %}
                        {% set balancer_window_start = instance.settings.get('balancer_window_start', [''])[0] %}
                        {% set balancer_window_stop = instance.settings.get('balancer_window_stop', [''])[0] %}
                        <input type="checkbox" name="balancer_window_checkbox" {% if balancer_window_on %}checked{% endif %}>
                        <input type="hidden" name="balancer_window" value="{{ balancer_window }}">
                        <span class="rs-help-block">Enables / disables the balancer window. Off allows the balancer to run at any time.</span>
                    </div>
                </div>
                <div class="rs-control-group">
                    <label class="rs-control-label">Balancer Schedule</label>
                    <div class="rs-controls">
                        <label>Start</label>
                        <input type="text" name="balancer_window_start" value="{{ balancer_window_start or '23:00' }}">
                        <label>Stop</label>
                        <input type="text" name="balancer_window_stop" value="{{ balancer_window_stop or '05:00' }}">
                        <span class="rs-help-block">Defines the window of time when the Balancer is permitted to run.</span>
                    </div>
                </div>
            {% endcall %}
        {% endif %}
        {% call detail_section(title='Stepdown Window', collapsible=true) %}
            <div class="rs-control-group">
                <label class="rs-control-label">Stepdown Scheduled</label>
                <div class="rs-controls">
                    {% set stepdown_scheduled = instance.stepdown_scheduled %}
                    <input type="checkbox" name="stepdown_scheduled_checkbox" {% if stepdown_scheduled %}checked{% endif %}>
                    <input type="hidden" name="stepdown_scheduled" value="{{ 'on' if stepdown_scheduled else 'off' }}">
                    <span class="rs-help-block">Schedules your instance's primaries for step down.</span>
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label">Stepdown Window</label>
                <div class="rs-controls">
                    {% set stepdown_window = instance.stepdown_window %}
                    {% set stepdown_window_enabled = stepdown_window.get('enabled', false) %}
                    {% set stepdown_weekly = stepdown_window.get('weekly', False) %}
                    {% set compaction_requested = instance.settings.get('weekly_compaction_enabled', ['off'])[0] == 'on' %}
                    <input type="checkbox" name="stepdown_window_enabled_checkbox" {% if stepdown_window_enabled %}checked{% endif %}>
                    <input type="hidden" name="stepdown_window_enabled" value="{{ 'on' if stepdown_window_enabled else 'off' }}">
                    <label>Start</label>
                    <input type="text" name="stepdown_window_start" value="{{ stepdown_window.get('start', '') }}">
                    <label>End</label>
                    <input type="text" name="stepdown_window_end" value="{{ stepdown_window.get('end', '') }}">
                    <span class="rs-help-block">Defines the window of time when we can step down your current primary. Times are specified in UTC. For more information, please visit the <a href="http://docs.objectrocket.com/settings_guide.html#stepdown-window" target="_blank">settings documentation</a>.</span>
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label">Enable Weekly Stepdown</label>
                <div class="rs-controls">
                    <input type="checkbox" name="stepdown_window_weekly_checkbox" {%if stepdown_weekly %}checked{% endif %}>
                    <input type="hidden" name="stepdown_window_weekly" value="{{ 'on' if stepdown_weekly else 'off' }}">
                    <span class="rs-help-block">Enables weekly stepdowns.</span>
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label">Enable Weekly Compaction</label>
                <div class="rs-controls">
                    {% set weekly_compaction_enabled = instance.settings.get('weekly_compaction_enabled', ['off'])[0] == 'on' %}
                    <input type="checkbox" name="weekly_compaction_enabled_checkbox" {% if weekly_compaction_enabled %}checked{% endif %}>
                    <input type="hidden" name="weekly_compaction_enabled" value="{{ 'on' if weekly_compaction_enabled else 'off' }}">
                    <span class="rs-help-block">Enable Weekly Compaction to allow this instance to be automatically compacted during the defined window. Run Weekly must also be enabled. For more information, please visit the <a href="http://docs.objectrocket.com/settings_guide.html#stepdown-window" target="_blank">settings documentation</a>.</span>
                </div>
            </div>
        {% endcall %}
        {% call detail_section(title='External Integration', collapsible=true) %}
            <div class="rs-control-group">
                <label class="rs-control-label">New Relic Monitoring</label>
                <div class="rs-controls">
                    {% set new_relic_monitoring = instance.settings.get('new_relic_monitoring', ['off'])[0] == 'on' %}
                    <input type="checkbox" name="new_relic_monitoring_checkbox" {% if new_relic_monitoring %}checked{% endif %}>
                    <input type="hidden" name="new_relic_monitoring" value={{ 'on' if new_relic_monitoring else 'off' }}>
                    <span class="rs-help-block">Send metrics about this instance to your New Relic account.
                    This requires you <a href="{{ url_for('external') }}">add a valid New Relic license key.</a>
                    </span>
                </div>
            </div>
            <div class="rs-control-group">
                <label class="rs-control-label">ACLSync</label>
                <div class="rs-controls">
                    {% set create_acls_for_aws_ips = instance.settings.get('create_acls_for_aws_ips', ['off'])[0] == 'on' %}
                    <input type="checkbox" name="create_acls_for_aws_ips_checkbox" {% if create_acls_for_aws_ips %}checked{% endif %}>
                    <input type="hidden" name="create_acls_for_aws_ips" value="{{ 'on' if create_acls_for_aws_ips else 'off' }}">
                    <span class="rs-help-block">Automatically creates an ACL for each AWS EC2 public or Elastic IP.
                    This requires you <a href="{{ url_for('external') }}">add a valid AWS Key Pair.</a></span>
                </div>
            </div>
        {% endcall %}
        {% if account_monitoring_checks %}
            {% call detail_section(title='Monitoring', collapsible=true) %}
                {% for monitoring_check in account_monitoring_checks %}
                <div class="rs-control-group">
                    <label class="rs-control-label">{{ monitoring_check.display_name }}</label>
                    <div class="rs-controls">
                        <input type="text" maxlength="2" name="{{ monitoring_check.name }}" {% if monitoring_check.name in instance.settings %}value="{{ instance.settings[monitoring_check.name][0] }}"{% endif %}> {{ monitoring_check.display_units }}
                        <span class="rs-help-block">{{ monitoring_check.description }}</span>
                    </div>
                </div>
                {% endfor %}
            {% endcall %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript">
        {% raw %}
            $(function () {
                $('#settings input[type=checkbox]').change(function () {
                    var element = $(this),
                        input_name = element.attr('name').split('_checkbox')[0],
                        real_input = $('input[name=' + input_name + ']'),
                        checked = element.is(':checked');

                    real_input.val(checked ? 'on' : 'off');
                });
                $('.rs-detail-section-body').last().append('<button type="submit" class="rs-btn rs-btn-primary">Update Settings</button>');
                ['input[name=balancer_window_start]', 'input[name=balancer_window_stop'].forEach(function (element) {
                    $(element).datetimepicker({datepicker: false, format: 'H:i'});
                });
                ['input[name=stepdown_window_start]', 'input[name=stepdown_window_end]'].forEach(function (element) {
                    $(element).datetimepicker({format: 'm/d/Y H:i'});
                });
            });
        {% endraw %}
    </script>
{% endblock %}
