{% if databases %}
    <table class="rs-list-table rs-embedded-list-table">
        <thead>
            <tr>
                <th></th>
                <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Name</span><span class="rs-table-sort-indicator"></span></a></th>
                <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Objects</span><span class="rs-table-sort-indicator"></span></a></th>
                <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Data Size</span><span class="rs-table-sort-indicator"></span></a></th>
                <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Index Count</span><span class="rs-table-sort-indicator"></span></a></th>
                <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Index Size</span><span class="rs-table-sort-indicator"></span></a></th>
                <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Storage Size</span><span class="rs-table-sort-indicator"></span></a></th>
                <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Average Object Size</span><span class="rs-table-sort-indicator"></span></a></th>
                <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">File Size</span><span class="rs-table-sort-indicator"></span></a></th>
            </tr>
        </thead>
        <tbody id="databases_tbody">
        {% for database in databases %}
            <tr>
                <td><button id="delete-database-target-{{ loop.index }}" data-count="{{ loop.index }}" data-popover="delete-database-popover" data-popover-target="delete-database-target-{{ loop.index }}" data-popover-position="right" class="rs-delete rs-popover-source"></button></td>
                <td class="rs-table-text" id="database-{{ loop.index }}"><a href="{{ url_for('database', selected_instance=instance.name, selected_database=database.name) }}">{{ database.name }}</a></td>
                <td class="rs-table-text">{{ database.object_count }}</td>
                <td class="rs-table-text">{{ database.data_size_in_bytes|filesizeformat(binary=True) }}</td>
                <td class="rs-table-text">{{ database.index_count }}</td>
                <td class="rs-table-text">{{ database.index_size_in_bytes|filesizeformat(binary=True) }}</td>
                <td class="rs-table-text">{{ database.storage_size_in_bytes|filesizeformat(binary=True) }}</td>
                <td class="rs-table-text">{{ database.average_object_size_in_bytes|filesizeformat(binary=True) }}</td>
                <td class="rs-table-text">{{ database.file_size_in_bytes|filesizeformat(binary=True)}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="rs-table-overlay">
        <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-title">You don't have any databases yet.</div>
            <div class="rs-table-overlay-subtitle">Create one now by clicking on the Add Database button.</div>
        </div>
    </div>
{% endif %}
