<div class="rs-detail-key">Space Usage</div>
<div id="space_usage_data" class="rs-detail-value">
    {% set usage = usage_totals['total_file_size'] + usage_totals['total_ns_size'] %}
    <span>{{ usage|filesizeformat }} of {{ instance.size if instance.type == Constants.MONGODB_SHARDED_INSTANCE else 5 }} GB</span>
    <span data-title="
    <h4>Legend:</h4>
    <p><span class='rs-status or-status-ns'>Ns: {{ usage_totals['total_ns_size']|filesizeformat }}</span> The total size of the namespace files for all databases.</p>
    <p><span class='rs-status or-status-data'>Data: {{ usage_totals['total_data_size']|filesizeformat }}</span> The total size in bytes of the data held in all database.</p>
    <p><span class='rs-status or-status-index'>Indexes: {{ usage_totals['total_index_size']|filesizeformat }}</span> The total size in bytes of all indexes created on all databases.</p>
    <p><span class='rs-status or-status-storage'>Storage: {{ usage_totals['total_storage_size']|filesizeformat }}</span> The total amount of space in bytes allocated to collections in all database for document storage.</p>
    <p><span class='rs-status rs-status-ok'>Total File: {{ usage_totals['total_file_size']|filesizeformat }}</span> The total size in bytes of the data files that hold the databases, not including the namespace files.</p>
    <p><b>Notice:</b> The space usage represented here includes the size of administrative databases.</p>"
          data-delay="0.1" class="rs-icon-help tip valign-baseline"></span>
    <div class="rs-progress">
        <div class="rs-progress-inner or-flexbox-row">
            {% if 'overage' in usage_totals %}
                <div id="usage-bar-overage" class="rs-segment" style="width: 100%;">
                    <div class="rs-bar or-bar-overage"></div>
                    <div class="rs-caption">{{ usage_totals['overage']|filesizeformat }} Above Threshold</div>
                </div>
            {% else %}
                <div id="usage-bar-ns" class="rs-segment" style="width: {{ usage_totals['percentages']['ns'] }}%;">
                    <div class="rs-bar or-bar-ns"></div>
                    <!-- Avoid caption overcrowding. -->
                    {% if usage_totals['percentages']['ns'] > 2 %}<div class="rs-caption">Ns</div>{% endif %}
                </div>
                <div id="usage-bar-data" class="rs-segment" style="width: {{ usage_totals['percentages']['data'] }}%;">
                    <div class="rs-bar or-bar-data"></div>
                    <!-- Avoid caption overcrowding. -->
                    {% if usage_totals['percentages']['data'] > 4 %}<div class="rs-caption">Data</div>{% endif %}
                </div>
                <div id="usage-bar-indexes" class="rs-segment" style="width: {{ usage_totals['percentages']['index'] }}%;">
                    <div class="rs-bar or-bar-index"></div>
                    <!-- Avoid caption overcrowding. -->
                    {% if usage_totals['percentages']['index'] > 5 %}<div class="rs-caption">Indexes</div>{% endif %}
                </div>
                <div id="usage-bar-storage" class="rs-segment" style="width: {{ usage_totals['percentages']['storage'] - usage_totals['percentages']['data'] - usage_totals['percentages']['index'] }}%;">
                    <div class="rs-bar or-bar-storage"></div>
                    <div class="rs-caption">Storage</div>
                </div>
                <div id="usage-bar-remainder" class="rs-segment" style="width: {{ usage_totals['percentages']['remaining'] }}%;">
                    <div class="rs-bar"></div>
                    <!-- Avoid caption overcrowding. -->
                    {% if usage_totals['percentages']['remaining'] > 5 %}<div class="rs-caption">Free</div>{% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
