{% extends 'web_app_base.html' %}

{% block title %}
    Create Collection
{% endblock title %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('database', selected_instance=instance.name, selected_database=database.name) }}">&lsaquo; Back to Database Details</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    <form id="collection-create-form" class="rs-form-create" action="{{ url_for('create_collection', selected_instance=instance.name, selected_database=database.name) }}" method="POST">
        <div class="rs-detail-section">
            <div class="rs-detail-section-header">
                <h2 class="rs-page-title">Create Collection</h2>
                <div class="rs-detail-section-title">Collection Details</div>
            </div>

            <div class="rs-detail-section-body">
                <!-- default input values -->
                <input id="service_type" name="service_type" type="hidden" value="{{ instance.service }}"/>
                <input id="version" name="version" type="hidden" value="{{ Constants.SERVICE_VERSIONS_MAP[instance.service]['default'] }}"/>
                <!-- end default input values -->

                <div class="rs-control-group">
                    <label class="rs-control-label" for="collection">Collection Name</label>
                    <div class="rs-controls">
                        <input id="collection" name="collection" class="rs-input-large" type="text">
                    </div>
                </div>

                {% if is_sharded_instance %}
                <div class="rs-control-group">
                    <label class="rs-control-label" for="autohash-checkbox">Automatically hash on _id</label>
                    <div class="rs-controls">
                        <input id="autohash-checkbox" name="autohash-checkbox" type="checkbox" checked="true" value="ascending">
                    </div>
                </div>

                <div id="shard-keys-input" class="hidden">
                    <div class="rs-control-group">
                        <label class="rs-control-label" for="shardkeys">Enter Shard Key</label>
                        <div id="shard_key_input_div" class="rs-controls">
                            <input id="shardkeys" name="shardkeys" type="text" class="rs-input rs-input-medium">&nbsp;
                            <button id="add-key-button" form="" class="rs-btn rs-btn-primary">Add Key</button>
                            <span class="rs-help-block">Key(s) on which to shard this collection.</span>
                        </div>
                    </div>

                    <div class="rs-control-group">
                        <label class="rs-control-label" for="hashed-key-checkbox">Hashed</label>
                        <div class="rs-controls">
                            <input id="hashed-key-checkbox" name="hashed-key-checkbox" type="checkbox" value="ascending">
                        </div>
                    </div>

                    <div id="shard-keys" class="rs-control-group">
                        <label id="shard_key_label" class="rs-control-label">Selected Shard Keys</label>
                        <div class="rs-controls">
                            <div id="shard-key-div">
                                <pre id="shard-key-pre" class="align-center min-height-1em"></pre>
                                <p class="rs-help-block">A background index will be created for these keys.</p>
                            </div>
                        </div>
                        <input id="shard-key-value" type="hidden" name="all_shard_keys" value="">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="rs-detail-section">
            <div class="rs-detail-section-header rs-btn-group">
                <button id="collection-create-button" class="rs-btn rs-btn-primary save">Create Collection</button>
                <a href="{{ url_for('database', selected_instance=instance.name, selected_database=database.name) }}" class="rs-btn rs-btn-link cancel">Cancel</a>
            </div>
        </div>
    </form>
{% endblock content_area_body %}
{% block script %}
    {{ super() }}

    <script type="text/javascript" src="/static/js/shard_key.js"></script>
    <script type="text/javascript">
    var toggleShardKeyInputDisplay = function() {
        if ($('#autohash-checkbox').is(':unchecked')) {
            $('#shard-keys-input').removeClass('hidden');
        } else {
            $('#shard-keys-input').addClass('hidden');
        }
    }

    $(document).ready(function () {

        var instanceVersion = {{ instance.version|tojson|safe }};
        var isShardedInstance = {{ is_sharded_instance|tojson|safe }};

        hashedKeyEnabled = false;

        var versionDigits = instanceVersion.split('.');
        var majorVersion = versionDigits[0];
        var minorVersion = versionDigits[1];

        // Determine if key hashing should be enabled.
        if (majorVersion >= 2) {
            if (minorVersion >= 4) {
                hashedKeyEnabled = true;
            } else {
                hashedKeyEnabled = false;
            }
        } else {
            hashedKeyEnabled = false;
        }

        // Show shard key group if dealing with a sharded instance and hashedKeyEnabled.
        if (isShardedInstance) {
            if (hashedKeyEnabled) {
                $('#shard-keys-group').removeClass('hidden');
            } else {
                $('#shard-keys-group').addClass('hidden');
            }
        } else {
            $('#shard-keys-group').addClass('hidden');
        }

        // Show shard key input if autohash-checkbox is not checked.
        toggleShardKeyInputDisplay();
        $('#autohash-checkbox').change(function() {
            toggleShardKeyInputDisplay();
        });

        // Clear data when hashed-key-checkbox is clicked.
        $('#hashed-key-checkbox').click(function() {
            $('#shard-key-div').data('keys', {});
            $('#shard-key-pre').text('');
            $('#shardkeys').val('');
        });

        // Listener for the submit button
        $('#collection-create-button').click(function(event) {
            event.preventDefault();
            form = $('#collection-create-form');

            if (isShardedInstance) {
                var shardKeys = $('#shard-key-div').data('keys');

                if ($.isEmptyObject(shardKeys)) {
                    if ($('#autohash-checkbox').is(':checked')) {
                        var shardKeys = {'_id': 'hashed'};
                    } else {
                        var validator = $form.validate();
                        validator.showErrors({"shardkeys": "A shard key is required."});
                        return false;
                    }
                }
                var encodedShardKeys = JSON.stringify(shardKeys);
                $('#shard-key-value').attr('value', encodedShardKeys);
            }
            $(form).submit();
        });

        // Update the list of shard keys as they are added.
        $('#add-key-button').click(function() {
            var shardKey = $('#shardkeys').val();

            if (shardKey) {
                if (shardKey === '') {
                    return false;
                }

                if (containsInvalidShardKeyCharacters(shardKey)) {
                    var validator = $('#add-collection-popover-form').validate();
                    validator.showErrors({"shardkeys": 'Cannot contain /\ ",*<>:|?{}'});
                    return false;
                }

                var shardKeys = $('#shard-key-div').data('keys');

                if (!shardKeys) {
                    shardKeys = {};
                }

                if (!shardKeys.shardKey) {
                    var shardKeyLabel = '<label>' + $('#shardkeys').val() + '</label>'
                    var shardKeyQualifier = 1;

                    if ($('#hashed-key-checkbox').is(':checked')) {
                        shardKeyQualifier = 'hashed';
                        shardKeys = {};
                    }

                    shardKeys[shardKey] = shardKeyQualifier;
                    $('#shard-key-div').data('keys', shardKeys);

                    $('#shard-key-pre').text(JSON.stringify(shardKeys));
                    $('#shardkeys').val('');
                }
            }
        });

        // Add validator method.
        $.validator.addMethod("noSpecialCharacters", function(value, element) {
            return !containsInvalidShardKeyCharacters(value);
        }, 'Cannot contain /\ "*<>:|?{}');

        $.validator.addMethod("system", function(value, element) {
            return !/system\.\S*/.test(value);
        }, 'Collections cannot use the "system" namespace');

        // Validation for collection-create-form.
        $('#collection-create-form').validate({
            rules: {
                collection: {
                    minlength: 1,
                    required: true,
                    system: true
                }
            },
            errorClass: 'rs-validation-block',
            errorElement: 'span',
            highlight: function (label) {
                $(label).closest('.rs-control-group').removeClass('success');
                $(label).closest('.rs-control-group').addClass('error');
            },
            success: function(label) {
                $(label).closest('.rs-control-group').removeClass('error');
                $(label).closest('.rs-control-group').addClass('success');
            }
        });

    });
    </script>

{% endblock script %}
