{% extends 'web_app_base.html' %}

{% block title %}
    Create Instance
{% endblock title %}

{% block sidebar %}
    {% call sidebar_help(hidden=False) %}
        <h3>Creating Instances</h3>
        <h4>What Are Instances?</h4>
        <p>Instances are the core of ObjectRocket services. Create an instance that fits your software needs.</p>
        <p><a target="blank" href="http://docs.objectrocket.com/">Visit Our Knowledge Center &raquo;</a></p>
    {% endcall %}
{% endblock sidebar %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('instances') }}">&lsaquo; Back to Instances</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    <form id="instances-create-form" class="rs-form-create" action="{{ url_for('create_instance') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="rs-detail-section">
            <div class="rs-detail-section-header">
                <h2 class="rs-page-title">Create Instance</h2>
                <div class="rs-detail-section-title">Instance Details</div>
            </div>

            <div class="rs-detail-section-body">
                <div class="rs-control-group">
                    <label class="rs-control-label">Instance Name</label>
                    <div class="rs-controls">
                        {{ form.name(class='rs-input-large', id='name') }}
                    </div>
                </div>

                <div id="service-type" class="rs-control-group">
                    <label class="rs-control-label">Engine</label>
                    <div class="rs-controls">
                        <label class="rs-radio">
                            <input checked name="service_type" type="radio" value="mongodb"/>
                            <strong>MongoDB</strong> -
                            Document-Oriented NoSQL database
                            <span class="rs-icon-help tip" data-title='
                                <h4>MongoDB — {{ Constants.SERVICE_VERSIONS_MAP["mongodb"]["default"] }}</h4>
                                <p><i><a href="http://docs.mongodb.org/manual/release-notes/2.4/" target="1">Release Notes</a></i></p>
                                <ul>
                                    <li>3 member Replica Set</li>
                                    <li>Solid State disk (SSD)</li>
                                    <li>24x7 email Support</li>
                                </ul>' data-delay="0.1">
                            </span>

                        </label>

                        {% if Constants.TOKUMX_SERVICE in active_datastores %}
                        <label class="rs-radio">
                            <input name="service_type" type="radio" value="tokumx"/>
                            <strong>TokuMX</strong> -
                            Custom MongoDB Distribution
                            <span class="rs-icon-help tip" data-title='
                                <h4>TokuMX — {{ Constants.SERVICE_VERSIONS_MAP["tokumx"]["default"] }}</h4>
                                <p><i><a href="http://www.tokutek.com/products/tokumx-for-mongodb/" target="1">Additional Information</a></i></p>
                                <ul>
                                    <li>3 member Replica Set</li>
                                    <li>Solid State disk (SSD)</li>
                                    <li>24x7 email Support</li>
                                </ul>' data-delay="0.1">

                            </span>
                        </label>
                        {% endif %}

                        {% if Constants.REDIS_SERVICE in active_datastores %}
                        <label class="rs-radio">
                            <input name="service_type" type="radio" value="redis"/>
                            <strong>Redis</strong> -
                            In-memory key-value Datastore
                            <span class="rs-icon-help tip" data-title='
                                <h4>Redis - {{ Constants.SERVICE_VERSIONS_MAP["redis"]["default"] }}</h4>
                                <p><i><a href="http://download.redis.io/redis-stable/00-RELEASENOTES" target="1">Release Notes</a></i></p>
                                <ul>
                                    <li>2 Node HA</li>
                                    <li>Automatic Failover</li>
                                    <li>24x7 email Support</li>
                                </ul>' data-delay="0.1">
                            </span>
                        </label>
                        {% endif %}
                    </div>
                </div>

                <!-- service type version -->
                {{ form.version(id='version') }}
                <!-- end service type version -->

                <div class="rs-control-group">
                    <label class="rs-control-label">Zone</label>
                    <div class="rs-controls">
                        <select name="zone" id="zone">
                            <!-- Populated by JS. -->
                        </select>
                        <div class="rs-help-block">The datacenter in which your instance is provisioned.</div>
                    </div>
                </div>

                <div class="rs-control-group">
                    <label class="rs-control-label">Plan</label>
                    <div class="rs-controls">
                        <select name="plan" id="plan_select">
                            <!-- Populated by JS. -->
                        </select>
                        <div class="rs-help-block" id="service_type">
                            <span id="service_type_mongodb_sharded">
                                <strong>Sharded Instance</strong>
                                The plan is the base size of your instance. Each new
                                shard added to your instance will increase your
                                instance size by increments of the plan size you select.
                            </span>
                            <span id="service_type_mongodb_replica_set" style="display:none">
                                <strong>Replica Set</strong>
                                The plan is the base size of your instance.
                            </span>
                            <span id="service_type_redis_ha" style="display:none">
                                <strong>HA Redis</strong>
                                The plan is the base size of your instance.
                            </span>
                        </div>
                    </div>
                </div>

                <div class="rs-control-group hidden" id="network_option">

                    <label class="rs-control-label">Network</label>
                    <div class="rs-controls">
                        <div>
                            <label class="rs-radio">
                                <input name="network" type="radio" value="public" id='public_network' checked/>
                                <strong>Public</strong> -
                                Public network for internet access
                            </label>
                            <label class="rs-radio">
                                <input name="network" type="radio" value="servicenet"/>
                                <strong>Servicenet</strong> -
                                Internal Rackspace Network
                                <span class="rs-icon-help tip" data-title='
                                    <h4Service Net</h4>
                                    <p>ServiceNet is an internal only, multi-tenant network connection within each Rackspace
                                    data center. ServiceNet IP addresses are not accessible from the public Internet and are
                                    local to each data center. Any traffic that occurs between your cloud resources on the
                                    Rackspace Network does not incur bandwidth charges.
                                    </p>' data-delay="0.1">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rs-detail-section">
            <div class="rs-detail-section-header rs-btn-group">
                <div id='snet_warning' class='hidden'>
                    <p>
                        <img src="/static/art/warning.png" />
                        <strong>Warning: </strong>
                        You have selected ServiceNet. This instance will not be
                        accessible via the internet and some UI features may not
                        be available.
                    </p>
                </div>
                <button class="rs-btn rs-btn-primary save">Create Instance</button>
                <a href="{{ url_for('instances') }}" class="rs-btn rs-btn-link cancel">Cancel</a>
            </div>
        </div>
    </form>
{% endblock content_area_body %}
{% block script %}
    {{ super() }}

    <script>
    var serviceVersionsMap = {{ Constants.SERVICE_VERSIONS_MAP|tojson|safe }},
        redisDatacentersAndDisplayNames = {{ Constants.REDIS_DATACENTERS_AND_DISPLAY_NAMES|tojson|safe }},
        tokumxDatacentersAndDisplayNames = {{ Constants.TOKUMX_DATACENTERS_AND_DISPLAY_NAMES|tojson|safe }},
        mongodbDatacentersAndDisplayNames = {{ Constants.MONGODB_DATACENTERS_AND_DISPLAY_NAMES|tojson|safe }},
        serviceToDatacentersMap = {{ Constants.SERVICE_TO_DATACENTERS_MAP|tojson|safe }};

    var usPrices = [
        {val: 1, text: '1GB SMALL $19.00/mo'},
        {val: 5, text: '5GB MEDIUM $149.00/mo', default: true},
        {val: 20, text: '20GB MEDIUM $399.00/mo'},
        {val: 50, text: '50GB MEDIUM $899.00/mo'},
        {val: 100, text: '100GB MEDIUM $1,599.00/mo'},
    ];

    var lonPrices = [
        {val: 1, text: '1GB SMALL $25.00/mo'},
        {val: 5, text: '5GB MEDIUM $190.00/mo', default: true},
        {val: 20, text: '20GB MEDIUM $500.00/mo'},
        {val: 50, text: '50GB MEDIUM $1,125.00/mo'},
        {val: 100, text: '100GB MEDIUM $2,000.00/mo'},
    ];

    var hkgPrices = [
        {val: 1, text: '1GB SMALL $25.00/mo'},
        {val: 5, text: '5GB MEDIUM $195.00/mo', default: true},
        {val: 20, text: '20GB MEDIUM $525.00/mo'},
        {val: 50, text: '50GB MEDIUM $1,175.00/mo'},
        {val: 100, text: '100GB MEDIUM $2,075.00/mo'},
    ];

    var sydPrices = [
        {val: 1, text: '1GB SMALL $25.00/mo'},
        {val: 5, text: '5GB MEDIUM $195.00/mo', default: true},
        {val: 20, text: '20GB MEDIUM $525.00/mo'},
        {val: 50, text: '50GB MEDIUM $1,175.00/mo'},
        {val: 100, text: '100GB MEDIUM $2,075.00/mo'},
    ];

    var redisStandardPrices = [
        {val: '500', text: '500MB SMALL $59.00/mo'},
        {val: '1000', text: '1GB SMALL $99.00/mo', default: true},
        {val: '2500', text: '2.5GB SMALL $219.00/mo'},
        {val: '5000', text: '5GB MEDIUM $429.00/mo'},
        {val: '10000', text: '10GB MEDIUM $849.00/mo'},
        {val: '20000', text: '20GB MEDIUM $1649.00/mo'},
        {val: '50000', text: '50GB LARGE $3999.00/mo'},
    ];

    var redisLonPrices = [
        {val: '500', text: '500MB SMALL $79.00/mo'},
        {val: '1000', text: '1GB SMALL $129.00/mo', default: true},
        {val: '2500', text: '2.5GB SMALL $279.00/mo'},
        {val: '5000', text: '5GB MEDIUM $549.00/mo'},
        {val: '10000', text: '10GB MEDIUM $1049.00/mo'},
        {val: '20000', text: '20GB MEDIUM $2099.00/mo'},
        {val: '50000', text: '50GB LARGE $4999.00/mo'},
    ];

    function buildPlanOptions(pricingMap) {
        var defaultPlan;

        // Clear out #plan_select contents.
        $('#plan_select').empty();

        // Build new '<option>' elements.
        $(pricingMap).each(function () {
            $('#plan_select').append($("<option>").attr('value', this.val).text(this.text));

            // Initialize the default plan to present to the user.
            if ('default' in this) {
                defaultPlan = this.val;
            }
        });

        // Select the defaultPlan if defined, else default to first option.
        if (typeof defaultPlan != 'undefined') {
            $('#plan_select').val(defaultPlan);
        }
    }

    function buildZoneOptions(zoneMap) {
        // Clear out #zone contents.
        $('#zone').empty();

        // Build new '<option>' elements.
        for (key in zoneMap) {
            $('#zone').append($("<option>").attr('value', key).text(zoneMap[key]));
        }

        // Select 'US-East-IAD3' if present in map, else default to first option.
        if ('US-East-IAD3' in zoneMap) {
            $('#zone').val('US-East-IAD3');
        }

    }

    function buildNetworkOptions(){
        var network = $('#network_option input:checked').val(),
            serviceType = $('#service-type input:checked').val();

        $("#network_option").toggle(serviceType == "redis");
        $("#snet_warning").toggle(serviceType == "redis" && network=="servicenet");
    }

    function buildServiceType(){
        var price = $("#plan_select").val(),
            serviceType = $('#service-type input:checked').val();

        if (serviceType == "redis"){

            instanceType = "redis_ha";

        } else if (serviceType == "mongodb" || serviceType == "tokumx"){
            if (price == 1){
                instanceType = "mongodb_replica_set";
            } else {
                instanceType = "mongodb_sharded";
            }
        }
        buildNetworkOptions()
        $('#service_type span').hide();
        $('#service_type_' + instanceType).show();
    }

    $(document).ready(function () {

        // Bind the value of the service selected by default (really should be mongodb).
        var defaultService = $('#service-type input:checked').val();

        // Initialize a value for #version.
        $('#version').attr('value', serviceVersionsMap[defaultService].default);

        // Build and select initial '<option>' elements for #zone & #plan_select.
        buildZoneOptions(serviceToDatacentersMap[defaultService]);
        buildPlanOptions(usPrices);

        // Bind listener to change the value of #version when '#service-type input' changes.
        $('#service-type input').change(function() {
            var versionInput = $('#version'),
                serviceType = $('#service-type input:checked').val();

            versionInput.val(serviceVersionsMap[serviceType].default);
        });

        // Bind listener to change the value of #zone when '#service-type input' changes.
        $('#network input').change(function() {
            var zoneInput = $('#network'),
                serviceType = $('#service-type input:checked').val();

            buildZoneOptions(serviceToDatacentersMap[serviceType]);
        });

        // Bind listener to change the value of #zone when '#service-type input' changes.
        $('#network_option input').change(function() {
            buildNetworkOptions();
        });

        // Bind listener to change pricing map when #zone or '#service_type input' changes.
        $('#zone, #service-type input, #plan').change(function () {
            var prices = usPrices,
                selectedZone = $('#zone').val(),
                serviceType = $('#service-type input:checked').val();

            if (serviceType == 'redis') {
                if (selectedZone == 'EU-London'){
                    prices = redisLonPrices;
                } else {
                    prices = redisStandardPrices;
                }
            } else if (selectedZone == 'EU-London') {
                prices = lonPrices;
            } else if (selectedZone == 'AP-HongKong') {
                prices = hkgPrices;
            } else if (selectedZone == 'AP-Sydney') {
                prices = sydPrices;
            }

            buildPlanOptions(prices);
            buildServiceType();
        });

        $('#plan_select').change(function(){
            buildServiceType();
        })

        // Validator code for instances-create-form.
        $.validator.addMethod("noSpaces", function (value, element) {
            return value.indexOf(" ") < 0 && value != "";
        }, "Spaces are not permitted in instance names");

        $('#instances-create-form').validate({
            rules: {
                name: {
                    minlength: 2,
                    alphanumeric: true,
                    required: true
                }
            },
            errorClass: 'rs-validation-block',
            errorElement: 'span',
            highlight: function (label) {
                $(label).closest('.rs-control-group').removeClass('success');
                $(label).closest('.rs-control-group').addClass('error');
            },
            success: function (label) {
                $(label).closest('.rs-control-group').removeClass('error');
                $(label).closest('.rs-control-group').addClass('success');
            }
        });

    });
    </script>

{% endblock script %}
