{% extends 'web_app_base.html' %}

{% block title %}
    Instances
{% endblock title %}

{% block content_area_body %}
    <div class="rs-inner">
        <h2 class="rs-page-title">Instances</h2>
        <div class="rs-btn-group">
            {% if not add_instance_enabled %}
            <a class="rs-btn rs-btn-primary disabled">Add Instance</a>
            {% else %}
            <a href="{{ url_for('create_instance') }}" class="rs-btn rs-btn-primary">Add Instance</a>
            {% endif %}
        </div>

        {% if instances %}
        <table class="rs-list-table" id="instances-table">
            <thead>
                <tr>
                    <th class="rs-table-status"></th>
                    <th class="rs-table-cog"></th>
                    <th>
                        <a href="#" class="rs-table-sort">
                            <span class="rs-table-sort-text">Name</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" class="rs-table-sort">
                            <span class="rs-table-sort-text">Engine</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" class="rs-table-sort">
                            <span class="rs-table-sort-text">Type</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" class="rs-table-sort">
                            <span class="rs-table-sort-text">Version</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" class="rs-table-sort">
                            <span class="rs-table-sort-text">Zone</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" class="rs-table-sort">
                            <span class="rs-table-sort-text">Plan</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for instance in instances %}
                    <tr>
                        {% if instance.type == Constants.MONGODB_REPLICA_SET_INSTANCE and instance.repair_state %}
                            {% set repair_state = instance.repair_state.get('state', 'not running') %}
                            {% if repair_state == instance.REPAIR_STATE_PAUSED %}
                                {% set state_field = 'Database repair ' + instance.REPAIR_STATE_STARTED %}
                            {% else %}
                                {% set state_field = 'Database repair ' + repair_state %}
                            {% endif %}
                        {% elif 'copy_database' in instance.document %}
                            {% set state_field = 'Database copy ' + instance.document['copy_database'].get('state', 'scheduled') %}
                        {% else %}
                            {% set state_field = none %}
                        {% endif %}

                        <td class="rs-table-status rs-table-status-ok"></td>
                        <td class="rs-table-cog">
                            <div class="rs-dropdown">
                                <div id="instance-{{ loop.index0 }}" class="rs-cog rs-dropdown-toggle"></div>
                                <ul class="rs-dropdown-menu">
                                    <li><span class="rs-dropdown-category">Manage</span></li>
                                    <li><a data-popover="rename-instance-popover" data-count="{{ loop.index0 }}" data-popover-target="instance-{{ loop.index0 }}" data-popover-position="bottom-right" class="rs-btn rs-btn-link rs-popover-source">Rename</a></li>
                                    <li><a data-popover="delete-instance-popover" data-count="{{ loop.index0 }}" data-popover-target="instance-{{ loop.index0 }}" data-popover-position="bottom-right" class="rs-btn rs-btn-link rs-popover-source">Delete</a></li>
                                    {% if instance.type == Constants.MONGODB_SHARDED_INSTANCE %}
                                        <li><a data-popover="compact-instance-popover" data-count="{{ loop.index0 }}" data-popover-target="instance-{{ loop.index0 }}" data-popover-position="bottom-right" class="rs-btn rs-btn-link rs-popover-source">Compact</a></li>
                                    {% endif %}
                                    {% if instance.service in (Constants.MONGODB_SERVICE, Constants.TOKUMX_SERVICE) %}
                                        <li><a data-popover="add-instance-user-popover" data-count="{{ loop.index0 }}" data-popover-target="instance-{{ loop.index0 }}" data-popover-position="bottom-right" class="rs-btn rs-btn-link rs-popover-source">Add User</a></li>
                                    {% endif %}
                                    {% if instance.service == Constants.MONGODB_SERVICE %}
                                        <li><a href="{{ url_for('instance_stats', selected_instance=instance.name) }}" class="rs-btn rs-btn-link">Statistics</a></li>
                                        <li><a href="{{ url_for('instance_settings', selected_instance=instance.name) }}" class="rs-btn rs-btn-link">Manage Settings</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td id="instance-{{ loop.index0 }}-count" class="rs-table-link"><a href="{{ url_for('instance_details', selected_instance=instance.name) }}">{{ instance.name }}</a></td>
                        <td class="rs-table-link">{{ Constants.SERVICE_DISPLAY_NAMES[instance.service] }}</td>
                        <td class="rs-table-link">{{ Constants.TYPE_DISPLAY_NAMES[instance.type] }}</td>
                        {% if instance.service == Constants.TOKUMX_SERVICE %}
                            <td class="rs-table-link">{{ instance.tokumx_version }}</td>
                        {% else %}
                            <td class="rs-table-link">{{ instance.version }}</td>
                        {% endif %}
                        <td class="rs-table-link">{{ instance.zone }}</td>
                        <td class="rs-table-link">
                            {% if instance.service == Constants.REDIS_SERVICE %}
                                {% if instance.plan < 1000 %}
                                    {{ instance.plan }}MB
                                {% elif instance.plan % 1000 != 0 %}
                                    {{ instance.plan / 1000.0 }}G
                                {% else %}
                                    {{ int(instance.plan / 1000.0) }}G
                                {% endif %}
                            {% else %}
                                {{ instance.plan }}G
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif not add_instance_enabled %}
        <div id="instances-table-overlay" class="or-table-overlay">
            <div class="rs-table-overlay-content">
                <div class="rs-table-overlay-title">Welcome to ObjectRocket!</div>
                <form id="set_cc_form" name="set_cc_form" method="POST" action="{{ url_for('set_credit_card') }}" windowTitle="Set Credit Card" windowLabel="Set Card">
                    <div class="rs-table-overlay-subtitle">In order to add instances, please <a href="#" class="cc_button">add a credit card to your account</a>.</div>
                    <input type="hidden" name="stripe_token" id="stripe_token">
                    <input type="hidden" name="returntarget" value="{{ url_for('instances') }}">
                </form>
            </div>
        </div>
        {% else %}
        <div id="instances-table-overlay" class="or-table-overlay">
            <div class="rs-table-overlay-content">
                <div class="rs-table-overlay-title">You don't have any instances yet.</div>
                <div class="rs-table-overlay-subtitle">Create one now by clicking on the Add Instance button.</div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- remote instances section -->
    {% call detail_section(title="Remote Instances", collapsible=True) %}
        <div class="rs-btn-group">
            <a href="{{ url_for('remote_instance') }}" class="rs-btn rs-btn-primary">Add Remote Instance</a>
        </div>
        {% if remote_instances %}
        <table class="rs-list-table">
            <thead>
            <tr>
                <th class="rs-table-status"></th>
                <th class="rs-table-cog"></th>
                <th>
                    <a href="#list-table" class="rs-table-sort">
                        <span class="rs-table-sort-text">Name</span>
                        <span class="rs-table-sort-indicator"></span>
                    </a>
                </th>
                <th>
                    <a href="#list-table" class="rs-table-sort">
                        <span class="rs-table-sort-text">Engine</span>
                        <span class="rs-table-sort-indicator"></span>
                    </a>
                </th>
                <th>
                    <a href="#list-table" class="rs-table-sort">
                        <span class="rs-table-sort-text">Replicated</span>
                        <span class="rs-table-sort-indicator"></span>
                    </a>
                </th>
                <th>
                    <a href="#list-table" class="rs-table-sort">
                        <span class="rs-table-sort-text">Sharded</span>
                        <span class="rs-table-sort-indicator"></span>
                    </a>
                </th>
                <th>
                    <a href="#list-table" class="rs-table-sort">
                        <span class="rs-table-sort-text">SSL</span>
                        <span class="rs-table-sort-indicator"></span>
                    </a>
                </th>
                <th>
                    <a href="#list-table" class="rs-table-sort">
                        <span class="rs-table-sort-text">Status</span>
                        <span class="rs-table-sort-indicator"></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for remote_instance in remote_instances %}
                <tr>
                    {% if remote_instance.disconnected %}
                        <td class="rs-table-status rs-table-status-error"></td>
                    {% else %}
                        <td class="rs-table-status rs-table-status-ok"></td>
                    {% endif %}
                    <td class="rs-table-cog">
                        <div class="rs-dropdown">
                            <div id="remote_instance_{{ loop.index0 }}" class="rs-cog rs-dropdown-toggle"></div>
                            <ul class="rs-dropdown-menu">
                                <li><span class="rs-dropdown-category" id="first">Actions</span></li>
                                <li><a data-popover="rename_remote_instance_popover" data-count="{{ loop.index0 }}"
                                       data-popover-target="remote_instance_{{ loop.index0 }}"
                                       data-popover-position="bottom-right"
                                       class="rs-btn rs-btn-link rs-popover-source">Rename</a></li>
                                <li><a data-popover="remove_remote_instance_popover" data-count="{{ loop.index0 }}"
                                       data-popover-target="remote_instance_{{ loop.index0 }}"
                                       data-popover-position="bottom-right"
                                       class="rs-btn rs-btn-link rs-popover-source">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                    <td id="remote_instance_{{ loop.index0 }}_count" class="rs-table-link">
                        {% if remote_instance.disconnected %}
                            {{ remote_instance.name }}
                        {% else %}
                            <a href="{{ url_for('remote_instance_details', selected_instance=remote_instance.name) }}">
                                {{ remote_instance.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="rs-table-link">MongoDB</td>
                    <td class="rs-table-link">{{ remote_instance.replicated }}</td>
                    <td class="rs-table-link">{{ remote_instance.sharded }}</td>
                    <td class="rs-table-link">{{ remote_instance.ssl }}</td>
                        {% if remote_instance.disconnected %}
                            <td class="rs-table-link">Connection Failure</td>
                        {% else %}
                            <td class="rs-table-link">Okay</td>
                        {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div id="remote-instances-table-overlay" class="or-table-overlay">
            <div class="rs-table-overlay-content">
                <div class="rs-table-overlay-title">You don't have any remote instances yet.</div>
                <div class="rs-table-overlay-subtitle">
                    Remote instances are any MongoDB instance on any cloud provider. Add your instance now to enable free backups.
                </div>
            </div>
        </div>
        {% endif %}
    {% endcall %}
    <!-- end remote instances section -->

{% endblock content_area_body %}

{% block popovers %}
    <!-- rename instance popover -->
    <div id="rename-instance-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="rename-instance-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('rename_instance') }}" method="POST">
                    <div class="rs-control-group">
                        <label class="rs-control-label">New Name</label>
                        <div class="rs-controls">
                            <input id="new_name" name="new_name" type="text" placeholder="" class="rs-input rs-input-medium">
                            <input id="current_name" name="current_name" type="hidden" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="rename-instance-popover-form-button" form="rename-instance-popover-form" class="rs-btn rs-btn-primary save">Rename</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end rename instance popover -->

    <!-- delete instance popover -->
    <div id="delete-instance-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="delete-instance-popover-form" class="rs-form-horizontal rs-form-small" action="" method="POST">
                    <p><b>Permanently delete</b> instance <b id="delete-instance-popover-name"></b>?</p>
                    <p>This will permanently delete the instance and all data within its databases.</p>
                    <input id="instance-input" name="instance" type="hidden" value="">
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="delete-instance-popover-form-button" form="delete-instance-popover-form" class="rs-btn rs-btn-primary save">Delete Instance</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end delete instance popover -->

    <!-- compact instance popover -->
    <div id="compact-instance-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="compact-instance-popover-form" class="rs-form-horizontal rs-form-small" action="" method="POST">
                    <div class="rs-control-group">
                        Request <strong>compaction</strong> for instance <span id="compact-instance-name"></span>?
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="compact-instance-popover-form-button" form="compact-instance-popover-form"
                        class="rs-btn rs-btn-primary save">Compact</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end compact instance popover -->

    <!-- add instance user popover -->
    <div id="add-instance-user-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="add-instance-user-popover-form" class="rs-form-horizontal rs-form-small" action="" method="POST">
                    <h4>Add Instance User</h4>
                    <p>
                        This will add a new user to all currently existing databases belonging to this instance.
                        <br/>
                        <a target="blank" href="http://docs.objectrocket.com/features.html#add-instance-user">More Details About Adding Instance Users</a><span class="rs-icon-external"></span>
                    </p>
                    <div class="rs-control-group">
                        <label class="rs-control-label">Username</label>
                        <div class="rs-controls">
                            <input name="username" type="text" placeholder="Username" class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <div class="rs-control-group">
                        <label class="rs-control-label">Password</label>
                        <div class="rs-controls">
                            <input name="password" type="password" placeholder="Password" class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <div class="rs-control-group">
                        <label class="rs-control-label">Read only</label>
                        <div class="rs-controls">
                            <input type="checkbox" name="read_only">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="add-instance-user-popover-form-button" form="add-instance-user-popover-form" class="rs-btn rs-btn-primary">Add Instance User</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end add instance user popover -->

    <!-- remove remote instance popover -->
    <div id="remove_remote_instance_popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="remove_remote_instance_popover_form" class="rs-form-horizontal rs-form-small"
                      action="{{ url_for('remove_remote_instance') }}" method="POST">
                    <p><b>Remove</b> remote instance <strong id="remove_remote_instance_popover_name"></strong>?</p>
                    <input id="remote_instance_name" name="remote_instance_name" type="hidden" value="">
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="remove_remote_instance_popover_form_button" form="remove_remote_instance_popover_form"
                        class="rs-btn rs-btn-primary save">Delete Remote Instance
                </button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end remove remote instance popover -->

    <!-- rename remote instance popover -->
    <div id="rename_remote_instance_popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="rename_remote_instance_popover_form" class="rs-form-horizontal rs-form-small"
                      action="{{ url_for('rename_remote_instance') }}" method="POST">
                    <div class="rs-control-group">
                        <label class="rs-control-label">New Name</label>

                        <div class="rs-controls">
                            <input id="new_remote_name" name="new_remote_name" type="text" placeholder=""
                                   class="rs-input rs-input-medium">
                            <input id="current_remote_name" name="current_remote_name" type="hidden" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="rename_remote_instance_popover_form_button" form="rename_remote_instance_popover_form"
                        class="rs-btn rs-btn-primary save">Rename
                </button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end remote rename instance popover -->
{% endblock popovers %}

{% block script %}
    {{ super() }}
    {% include 'stripe_js.html' %}

    <script type="text/javascript">
    $(document).ready(function() {
        // Listener for renaming instances.
        $('a[data-popover="rename-instance-popover"]').each(function() {
            $(this).click(function() {
                // Get the instance name.
                var count = $(this).attr('data-count');
                var name = $('#instance-' + count + '-count').text();

                // Inject the instance name into popover.
                $('#new_name').attr('placeholder', name);
                $('#current_name').val(name);
            });
        });

        // Listener for deleting instances.
        $('a[data-popover="delete-instance-popover"]').each(function() {
            $(this).click(function() {
                // Get the instance name.
                var count = $(this).attr('data-count');
                var name = $('#instance-' + count + '-count').text();

                // Inject the instance name into popover.
                $('#delete-instance-popover-form').attr('action', '/' + name + '/delete');
                $('#delete-instance-popover-name').text(name);
                $('#instance-input').val(name);
            });
        });

        // Listener for removing remote instances.
        $('a[data-popover="remove_remote_instance_popover"]').each(function() {
            $(this).click(function() {
                // Get the instance name.
                var count = $(this).attr('data-count');
                var name = $.trim($('#remote_instance_' + count + '_count').text());

                // Inject the remote instance name into popover.
                $('#remove_remote_instance_popover_name').text(name);
                $('#remote_instance_name').val(name);
            });
        });

        // Listener for renaming remote instances.
        $('a[data-popover="rename_remote_instance_popover"]').each(function() {
            $(this).click(function() {
                // Get the instance name.
                var count = $(this).attr('data-count');
                var name = $.trim($('#remote_instance_' + count + '_count').text());

                // Inject the instance name into popover.
                $('#new_remote_name').attr('placeholder', name);
                $('#current_remote_name').val(name);
            });
        });


        if($('#instances-table').children('tbody tr').length) {
            $('#instances-table').DataTable({
                paging: false,
                searching: false,
                info: false,
                processing: false
            });
            $('#instances-table').on('order.dt', function(e, settings) {
                $.each(settings.aoColumns, function(i, c) {
                    $(c.nTh).children('.rs-table-sort').removeClass('rs-table-sort-asc rs-table-sort-desc')
                    switch($(c.nTh).attr('class')) {
                        case 'sorting_asc':
                            $(c.nTh).children('.rs-table-sort').addClass('rs-table-sort-asc');
                            break;
                        case 'sorting_desc':
                            $(c.nTh).children('.rs-table-sort').addClass('rs-table-sort-desc');
                            break;
                    }
                });
            });
        }

        // Listener for requesting an instance compaction.
        $('a[data-popover="compact-instance-popover"]').each(function() {
            $(this).click(function() {
                // Get the instance name.
                var count = $(this).attr('data-count');
                var name = $('#instance-' + count + '-count').text();

                // Inject the instance name into popover.
                $('#compact-instance-popover-form').attr('action', '/' + name + '/compact');
                $('#compact-instance-popover-name').text(name);
                $('#compact-instance-name').text(name);
            });
        });

        // Listener for adding new users to instances.
        $('a[data-popover="add-instance-user-popover"]').each(function() {
            $(this).click(function() {
                // Get the instance name.
                var count = $(this).attr('data-count');
                var name = $('#instance-' + count + '-count').text();

                // Inject the instance name into popover.
                $('#add-instance-user-popover-form').attr('action', '/add_instance_user/' + name);
                $('#add-instance-user-popover-name').text(name);
            });
        });
        
        {% if not add_instance_enabled %}
        var cat = 'orstart',
            qty = 1,
            cost = 200,
            u4 = '',
            ord = uuid;
        {% else %}
        var cat = '_A7ve-',
            qty = 1,
            cost = 300,
            ord = uuid;
        {% endif %}
        
        $('body').append('<iframe src="https://4361691.fls.doubleclick.net/activityi;src=4361691;type=Sales-;cat=' + cat + ';qty=' + qty + ';cost=' + cost + ';u1=' + location.pathname + ';u2=' + uuid + ';u3=' + navigator.language + ';ord=' + uuid + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    });
    </script>
{% endblock script %}
