{% extends 'web_app_base.html' %}

<!--
TODO:
- Link tags inside of sidebar_help
- Add JS for form data
- Cleanup sidebar_help
-->

{% block nav_secondary_content %}
    <!-- TODO:
    - Add class 'active' to the active 'li' view.
    -->
    <li class="rs-nav-item active"><a class="rs-nav-link" href="#">MongoDB</a></li>
{% endblock nav_secondary_content %}

{% block title %}
    Create Instance
{% endblock title %}

{% block sidebar %}
    {% call sidebar_help(hidden=False) %}
        <h3>Setting Up This Item</h3>
        <h4>Next steps help text</h4>
        <p>Short blurb about best practices next steps with this item. Try to keep this to 3 lines maximum.</p>
        <p><a target="blank" href="#">More Details About Blurb &raquo;</a></p>

        <hr>
        <h4>Help Me With...</h4>
        <ul>
            <li><a target="blank" href="#">Best Practice Number One</a></li>
            <li><a target="blank" href="#">Best Practice Number Two</a></li>
            <li><a target="blank" href="#">Best Practice Number Three</a></li>
        </ul>
        <p><a target="blank" href="#">Learn More about This Product &raquo;</a></p>

        <hr>
        <h4>What's Next</h4>
        <ul>
            <li><a target="blank" href="#">Top Action Number One</a></li>
            <li><a target="blank" href="#">Top Action Number Two</a></li>
            <li><a target="blank" href="#">Top Action Number Three</a></li>
        </ul>
        <p><a target="blank" href="#">Visit Our Knowledge Center &raquo;</a></p>
    {% endcall %}
{% endblock sidebar %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="/instances">&lsaquo; Back to Instances</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    <form id="instances-create-form" class="rs-form-create" action="{{ url_for('create_instance') }}" method="POST">
        <div class="rs-detail-section">
            <div class="rs-detail-section-header">
                <h2 class="rs-page-title">Create Instance</h2>
                <div class="rs-detail-section-title">Instance Details</div>
            </div>

            <div class="rs-detail-section-body">
                <!-- default input values -->
                <input id="service_type" name="service_type" type="hidden" value="mongodb"/>
                <input id="version" name="version" type="hidden" value="{{default_mongo_version}}"/>
                <!-- end default input values -->

                <div class="rs-control-group">
                    <label class="rs-control-label">Engine</label>
                    <div class="rs-controls">
                        <select name="serverclass">
                            <option value="mongodb">MongoDB 2.4.6</option>
                        </select>
                    </div>
                </div>

                <div class="rs-control-group">
                    <label class="rs-control-label">Zone</label>
                    <div class="rs-controls">
                        <select name="zone" id='zone'>
                            <option value="US-East-IAD3" selected>US-East-IAD3, AWS Direct Connect</option>
                            <option value="US-West">US-West, AWS Direct Connect</option>
                            <option value="US-Chicago">ORD</option>
                            <option value="EU-London">LON</option>
                            <option value="AP-HongKong">HKG</option>
                            <option value="AP-Sydney">SYD</option>
                        </select>
                    </div>
                </div>

                <div class="rs-control-group">
                    <label class="rs-control-label">Plan</label>
                    <div class="rs-controls">
                        <select name="plan" id='plan_select'>
                            <option value=1>1GB SMALL $19.00/mo</option>
                            <option value=5 selected>5GB MEDIUM $149.00/mo</option>
                            <option value=20>20GB MEDIUM $399.00/mo</option>
                            <option value=50>50GB MEDIUM $899.00/mo</option>
                            <option value=100>100GB MEDIUM $1599.00/mo</option>
                        </select>
                    </div>
                </div>

                <div class="rs-control-group">
                    <label class="rs-control-label">Instance Name</label>
                    <div class="rs-controls">
                        <input id="name" name="name" class="rs-input-large" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="rs-detail-section">
            <div class="rs-detail-section-header rs-btn-group">
                <button class="rs-btn rs-btn-primary save">Create Instance</button>
                <!-- <span class="action_pending"></span> -->
                <a href="{{ url_for('instances') }}" class="rs-btn rs-btn-link cancel">Cancel</a>
            </div>
        </div>
    </form>
{% endblock content_area_body %}
{% block script %}
    {{ super() }}

    <script>
        $(document).ready(function () {

            $.validator.addMethod("noSpaces", function (value, element) {
                return value.indexOf(" ") < 0 && value != "";
            }, "Spaces are not permitted in instance names");

            $('#instances-create-form').validate({
                rules: {
                    name: {
                        minlength: 2,
                        alphanumeric: true,
                        required: true
                    }
                },
                errorClass: 'rs-validation-block',
                errorElement: 'span',
                highlight: function (label) {
                    $(label).closest('.rs-control-group').addClass('error');
                },
                success: function (label) {
                    $(label).closest('.rs-control-group').addClass('success');
                    $(label).closest('.rs-control-group').removeClass('error');
                }
            });

            $('#zone').change(function () {
                var selectedZone = $(this).val();

                var usPrices = [
                    {val: 1, text: '1GB SMALL $19.00/mo'},
                    {val: 5, text: '5GB MEDIUM $149.00/mo'},
                    {val: 20, text: '20GB MEDIUM $399.00/mo'},
                    {val: 50, text: '50GB MEDIUM $899.00/mo'},
                    {val: 100, text: '100GB MEDIUM $1,599.00/mo'},
                ];

                var lonPrices = [
                    {val: 1, text: '1GB SMALL $25.00/mo'},
                    {val: 5, text: '5GB MEDIUM $190.00/mo'},
                    {val: 20, text: '20GB MEDIUM $500.00/mo'},
                    {val: 50, text: '50GB MEDIUM $1,125.00/mo'},
                    {val: 100, text: '100GB MEDIUM $2,000.00/mo'},
                ];

                var hkgPrices = [
                    {val: 1, text: '1GB SMALL $25.00/mo'},
                    {val: 5, text: '5GB MEDIUM $195.00/mo'},
                    {val: 20, text: '20GB MEDIUM $525.00/mo'},
                    {val: 50, text: '50GB MEDIUM $1,175.00/mo'},
                    {val: 100, text: '100GB MEDIUM $2,075.00/mo'},
                ];

                var sydPrices = [
                    {val: 1, text: '1GB SMALL $25.00/mo'},
                    {val: 5, text: '5GB MEDIUM $195.00/mo'},
                    {val: 20, text: '20GB MEDIUM $525.00/mo'},
                    {val: 50, text: '50GB MEDIUM $1,175.00/mo'},
                    {val: 100, text: '100GB MEDIUM $2,075.00/mo'},
                ];

                var prices = usPrices;

                if (selectedZone == 'EU-London') {
                    var prices = lonPrices;
                } else if (selectedZone == 'AP-HongKong') {
                    var prices = hkgPrices;
                } else if (selectedZone == 'AP-Sydney') {
                    var prices = sydPrices;
                }

                $('#plan_select').empty();

                $(prices).each(function () {
                    $('#plan_select').append($("<option>").attr('value', this.val).text(this.text));
                });

                $('#plan_select').val(5);
            });
        });
    </script>

{% endblock script %}