{% extends 'web_app_base.html' %}

<!--
TODO:
- Cleanup sidebar help
-->

{% block nav_secondary_content %}
    <!-- TODO:
    - Add class 'active' to the active 'li' view.
    -->
    <li class="rs-nav-item active"><a class="rs-nav-link" href="javascript:void(0);">MongoDB</a></li>
{% endblock nav_secondary_content %}

{% block sidebar %}
    {% call sidebar_help(hidden=False) %}
        <h3>Managing This Product</h3>
        <h4>Top action helpful text</h4>
        <p>Short blurb about best practices for a top action on this item. Try to keep this to 3 lines maximum.</p>
        <p><a target="blank" href="#">More Details About Blurb &raquo;</a></p>

        <hr>
        <h4>Help Me With...</h4>
        <ul>
            <li><a target="blank" href="#">Best Practice Number One</a></li>
            <li><a target="blank" href="#">Best Practice Number Two</a></li>
            <li><a target="blank" href="#">Best Practice Number Three</a></li>
        </ul>
        <p><a target="blank" href="#">Learn More about This Product &raquo;</a></p>

        <hr>
        <h4>What's Next</h4>
        <ul>
            <li><a target="blank" href="#">Top Action Number One</a></li>
            <li><a target="blank" href="#">Top Action Number Two</a></li>
            <li><a target="blank" href="#">Top Action Number Three</a></li>
        </ul>
        <p><a target="blank" href="#">Visit Our Knowledge Center &raquo;</a></p>
    {% endcall %}
{% endblock sidebar %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="/instances">&lsaquo; Back to Instances</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    {% call detail_header(subtitle='Instance Details') %}
        {% block detail_header_action_content %}
            {% call detail_header_actions() %}
                <li><span class="rs-dropdown-category">Manage</span></li>
                <li><a data-popover="rename-instance-popover" data-popover-target="rename-instance-target" data-popover-position="bottom-right" class="rs-popover-source" href="javascript:void(0);">Rename Instance&hellip;</a></li>
                <li><span class="rs-dropdown-category">Views</span></li>
                <li><a class="or-expand-all" href="javascript:void(0);">Expand All&hellip;</a></li>
                <li><a class="or-collapse-all" href="javascript:void(0);">Collapse All&hellip;</a></li>
            {% endcall %}
        {% endblock %}
        <div class="rs-detail-header-title">
            {{ instance.name }}
            <button id="rename-instance-target" data-popover="rename-instance-popover" data-popover-target="rename-instance-target" data-popover-position="bottom-right" class="rs-edit rs-popover-source"></button>
        </div>
    {% endcall %}

    {% call detail_section(title='Instance Details', collapsible=True) %}
        <ul class="rs-detail-list">
            <li class="rs-detail-item">
                <div class="rs-detail-key">Status</div>
                <div class="rs-detail-value">
                <!-- FIXME(Anthony): What should this actually indicate? -->
                    <div class="rs-status rs-status-ok">Active</div>
                </div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Server</div>
                <div class="rs-detail-value">MongoDB</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Type</div>
                <div class="rs-detail-value">{{instance.type}}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Version</div>
                <div class="rs-detail-value">{{instance.version}}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Zone</div>
                <div class="rs-detail-value">{{instance.zone}}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Plan</div>
                <div class="rs-detail-value">{{instance.plan}}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Shards</div>
                <div class="rs-detail-value">{{ instance.shards|count }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Space Usage</div>
                <div class="rs-detail-value">
                    <span>{{ size_totals['total_data_size']|filesizeformat }} of 5 GB used</span>
                    <div class="rs-progress">
                        <div class="rs-progress-inner">
                            <div id="usage-bar-data" class="rs-segment" style="width: {{ size_totals['percentages']['data'] }}%">
                                <div class="rs-bar rs-bar-ok"></div>
                                <div class="rs-caption">Data</div>
                            </div>
                            <div id="usage-bar-storage" class="rs-segment" style="width: {{ size_totals['percentages']['storage'] }}%">
                                <div class="rs-bar rs-bar-processing"></div>
                                <div class="rs-caption">Allocated</div>
                            </div>
                            <div id="usage-bar-remainder" class="rs-segment" style="width: {{ size_totals['percentages']['remaining'] }}%">
                                <div class="rs-bar"></div>
                                <div class="rs-caption">Free</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Connect String</div>
                <div class="rs-detail-value">{{ instance.host }}:{{ '%.f' | format(instance.port) }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">SSL Connect String</div>
                <div class="rs-detail-value">{{ instance.host }}:{{ "%.f" | format(instance.port + 10000) }}</div>
            </li>
        </ul>
    {% endcall %}

    {% call detail_section(title='Active Operations', collapsible=True) %}
        <ul class="rs-detail-list">
            <li class="rs-detail-item">
                <div class="rs-detail-key">Database Repair</div>
                <div class="rs-detail-value">
                    <span class="rs-status rs-status-disabled">Not running</span>
                </div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Database Copy</div>
                <div class="rs-detail-value">
                    <span class="rs-status rs-status-processing">In progress</span>
                </div>
            </li>
        </ul>
    {% endcall %}

    {% call detail_section(title='Databases', collapsible=True) %}
        <div class="rs-btn-group">
            <button id="add-database-target" data-popover="add-database-popover" data-popover-target="add-database-target" data-popover-position="bottom-right" class="rs-btn rs-btn-primary rs-popover-source">Add Database</button>
            <button id="copy-remote-database-target" data-popover="copy-remote-database-popover" data-popover-target="copy-remote-database-target" data-popover-position="bottom-right" class="rs-btn rs-btn-secondary rs-popover-source">Copy Remote Database</button>
        </div>

        <div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Objects</th>
                        <th>Data Size</th>
                        <th>Index Count</th>
                        <th>Index Size</th>
                        <th>Storage Size</th>
                        <th>Average Object Size</th>
                        <th>File Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% set dbcount = 0 %}
                    {% for database in databases %}
                        <tr>
                            <td><button id="delete-database-target-{{ dbcount }}" data-count="{{ dbcount }}" data-popover="delete-database-popover" data-popover-target="delete-database-target-{{ dbcount }}" data-popover-position="right" class="rs-delete rs-popover-source"></button></td>
                            <td class="rs-table-text" id="database-{{ dbcount }}"><a href='/instances/{{ instance.name }}/{{ database.name }}'>{{ database.name }}</a></td>
                            <td class="rs-table-text">{{ database.object_count }}</td>
                            <td class="rs-table-text">{{ database.data_size_in_bytes|filesizeformat }}</td>
                            <td class="rs-table-text">{{ database.index_count }}</td>
                            <td class="rs-table-text">{{ database.index_size_in_bytes|filesizeformat }}</td>
                            <td class="rs-table-text">{{ database.storage_size_in_bytes|filesizeformat }}</td>
                            <td class="rs-table-text">{{ database.average_object_size_in_bytes|filesizeformat }}</td>
                            <td class="rs-table-text">{{ database.file_size_in_bytes|filesizeformat}}</td>
                        </tr>
                        {% set dbcount = dbcount + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcall %}

    {% call detail_section(title='Shards', collapsible=True) %}
        <div class="rs-btn-group">
            <form action="{{ url_for('add_shard', selected_instance=instance.name) }}" method="POST">
                <button type="submit" class="rs-btn rs-btn-primary">Add Shard</button>
            </form>
        </div>

        <div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th class="rs-table-cog"></th>
                        <th>Name</th>
                        <th>Plan</th>
                        <th>Data Size</th>
                        <th>Index Size</th>
                        <th>Storage Size</th>
                        <th>File Size</th>
                        <th>Shard Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shard in instance.shards %}
                        {% set primary = shard.replica_set.primary %}
                        {% set shard_statistics = aggregate_stats[shard.name] %}
                        {% set primary_oplog_time = primary.oplog_time %}
                        <tr>
                            <td class="rs-table-cog">
                                <div class="rs-dropdown">
                                    <div class="rs-cog rs-dropdown-toggle"></div>
                                    <ul class="rs-dropdown-menu">
                                        <li><span class="rs-dropdown-category" id="first">Identify</span></li>
                                        <li><a href="javascript:void(0);">Edit Item&hellip;</a></li>
                                        <li><a href="javascript:void(0);">Delete Item&hellip;</a></li>
                                    </ul>
                                </div>
                            </td>
                            <!-- FIXME -->
                            <td class="rs-table-text"><a href="{ url_for('shard', selected_instance=instance.name, selected_shard_string=shard.shard_string )}">{{ shard.name }}</a></td>
                            <td class="rs-table-text">{{ shard.plan }}</td>
                            <td class="rs-table-text">{{ shard_statistics[Constants.DATA_SIZE_IN_BYTES]|filesizeformat }}</td>
                            <td class="rs-table-text">{{ shard_statistics[Constants.INDEX_SIZE_IN_BYTES]|filesizeformat }}</td>
                            <td class="rs-table-text">{{ shard_statistics[Constants.STORAGE_SIZE_IN_BYTES]|filesizeformat }}</td>
                            <td class="rs-table-text">{{ shard_statistics[Constants.FILE_SIZE_IN_BYTES]|filesizeformat }}</td>
                            <td class="rs-table-text">
                                <div class="rs-progress">
                                    <div class="rs-progress-inner">
                                        <div class="rs-segment" style="width: {{ shard_statistics[Constants.PERCENTAGE_OF_INSTANCE_FILE_SIZE]|round(1) }}%">
                                            <div class="rs-bar rs-bar-ok"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcall %}

    {% call detail_section(title='Security', collapsible=True) %}
        <div class="rs-btn-group">
            <a class="rs-btn rs-btn-primary">Add ACL</a>
        </div>

        <div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th class="rs-table-status"></th>
                        <th class="rs-table-cog"></th>
                        <th>Source IP CIDR</th>
                        <th>Action</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="acl_table_body"></tbody>
            </table>
        </div>
    {% endcall %}

    {% call detail_section(title='Backups', collapsible=True) %}
        <div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th class="rs-table-status"></th>
                        <th class="rs-table-cog"></th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="backups_table_body"></tbody>
            </table>
        </div>
    {% endcall %}

    {% call detail_section(title='Additional Item Details', collapsible=True) %}
        <ul class="rs-detail-list">
            <li class="rs-detail-item">
                <div class="rs-detail-key">Created</div>
                <div class="rs-detail-value">{{ instance.creation_date }}</div>
            </li>
        </ul>
    {% endcall %}
{% endblock content_area_body %}

{% block popovers %}
    <!-- rename instance popover -->
    <div id="rename-instance-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="rename-instance-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('rename_instance') }}" method="POST">
                    <div class="rs-control-group">
                        <label class="rs-control-label">New Name</label>
                        <div class="rs-controls">
                            <input name="new-name" type="text" placeholder="{{ instance.name }}" class="rs-input rs-input-medium">
                            <input name="current-name" type="hidden" value="{{ instance.name }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="rename-instance-popover-form-button" form="rename-instance-popover-form" class="rs-btn rs-btn-primary save">Rename</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end rename instance popover -->

    <!-- add database popover -->
    <div id="add-database-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="add-database-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('create_instance_user', selected_instance=instance.name) }}" method="POST">
                    <div class="rs-control-group">
                        <label class="rs-control-label">Database Name</label>
                        <div class="rs-controls">
                            <input name="database" type="text" placeholder="Database Name" class="rs-input rs-input-medium">
                        </div>
                    </div>
                    <div class="rs-control-group">
                        <label class="rs-control-label">Username</label>
                        <div class="rs-controls">
                            <input name="username" type="text" placeholder="Username" class="rs-input rs-input-medium">
                        </div>
                    </div>
                    <div class="rs-control-group">
                        <label class="rs-control-label">Password</label>
                        <div class="rs-controls">
                            <input name="password" type="password" placeholder="Password" class="rs-input rs-input-medium">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="add-database-popover-form-button" form="add-database-popover-form" class="rs-btn rs-btn-primary save">Add Database</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end add database popover -->

    <!-- copy remote database popover -->
    <div id="copy-remote-database-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="copy-remote-database-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('create_instance_user', selected_instance=instance.name) }}" method="POST">
                    <div class="rs-control-group">
                        <label class="rs-control-label">New Name</label>
                        <div class="rs-controls">
                            <input name="new-name" type="text" placeholder="{{ instance.name }}" class="rs-input rs-input-medium">
                            <input name="current-name" type="hidden" value="{{ instance.name }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="copy-remote-database-popover-form-button" form="copy-remote-database-popover-form" class="rs-btn rs-btn-primary save">Rename</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end copy remote database popover -->

    <!-- delete database popover -->
    <div id="delete-database-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="delete-database-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('drop_database') }}" method="POST">
                    <p><strong>Permanently delete</strong> database <span id="delete-database-popover-name"></span>?</p>
                    <p>This will permanently delete all data within this database!</p>
                    <input name="instance" type="hidden" value="{{ instance.name }}">
                    <input id="delete-database-db-input" name="db" type="hidden" value="">
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="delete-database-popover-form-button" form="delete-database-popover-form" class="rs-btn rs-btn-primary">Delete Database</button>
                <button class="rs-btn rs-btn-link">Cancel</button>
            </div>
        </div>
    </div>
    <!-- end delete database popover -->
{% endblock popovers %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function() {
        // Validation for renaming instances.
        $('#rename-instance-popover-form').validate({
            rules: {
                'new-name': {
                    minlength: 2,
                    noSpaces: true,
                    required: true
                }
            },
            errorClass: 'rs-validation-block',
            errorElement: 'span',
            highlight: function (label) {
                $(label).closest('.rs-control-group').removeClass('success');
                $(label).closest('.rs-control-group').addClass('error');
            },
            success: function(label) {
                $(label).closest('.rs-control-group').removeClass('error');
                $(label).closest('.rs-control-group').addClass('success');
            }
        });

        // Validation for adding databases.
        $('#add-database-popover-form').validate({
            rules: {
                database: {
                    minlength: 2,
                    required: true
                },
                username: {
                    minlength: 2,
                    required: true
                },
                password: {
                    minlength: 2,
                    required: true
                }
            },
            errorClass: 'rs-validation-block',
            errorElement: 'span',
            highlight: function (label) {
                $(label).closest('.rs-control-group').removeClass('success');
                $(label).closest('.rs-control-group').addClass('error');
            },
            success: function(label) {
                $(label).closest('.rs-control-group').removeClass('error');
                $(label).closest('.rs-control-group').addClass('success');
            }
        });

        // Validation for copying remote databases.
        $('#copy-remote-database-popover').validate({
            rules: {
                database: {
                    minlength: 2,
                    required: true
                },
                username: {
                    minlength: 2,
                    required: true
                },
                password: {
                    minlength: 2,
                    required: true
                }
            },
            errorClass: 'rs-validation-block',
            errorElement: 'span',
            highlight: function (label) {
                $(label).closest('.rs-control-group').removeClass('success');
                $(label).closest('.rs-control-group').addClass('error');
            },
            success: function(label) {
                $(label).closest('.rs-control-group').removeClass('error');
                $(label).closest('.rs-control-group').addClass('success');
            }
        });

        // Listener for delete database buttons.
        $('button[data-popover="delete-database-popover"]').each(function() {
            $(this).click(function() {
                // Get the database's name.
                var count = $(this).attr('data-count');
                var name = $('#database-' + count).text();

                // Inject the database's name into popover.
                $('#delete-database-popover-name').text(name);
                $('#delete-database-db-input').val(name);
            });
        });

    });
    </script>
{% endblock script %}
