{% extends 'web_app_base.html' %}

{% block sidebar %}
    {% call sidebar_help(hidden=False) %}
        <h3>Managing This Product</h3>
        <h4>Top action helpful text</h4>
        <p>Short blurb about best practices for a top action on this item. Try to keep this to 3 lines maximum.</p>
        <p><a target="blank" href="#">More Details About Blurb &raquo;</a></p>

        <hr>
        <h4>Help Me With...</h4>
        <ul>
            <li><a target="blank" href="#">Best Practice Number One</a></li>
            <li><a target="blank" href="#">Best Practice Number Two</a></li>
            <li><a target="blank" href="#">Best Practice Number Three</a></li>
        </ul>
        <p><a target="blank" href="#">Learn More about This Product &raquo;</a></p>

        <hr>
        <h4>What's Next</h4>
        <ul>
            <li><a target="blank" href="#">Top Action Number One</a></li>
            <li><a target="blank" href="#">Top Action Number Two</a></li>
            <li><a target="blank" href="#">Top Action Number Three</a></li>
        </ul>
        <p><a target="blank" href="#">Visit Our Knowledge Center &raquo;</a></p>
    {% endcall %}
{% endblock sidebar %}

{% block back_link_area %}<a href="/instances">&lsaquo; Back to Instances</a>{% endblock back_link_area %}

{% block content_area_body %}
<div class="rs-detail-header">
<div class="rs-detail-header-actions">
<div class="rs-dropdown">
<button class="rs-btn rs-btn-action rs-dropdown-toggle">
<span class="rs-cog"></span>
Actions
<span class="rs-caret"></span>
</button>
<ul class="rs-dropdown-menu" style="right:0;">
<li><span class="rs-dropdown-category">Identify</span></li>
<li><a href="#">Rename Item&hellip;</a></li>
<li><a href="#">Tag Item&hellip;</a></li>
<li><span class="rs-dropdown-category">Manage</span></li>
<li><a href="#">Connect Via Terminal&hellip;</a></li>
<li><a href="#">Reboot Item&hellip;</a></li>
<li><a href="#">Change Password&hellip;</a></li>
<li><a href="#">Delete Item&hellip;</a></li>
</ul>
</div>
</div>
<div class="rs-detail-header-subtitle">Instance Details</div>
<div class="rs-detail-header-title">{{instance.name}}</div>
</div>
<div class="rs-detail-section">
<div class="rs-detail-section-header">
<div class="rs-detail-section-title">Instance Details</div>
</div>
<div class="rs-detail-section-body">
<ul class="rs-detail-list">
<li class="rs-detail-item">
<div class="rs-detail-key">Status</div>
<div class="rs-detail-value">
<div class="rs-status rs-status-ok">Active</div>
</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Server</div>
<div class="rs-detail-value">MongoDB</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Type</div>
<div class="rs-detail-value">{{instance.type}}</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Version</div>
<div class="rs-detail-value">{{instance.version}}</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Zone</div>
<div class="rs-detail-value">{{instance.zone}}</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Plan</div>
<div class="rs-detail-value">{{instance.plan}}</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Shards</div>
<div class="rs-detail-value">{{ instance.shards|count }}</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Space Usage</div>
<div class="rs-detail-value">
5GB of {{ instance.size }}GB used
<div class="rs-progress">
<div class="rs-progress-inner">
<div class="rs-segment" style="width: 40%">
<div class="rs-bar rs-bar-ok"></div>
<div class="rs-caption">Data</div>
</div>
<div class="rs-segment" style="width: 20%">
<div class="rs-bar rs-bar-processing"></div>
<div class="rs-caption">Allocated</div>
</div>
<div class="rs-segment" style="width: 40%">
<div class="rs-bar "></div>
<div class="rs-caption">Free</div>
</div>
</div>
</div>
</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Connect String</div>
<div class="rs-detail-value">{{ instance.host }}:{{ '%.f' | format(instance.port) }}</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">SSL Connect String</div>
<div class="rs-detail-value">{{ instance.host }}:{{ "%.f" | format(instance.port + 10000) }}</div>
</li>
</ul>
</div>
<div class="rs-detail-section">
<div class="rs-detail-section-header">
<div class="rs-detail-section-title">Active Operations</div>
</div>
<ul class="rs-detail-list">
<li class="rs-detail-item">
<div class="rs-detail-key">Database Repair</div>
<div class="rs-detail-value">
<span class="rs-status rs-status-disabled">Not running</span>
</div>
</li>
<li class="rs-detail-item">
<div class="rs-detail-key">Database Copy</div>
<div class="rs-detail-value">
<span class="rs-status rs-status-processing">In progress</span>
</div>
</li>
</ul>
</div>

<div class="rs-detail-section">
<div class="rs-detail-section-header">
<div class="rs-detail-section-title">Databases</div>
</div>

<div class="rs-detail-section-body">
<div class="rs-btn-group">
<a href='/instances/{{ instance.name }}/create_database'><button class="rs-btn rs-btn-primary">Add Database</button></a>
<a href="#"><button class="rs-btn rs-btn-secondary">Copy Remote Database</button></a>
</div>
<div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
<table class="rs-list-table rs-embedded-list-table">
<thead>
<tr>
<th class="rs-table-cog"></th>
<th>Name</th>
<th>Objects</th>
<th>Data Size</th>
<th>Index Count</th>
<th>Index Size</th>
<th>Storage Size</th>
<th>Average Object Size</th>
<th>File Size</th>
</tr>
</thead>
<tbody>
{% for database in databases %}
<tr>
<td class="rs-table-cog">
<div class="rs-dropdown">
<div class="rs-cog rs-dropdown-toggle"></div>
<ul class="rs-dropdown-menu">
<li><span class="rs-dropdown-category" id="first">Identify</span></li>
<li><a href="javascript:void(0);">Edit Item&hellip;</a></li>
<li><a href="javascript:void(0);">Delete Item&hellip;</a></li>
</ul>
</div>
</td>
<td class="rs-table-text"><a href='/instances/{{ instance.name }}/{{ database.name }}'>{{ database.name }}</a></td>
<td class="rs-table-text">{{ database.object_count }}</td>
<td class="rs-table-text">{{ database.data_size_in_bytes|filesizeformat }}</td>
<td class="rs-table-text">{{ database.index_count }}</td>
<td class="rs-table-text">{{ database.index_size_in_bytes|filesizeformat }}</td>
<td class="rs-table-text">{{ database.storage_size_in_bytes|filesizeformat }}</td>
<td class="rs-table-text">{{ database.average_object_size_in_bytes|filesizeformat }}</td>
<td class="rs-table-text">{{ database.file_size_in_bytes|filesizeformat}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

<div class="rs-detail-section">
<div class="rs-detail-section-header">
<div class="rs-detail-section-title">Shards</div>
</div>
<div class="rs-detail-section-body">
<div class="rs-btn-group">
<!-- FIXME -->
<a href="{ url_for('add_shard', selected_instance=instance.name) }"><button class="rs-btn rs-btn-primary">Add Shard</button></a>
</div>
<div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
<table class="rs-list-table rs-embedded-list-table">
<thead>
<tr>
<th class="rs-table-cog"></th>
<th>Name</th>
<th>Plan</th>
<th>Data Size</th>
<th>Index Size</th>
<th>Storage Size</th>
<th>File Size</th>
<th>Shard Balance</th>
</tr>
</thead>
<tbody>
{% for shard in instance.shards %}
{% set primary = shard.replica_set.primary %}
{% set shard_statistics = all_shard_statistics[shard.name] %}
{% set primary_oplog_time = primary.oplog_time %}
<tr>
<td class="rs-table-cog">
<div class="rs-dropdown">
<div class="rs-cog rs-dropdown-toggle"></div>
<ul class="rs-dropdown-menu">
<li><span class="rs-dropdown-category" id="first">Identify</span></li>
<li><a href="javascript:void(0);">Edit Item&hellip;</a></li>
<li><a href="javascript:void(0);">Delete Item&hellip;</a></li>
</ul>
</div>
</td>
<!-- FIXME -->
<td class="rs-table-text"><a href="{ url_for('shard', selected_instance=instance.name, selected_shard_string=shard.shard_string )}">{{ shard.name }}</a></td>
<td class="rs-table-text">{{ shard.plan }}</td>
<td class="rs-table-text">{{ shard_statistics[Constants.DATA_SIZE_IN_BYTES]|filesizeformat }}</td>
<td class="rs-table-text">{{ shard_statistics[Constants.INDEX_SIZE_IN_BYTES]|filesizeformat }}</td>
<td class="rs-table-text">{{ shard_statistics[Constants.STORAGE_SIZE_IN_BYTES]|filesizeformat }}</td>
<td class="rs-table-text">{{ shard_statistics[Constants.FILE_SIZE_IN_BYTES]|filesizeformat }}</td>
<td class="rs-table-text">
<div class="rs-progress">
<div class="rs-progress-inner">
<div class="rs-segment" style="width: {{ shard_statistics[Constants.PERCENTAGE_OF_INSTANCE_FILE_SIZE]|round(1) }}%">
<div class="rs-bar rs-bar-ok"></div>
</div>
</div>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

<div class="rs-detail-section">
<div class="rs-detail-section-header">
<div class="rs-detail-section-title">Security</div>
</div>
<div class="rs-detail-section-body">
<div class="rs-btn-group">
<a class="rs-btn rs-btn-primary">Add ACL</a>
</div>
<div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
<table class="rs-list-table rs-embedded-list-table">
<thead>
<tr>
<th class="rs-table-status"></th>
<th class="rs-table-cog"></th>
<th>Source IP CIDR</th>
<th>Action</th>
<th>Description</th>
</tr>
</thead>
<tbody id="acl_table_body">
</tbody>
</table>
</div>
</div>
</div>

<div class="rs-detail-section">
<div class="rs-detail-section-header">
<div class="rs-detail-section-title">Backups</div>
</div>
<div class="rs-detail-section-body">
<div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
<table class="rs-list-table rs-embedded-list-table">
<thead>
<tr>
<th class="rs-table-status"></th>
<th class="rs-table-cog"></th>
<th>Date</th>
<th>Status</th>
</tr>
</thead>
<tbody id="backups_table_body">
</tbody>
</table>
</div>
</div>
</div>
<div class="rs-detail-section">
<div class="rs-detail-section-header">
<div class="rs-detail-section-title">Additional Item Details</div>
</div>
<div class="rs-detail-section-body">
<ul class="rs-detail-list">
<li class="rs-detail-item">
<div class="rs-detail-key">Created</div>
<div class="rs-detail-value">{{ instance.creation_date }}</div>
</li>
</ul>
</div>
</div>

{% endblock content_area_body %}
