{% extends 'web_app_base.html' %}

<!--
TODO:
- Cleanup sidebar help
-->

{% block nav_secondary %}{% endblock nav_secondary %}

{% block sidebar %}
    {% call sidebar_help(hidden=False) %}
        <h3>Managing This Product</h3>
        <h4>Top action helpful text</h4>
        <p>Short blurb about best practices for a top action on this item. Try to keep this to 3 lines maximum.</p>
        <p><a target="blank" href="#">More Details About Blurb &raquo;</a></p>

        <hr>
        <h4>Help Me With...</h4>
        <ul>
            <li><a target="blank" href="#">Best Practice Number One</a></li>
            <li><a target="blank" href="#">Best Practice Number Two</a></li>
            <li><a target="blank" href="#">Best Practice Number Three</a></li>
        </ul>
        <p><a target="blank" href="#">Learn More about This Product &raquo;</a></p>

        <hr>
        <h4>What's Next</h4>
        <ul>
            <li><a target="blank" href="#">Top Action Number One</a></li>
            <li><a target="blank" href="#">Top Action Number Two</a></li>
            <li><a target="blank" href="#">Top Action Number Three</a></li>
        </ul>
        <p><a target="blank" href="#">Visit Our Knowledge Center &raquo;</a></p>
    {% endcall %}
{% endblock sidebar %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('instance_details', selected_instance=instance.name) }}">&lsaquo; Back to Instance Details</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    <div class="rs-detail-header">
        <div class="rs-detail-header-actions">
            <div class="rs-dropdown">
                <button class="rs-btn rs-btn-action rs-dropdown-toggle">
                    <span class="rs-cog"></span>
                    Actions
                    <span class="rs-caret"></span>
                </button>
                <ul class="rs-dropdown-menu" style="right:0;">
                    <li><span class="rs-dropdown-category">Manage</span></li>
                    <li><a data-popover="add-user-popover" data-popover-target="add-user-target" data-popover-position="bottom-right" class="rs-btn rs-btn-link rs-popover-source">Add User&hellip;</a></li>
                    <li><a data-popover="add-collection-popover" data-popover-target="add-collection-target" data-popover-position="bottom-right" class="rs-popover-source">Add Collection&hellip;</a></li>
                    <li><span class="rs-dropdown-category">Views</span></li>
                    <li><a class="rs-btn rs-btn-link or-expand-all">Expand All&hellip;</a></li>
                    <li><a class="rs-btn rs-btn-link or-collapse-all">Collapse All&hellip;</a></li>
                </ul>
            </div>
        </div>

        <div class="rs-detail-header-subtitle">Database Details</div>
        <div class="rs-detail-header-title">{{ database.name }}</div>
    </div>

    {% call detail_section(title='Database Details', collapsible=True) %}
        <ul class="rs-detail-list">
            <li class="rs-detail-item">
                <div class="rs-detail-key">Data Size</div>
                <div class="rs-detail-value">{{ database.data_size_in_bytes|filesizeformat }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Objects</div>
                <div class="rs-detail-value">{{ database.object_count }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Average Object Size</div>
                <div class="rs-detail-value">{{ (database.average_object_size_in_bytes if database.average_object_size_in_bytes else 0)|filesizeformat }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Indexes</div>
                <div class="rs-detail-value">{{ database.index_count }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Index Size</div>
                <div class="rs-detail-value">{{ database.index_size_in_bytes }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Users</div>
                <div class="rs-detail-value">{{ users|count }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Database Connect String</div>
                <div class="rs-detail-value">{{ instance.host }}:{{ instance.port }}/{{ database.name }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">SSL Database Connect String</div>
                <div class="rs-detail-value">{{ instance.host }}:{{ "%.f" | format(instance.port + 10000) }}/{{ database.name }}</div>
            </li>
        </ul>
    {% endcall %}

    {% call detail_section(title='Users', collapsible=True) %}
        <div class="rs-btn-group">
            <button id="add-user-target" data-popover="add-user-popover" data-popover-target="add-user-target" data-popover-position="bottom-right" class="rs-btn rs-btn-primary rs-popover-source">Add User</button>
        </div>
        <div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th class="width-halfem"></th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                {% set usercount = 0 %}
                {% for user in users %}
                    <tr>
                        <td><button id="delete-user-target-{{ usercount }}" data-count="{{ usercount }}" data-popover="delete-user-popover" data-popover-target="delete-user-target-{{ usercount }}" data-popover-position="right" class="rs-delete rs-popover-source"></button></td>
                        <td class="rs-table-text" id="user-{{ usercount }}">{{ user }}</td>
                    </tr>
                    {% set usercount = usercount + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcall %}

    {% call detail_section(title='Collections', collapsible=True) %}
        <div class="rs-btn-group">
            <button id="add-collection-target" data-popover="add-collection-popover" data-popover-target="add-collection-target" data-popover-position="right" class="rs-btn rs-btn-primary rs-popover-source">Add Collection</button>
        </div>

        <div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Documents</th>
                        <th>Total Size</th>
                        <th>Avg Object Size</th>
                        <th>Index Size</th>
                        <th>Sharded</th>
                    </tr>
                </thead>
                <tbody>
                {% for collection in collections.values() %}
                    <tr>
                        <td class="rs-table-text">
                            <span data-title="Collections are groupings of MongoDB documents, and are equivalent to an RDBMS table." data-delay="0.1" class="rs-icon-help tip"></span>
                        </td>
                        <td class="rs-table-text"><a href="/instances/{{ instance.name }}/{{ database.name }}/{{ collection.name }}">{{ collection.name }}</td>
                        <td class="rs-table-text">{{ collection.count if collection.count else 0 }}</td>
                        <td class="rs-table-text">{{ (collection.size if collection.size else 0)|filesizeformat }}</td>
                        <td class="rs-table-text">{{ (collection.average_object_size_in_bytes if collection.average_object_size_in_bytes else 0)|filesizeformat }}</td>
                        <td class="rs-table-text">{{ (collection.total_index_size_in_bytes if collection.total_index_size_in_bytes else 0)|filesizeformat }}</td>
                        <td class="rs-table-text">{{ collection.sharded }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not collections %}
            <div id="collections-table-overlay" class="rs-table-overlay">
                <div class="rs-table-overlay-content">
                    <div class="rs-table-overlay-title">You don't have any collections yet.</div>
                    <div class="rs-table-overlay-subtitle">Create one now by clicking on the Add Collection button.</div>
                    <div class="rs-table-overlay-message">Collections are groupings of MongoDB documents, and are equivalent to an RDBMS table.</div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endcall %}
{% endblock content_area_body %}

{% block popovers %}
    <!-- add user popover -->
    <div id="add-user-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="add-user-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('create_instance_user', selected_instance=instance.name, selected_database=database.name) }}" method="POST">
                    <div class="rs-control-group">
                        <label class="rs-control-label">Username</label>
                        <div class="rs-controls">
                            <input name="username" type="text" placeholder="Username" class="rs-input rs-input-medium">
                        </div>
                    </div>
                    <div class="rs-control-group">
                        <label class="rs-control-label">Password</label>
                        <div class="rs-controls">
                            <input name="password" type="password" placeholder="Password" class="rs-input rs-input-medium">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="add-user-popover-form-button" form="add-user-popover-form" class="rs-btn rs-btn-primary save">Add User</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end add user popover -->

    <!-- add collection popover -->
    <div id="add-collection-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="add-collection-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('create_collection', selected_instance=instance.name, selected_database=database.name) }}" method="POST">
                    <div class="rs-control-group">
                        <label id="name-label" class="rs-control-label">Collection Name</label>
                        <div class="rs-controls">
                            <input id="collection" name="collection" type="text" placeholder="Any alphanumeric string." class="rs-input rs-input-medium">
                        </div>
                    </div>

                    <div id="shard-keys-group">
                        <div class="rs-control-group">
                            <hr/>
                            <label class="rs-control-label">Automatically hash on _id</label>
                            <div class="rs-controls">
                                <input id="autohash-checkbox" name="autohash-checkbox" type="checkbox"{% if default_autohash_on_id %} checked="true"{% endif %} value="ascending">
                            </div>
                        </div>

                        <div id="shard-keys-input" class="hidden">
                            <div class="rs-control-group">
                                <hr/>
                                <label id="keys-label" class="rs-control-label">Enter Shard Key</label>
                                <div id="shard_key_input_div" class="rs-controls">
                                    <input id="shardkeys" name="shardkeys" type="text" class="rs-input rs-input-medium">
                                    <span class="rs-help-block">Key(s) on which to shard this collection.</span>

                                    <span id="hashed-key-checkbox-span">
                                        <input id="hashed-key-checkbox" type="checkbox" name="hashed-key-checkbox" value="ascending">&nbsp;Hashed
                                    </span>
                                    <div>
                                        <button id="add-key-button" form="" class="rs-btn rs-btn-primary rs-control-label">Add Key</button>
                                    </div>
                                </div>
                            </div>

                            <div id="shard-keys" class="rs-control-group">
                                <label id="shard_key_label" class="rs-control-label">Selected Shard Keys</label>
                                <div class="rs-controls">
                                    <div id="shard-key-div" class="align-center">
                                        <pre id="shard-key-pre" class="min-height-1em"></pre>
                                        <p class="rs-help-block">A background index will be created for these keys.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="add-collection-popover-form-button" form="add-collection-popover-form" class="rs-btn rs-btn-primary save">Add Collection</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end add collection popover -->

    <!-- delete user popover -->
    <div id="delete-user-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="delete-user-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('delete_instance_user', selected_instance=instance.name, selected_database=database.name) }}" method="POST">
                    <p><b>Permanently delete</b> user <b id="delete-user-popover-name"></b> from database?</p>
                    <p>This will permanently delete the user from this database!</p>
                    <input id="delete-user-input" name="username" type="hidden" value="">
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="delete-user-popover-form-button" form="delete-user-popover-form" class="rs-btn rs-btn-primary">Delete User</button>
                <button class="rs-btn rs-btn-link">Cancel</button>
            </div>
        </div>
    </div>
    <!-- end delete user popover -->
{% endblock popovers %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/shard_key.js"></script>
    <script type="text/javascript">
    var toggleShardKeyInputDisplay = function() {
        if ($('#autohash-checkbox').is(':unchecked')) {
            $('#shard-keys-input').removeClass('hidden');
        } else {
            $('#shard-keys-input').addClass('hidden');
        }
    }

    // FIXME(Anthony): This is quite bad. We shouldn't interpolate jinja variables into the JS.
    $(document).ready(function() {
        var instanceVersion = {{ instance.version|tojson|safe }};
        var isShardedInstance = {{ is_sharded_instance|tojson|safe }};

        hashedKeyEnabled = false;

        var versionDigits = instanceVersion.split('.');
        var majorVersion = versionDigits[0];
        var minorVersion = versionDigits[1];

        // Determine if key hashing should be enabled.
        if (majorVersion >= 2) {
            if (minorVersion >= 4) {
                hashedKeyEnabled = true;
            } else {
                hashedKeyEnabled = false;
            }
        } else {
            hashedKeyEnabled = false;
        }

        // Show shard key group if dealing with a sharded instance and hashedKeyEnabled.
        if (isShardedInstance) {
            if (hashedKeyEnabled) {
                $('#shard-keys-group').removeClass('hidden');
            } else {
                $('#shard-keys-group').addClass('hidden');
            }
        } else {
            $('#shard-keys-group').addClass('hidden');
        }

        // Show shard key input if autohash-checkbox is not checked.
        toggleShardKeyInputDisplay();
        $('#autohash-checkbox').change(function() {
            toggleShardKeyInputDisplay();
        });

        // Clear data when hashed-key-checkbox is clicked.
        $('#hashed-key-checkbox').click(function() {
            $('#shard-key-div').data('keys', {});
            $('#shard-key-pre').text('');
            $('#shardkeys').val('');
        });

        // Update the list of shard keys as they are added.
        $('#add-key-button').click(function() {
            var shardKey = $('#shardkeys').val();

            if (shardKey) {
                if (shardKey === '') {
                    return false;
                }

                if (containsInvalidShardKeyCharacters(shardKey)) {
                    var validator = $('#add-collection-popover-form').validate();
                    validator.showErrors({"shardkeys": 'Cannot contain /\ ",*<>:|?{}'});
                    return false;
                }

                var shardKeys = $('#shard-key-div').data('keys');

                if (!shardKeys) {
                    shardKeys = {};
                }

                if (!shardKeys.shardKey) {
                    var shardKeyLabel = '<label>' + $('#shardkeys').val() + '</label>'
                    var shardKeyQualifier = 1;

                    if ($('#hashed-key-checkbox').is(':checked')) {
                        shardKeyQualifier = 'hashed';
                        shardKeys = {};
                    }

                    shardKeys[shardKey] = shardKeyQualifier;
                    $('#shard-key-div').data('keys', shardKeys);

                    $('#shard-key-pre').text(JSON.stringify(shardKeys));
                    $('#shardkeys').val('');
                }
            }
        });

        // Listener for the add collection button.
        $('#add-collection-popover-form-button').click(function(event) {
            event.preventDefault();
            $form = $('#add-collection-popover-form');

            if (isShardedInstance) {
                var shardKeys = $('#shard-key-div').data('keys');

                if ($.isEmptyObject(shardKeys)) {
                    if ($('#autohash-checkbox').is(':checked')) {
                        var shardKeys = {'_id': 'hashed'};
                    } else {
                      var validator = $form.validate();
                      validator.showErrors({"shardkeys": "A shard key is required."});
                      return false;
                    }
                }
                var encodedShardKeys = JSON.stringify(shardKeys);
                $("#add-collection-popover-form").append("<input type='hidden' name='all_shard_keys' value='" + encodedShardKeys + "'>");
            }
            $form.submit();
        });

        // Add validator method.
        $.validator.addMethod("noSpecialCharacters", function(value, element) {
            return !containsInvalidShardKeyCharacters(value);
        }, 'Cannot contain /\ "*<>:|?{}');

        // Validation for add-collection-popover-form.
        $('#add-collection-popover-form').validate({
            rules: {
                collection: {
                    minlength: 1,
                    required: true
                }
            },
            errorClass: 'rs-validation-block',
            errorElement: 'span',
            highlight: function (label) {
                $(label).closest('.rs-control-group').removeClass('success');
                $(label).closest('.rs-control-group').addClass('error');
            },
            success: function(label) {
                $(label).closest('.rs-control-group').removeClass('error');
                $(label).closest('.rs-control-group').addClass('success');
            }
        });


        // Listener for delete user buttons.
        $('button[data-popover="delete-user-popover"]').each(function() {
            $(this).click(function() {
                // Get the user's name.
                var count = $(this).attr('data-count');
                var name = $('#user-' + count).text();

                // Inject the database's name into popover.
                $('#delete-user-popover-name').text(name);
                $('#delete-user-input').val(name);
            });
        });

    });
    </script>
{% endblock script %}

