{% extends 'web_app_base.html' %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('instance_details', selected_instance=instance.name) }}">&lsaquo; Back to Instance Details</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    <div class="rs-detail-header">
        <div class="rs-detail-header-actions">
            <div class="rs-dropdown">
                <button class="rs-btn rs-btn-action rs-dropdown-toggle">
                    <span class="rs-cog"></span>
                    Actions
                    <span class="rs-caret"></span>
                </button>
                <ul class="rs-dropdown-menu" style="right:0;">
                    <li><span class="rs-dropdown-category">Manage</span></li>
                    <li><a data-popover="add-user-popover" data-popover-target="add-user-target" data-popover-position="bottom-right" class="rs-btn rs-btn-link rs-popover-source">Add User</a></li>
                    <li><a href="{{ url_for('add_collection', selected_instance=instance.name, selected_database=database.name) }}">Add Collection</a></li>
                    {% if not is_sharded_instance %}
                        <li><a data-popover="repair-database-popover" data-popover-target="repair-database-target"
                               data-popover-position="bottom-right" class="rs-popover-source">
                            Repair Database</a></li>
                    {% endif %}
                    <li><span class="rs-dropdown-category">Views</span></li>
                    <li><a class="rs-btn rs-btn-link or-expand-all">Expand All</a></li>
                    <li><a class="rs-btn rs-btn-link or-collapse-all">Collapse All</a></li>
                </ul>
            </div>
        </div>

        <div class="rs-detail-header-subtitle">Database Details</div>
        <div class="rs-detail-header-title">
            {{ database.name }}
            {% if not is_sharded_instance %}
                <button id="repair-database-target" data-popover="repair-database-popover"
                        data-popover-target="repair-database-target" data-popover-position="bottom-right"
                        class="rs-cog rs-popover-source"></button>
            {% endif %}
        </div>
    </div>

    {% call detail_section(title='Database Details', collapsible=True) %}
        <ul class="rs-detail-list">
            <li class="rs-detail-item">
                <div class="rs-detail-key">Data Size</div>
                <div class="rs-detail-value">{{ database.data_size_in_bytes|filesizeformat(binary=True) }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Objects</div>
                <div class="rs-detail-value">{{ database.object_count }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Average Object Size</div>
                <div class="rs-detail-value">{{ (database.average_object_size_in_bytes if database.average_object_size_in_bytes else 0)|filesizeformat(binary=True) }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Indexes</div>
                <div class="rs-detail-value">{{ database.index_count }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Index Size</div>
                <div class="rs-detail-value">{{ database.index_size_in_bytes }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Users</div>
                <div class="rs-detail-value">{{ users|count }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">Database Connect String</div>
                <div class="rs-detail-value">{{ instance.host }}:{{ instance.port }}/{{ database.name }}</div>
            </li>
            <li class="rs-detail-item">
                <div class="rs-detail-key">SSL Database Connect String</div>
                <div class="rs-detail-value">{{ instance.host }}:{{ "%.f" | format(instance.port + 10000) }}/{{ database.name }}</div>
            </li>
        </ul>
    {% endcall %}

    {% call detail_section(title='Users', collapsible=True) %}
        <div class="rs-btn-group">
            <button id="add-user-target" data-popover="add-user-popover" data-popover-target="add-user-target"
                    data-popover-position="bottom-right" class="rs-btn rs-btn-primary rs-popover-source">Add User
            </button>
        </div>
        <div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
            <table class="rs-list-table rs-embedded-list-table">
                <thead>
                    <tr>
                        <th class="width-halfem"></th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                {% set usercount = 0 %}
                {% for user in users %}
                    <tr>
                        <td><button id="delete-user-target-{{ usercount }}" data-count="{{ usercount }}" data-popover="delete-user-popover" data-popover-target="delete-user-target-{{ usercount }}" data-popover-position="right" class="rs-delete rs-popover-source"></button></td>
                        <td class="rs-table-text" id="user-{{ usercount }}">{{ user }}</td>
                    </tr>
                    {% set usercount = usercount + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcall %}

    {% call detail_section(title='Collections', collapsible=True) %}
        <div class="rs-btn-group">
            <a href="{{ url_for('add_collection', selected_instance=instance.name, selected_database=database.name) }}" class="rs-btn rs-btn-primary">Add Collection</a>
        </div>

        <div class="rs-embedded-list-table-wrapper rs-embedded-medium" id="detail-example-embedded-list-table">
            <table class="rs-list-table rs-embedded-list-table {% if has_more_collections < 30 %}sortable{% endif %}" id="collections-table">
                <thead>
                    <tr>
<!--                         <th></th> -->
                        <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Name</span><span class="rs-table-sort-indicator"></span></a></th>
                        <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Documents</span><span class="rs-table-sort-indicator"></span></a></th>
                        <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Data Size</span><span class="rs-table-sort-indicator"></span></a></th>
                        <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Avg Object Size</span><span class="rs-table-sort-indicator"></span></a></th>
                        <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Index Size</span><span class="rs-table-sort-indicator"></span></a></th>
                        <th><a href="javascript:void(0);" class="rs-table-sort"><span class="rs-table-sort-text">Sharded</span><span class="rs-table-sort-indicator"></span></a></th>
                    </tr>
                </thead>
                <tbody>
                {% for collection in collections %}
                    <tr id="collection-{{ collection.name }}">
<!--                         <td class="rs-table-text">
                            <span data-title="Collections are groupings of MongoDB documents, and are equivalent to an RDBMS table." data-delay="0.1" class="rs-icon-help tip"></span>
                        </td> -->
                        <td class="rs-table-text"><a href="{{ url_for('collection', selected_instance=instance.name, selected_database=database.name, selected_collection=collection.name) }}">{{ collection.name }}</td>
                        <td class="rs-table-text">{{ collection.document_count or 0 }}</td>
                        <td class="rs-table-text">{{ (collection.size or 0)|filesizeformat(binary=True) }}</td>
                        <td class="rs-table-text">{{ (collection.average_object_size_in_bytes or 0)|filesizeformat(binary=True) }}</td>
                        <td class="rs-table-text">{{ (collection.total_index_size_in_bytes or 0)|filesizeformat(binary=True) }}</td>
                        <td class="rs-table-text">{{ collection.sharded }}</td>
                    </tr>
                {% endfor %}
                {% if has_more_collections %}
                </tbody>
                <tfoot>
                    <tr id="collection_list_end"><td><a id="load_more_collections">Load More</a></td></tr>
                </tfoot>
                {% else %}
                </tbody>
                {% endif %}
            </table>
            {% if not collections %}
            <div id="collections-table-overlay" class="rs-table-overlay">
                <div class="rs-table-overlay-content">
                    <div class="rs-table-overlay-title">You don't have any collections yet.</div>
                    <div class="rs-table-overlay-subtitle">Create one now by clicking on the Add Collection button.</div>
                    <div class="rs-table-overlay-message">Collections are groupings of MongoDB documents, and are equivalent to an RDBMS table.</div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endcall %}
{% endblock content_area_body %}

{% block popovers %}
    <!-- add user popover -->
    <div id="add-user-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="add-user-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('create_instance_user', selected_instance=instance.name, selected_database=database.name) }}" method="POST">
                    <div class="rs-control-group">
                        <label class="rs-control-label">Username</label>
                        <div class="rs-controls">
                            <input name="username" type="text" placeholder="Username" class="rs-input rs-input-medium">
                        </div>
                    </div>
                    <div class="rs-control-group">
                        <label class="rs-control-label">Password</label>
                        <div class="rs-controls">
                            <input name="password" type="password" placeholder="Password" class="rs-input rs-input-medium">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="add-user-popover-form-button" form="add-user-popover-form" class="rs-btn rs-btn-primary save">Add User</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end add user popover -->

    <!-- delete user popover -->
    <div id="delete-user-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="delete-user-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('delete_instance_user', selected_instance=instance.name, selected_database=database.name) }}" method="POST">
                    <p><b>Permanently delete</b> user <b id="delete-user-popover-name"></b> from database?</p>
                    <p>This will permanently delete the user from this database.</p>
                    <input id="delete-user-input" name="username" type="hidden" value="">
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="delete-user-popover-form-button" form="delete-user-popover-form" class="rs-btn rs-btn-primary">Delete User</button>
                <button class="rs-btn rs-btn-link">Cancel</button>
            </div>
        </div>
    </div>
    <!-- end delete user popover -->
        <!-- repair database popover -->
    <div id="repair-database-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="repair-database-popover-form" class="rs-form-horizontal rs-form-small"
                      action="{{ url_for('repair_database', selected_instance=instance.name) }}" method="POST">
                    <div class="rs-control-group">
                        <strong>Warning</strong>: Your instance will be <strong>unavailable</strong> while we repair
                        your database.
                    </div>
                    <input id="database-name" name="database-name" type="hidden" value={{ database.name }}>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="repair-database-popover-form-button" form="repair-database-popover-form"
                        class="rs-btn rs-btn-primary">Repair</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end repair database popover -->
{% endblock popovers %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function() {
        var limit = 25,
            page_number = 1,
            load_collections_row = $('#collection_list_end'),
            collections_call = "{{ url_for('get_collection_page', selected_instance=instance.name, selected_database=database.name) }}",
            reverse_collection_details = function(collection_name) {
                return '/instances/{{ instance.name }}/databases/{{ database.name }}/collections/' + collection_name;
            },
            auto_include_fields = ['document_count', 'size', 'average_object_size_in_bytes', 'total_index_size_in_bytes', 'sharded'],
            loading = false;

        // Listener for delete user buttons.
        $('button[data-popover="delete-user-popover"]').each(function() {
            $(this).click(function() {
                // Get the user's name.
                var count = $(this).attr('data-count');
                var name = $('#user-' + count).text();

                // Inject the database's name into popover.
                $('#delete-user-popover-name').text(name);
                $('#delete-user-input').val(name);
            });
        });
        
        $('#collections-table.sortable').DataTable({
            paging: false,
            searching: false,
            info: false,
            processing: false
        });
        $('#collections-table.sortable').on('order.dt', function(e, settings) {
            $.each(settings.aoColumns, function(i, c) {
                $(c.nTh).children('.rs-table-sort').removeClass('rs-table-sort-asc rs-table-sort-desc')
                switch($(c.nTh).attr('class')) {
                    case 'sorting_asc':
                        $(c.nTh).children('.rs-table-sort').addClass('rs-table-sort-asc');
                        break;
                    case 'sorting_desc':
                        $(c.nTh).children('.rs-table-sort').addClass('rs-table-sort-desc');
                        break;
                }
            });
        });

        $('#load_more_collections').click(function() {
            var self = this;
            if(loading) {
                return;
            }
            loading = true;
            $(self).text('Loading...');
            $.getJSON(collections_call, {limit: limit, page_number: page_number}).done(function(data) {
                data.collections.forEach(function(element) {
                    if(!!$('#collection-' + element.name).length) {
                        return;
                    }
                    var row = $('<tr id="collection-' + element.name + '">');
                    var first = $('<td class="rs-table-text">');
                    first.append('<a href="' + reverse_collection_details(element.name) + '">' + element.name + '</a>');
                    row.append(first);

                    auto_include_fields.forEach(function(field) {
                        row.append('<td class="rs-table-text">' + element[field] + '</td>');
                    });
                    $('#collections-table tbody tr').last().after(row);
                });
                page_number += 1;
                $(self).text('Load More');
                loading = false;
            });
        });

    });
    </script>
{% endblock script %}
