{% extends 'web_app_base.html' %}

<!--
TODO:
- Provide sidebar filtering for instances, types, et cetera.
-->

{% block title %}
    Instances
{% endblock title %}

{% block content_area_body %}
    <div class="rs-inner">
        <h2 class="rs-page-title">Instances</h2>
        <div class="rs-btn-group">
            <a href="{{ url_for('instances_create') }}" class="rs-btn rs-btn-primary">Add Instance</a>
        </div>

        <table class="rs-list-table">
            <thead>
                <tr>
                    <th class="rs-table-status"></th>
                    <th class="rs-table-cog"></th>
                    <th>
                        <a href="#list-table" class="rs-table-sort">
                            <span class="rs-table-sort-text">Name</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#list-table" class="rs-table-sort">
                            <span class="rs-table-sort-text">Engine</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#list-table" class="rs-table-sort">
                            <span class="rs-table-sort-text">Type</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#list-table" class="rs-table-sort">
                            <span class="rs-table-sort-text">Version</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#list-table" class="rs-table-sort">
                            <span class="rs-table-sort-text">Zone</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#list-table" class="rs-table-sort">
                            <span class="rs-table-sort-text">Plan</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#list-table" class="rs-table-sort">
                            <span class="rs-table-sort-text">Shards</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#list-table" class="rs-table-sort">
                            <span class="rs-table-sort-text">Size(GB)</span>
                            <span class="rs-table-sort-indicator"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% set instancecount = 0 %}
                {% for instance in instances %}
                    <tr>
                        {% if instance.type == Constants.MONGODB_REPLICA_SET_INSTANCE and instance.repair_state %}
                            {% set repair_state = instance.repair_state.get('state', 'not running') %}
                            {% if repair_state == instance.REPAIR_STATE_PAUSED %}
                                {% set state_field = 'Database repair ' + instance.REPAIR_STATE_STARTED %}
                            {% else %}
                                {% set state_field = 'Database repair ' + repair_state %}
                            {% endif %}
                        {% elif 'copy_database' in instance.document %}
                            {% set state_field = 'Database copy ' + instance.document['copy_database'].get('state', 'scheduled') %}
                        {% else %}
                            {% set state_field = none %}
                        {% endif %}

                        <td class="rs-table-status rs-table-status-ok"></td>
                        <td class="rs-table-cog">
                            <div class="rs-dropdown">
                                <div id="instance-{{ instancecount }}" class="rs-cog rs-dropdown-toggle"></div>
                                <ul class="rs-dropdown-menu">
                                    <li><span class="rs-dropdown-category" id="first">Actions</span></li>
                                    <li><a data-popover="rename-instance-popover" data-count="{{ instancecount }}" data-popover-target="instance-{{ instancecount }}" data-popover-position="bottom-right" class="rs-btn rs-btn-link rs-popover-source">Rename</a></li>
                                    <li><a data-popover="delete-instance-popover" data-count="{{ instancecount }}" data-popover-target="instance-{{ instancecount }}" data-popover-position="bottom-right" class="rs-btn rs-btn-link rs-popover-source">Delete</a></li>
                                    <li><a href="{{ url_for('instance_settings', selected_instance=instance.name) }}">Settings</a>
                                </ul>
                            </div>
                        </td>
                        <td id="instance-{{ instancecount }}-count" class="rs-table-link"><a href={{ url_for('instances') }}/{{ instance.name }}>{{ instance.name }}</a></td>
                        <td class="rs-table-link">MongoDB</td>
                        <td class="rs-table-link">{{ instance.type.replace('mongodb', 'MongoDB').replace('sharded', 'Sharded').replace('replica_set', 'Replica Set').replace('_', ' ') }}</td>
                        <td class="rs-table-link">{{ instance.version }}</td>
                        <td class="rs-table-link">{{ instance.zone }}</td>
                        <td class="rs-table-link">{{ instance.plan }}</td>
                        <td class="rs-table-link">{{ instance.shards|count }}</td>
                        <td class="rs-table-link">{{ instance.size }}</td>
                    </tr>
                    {% set instancecount = instancecount + 1 %}
                {% endfor %}
            </tbody>
        </table>
        <div id="instances-table-overlay" class="rs-table-overlay{% if instances %} hidden{% endif %}">
            <div class="rs-table-overlay-content">
                <div class="rs-table-overlay-title">You don't have any instances yet.</div>
                <div class="rs-table-overlay-subtitle">Create on now by clicking on the Add Instance button.</div>
            </div>
        </div>
    </div>
{% endblock content_area_body %}

{% block popovers %}
    <!-- rename instance popover -->
    <div id="rename-instance-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="rename-instance-popover-form" class="rs-form-horizontal rs-form-small" action="{{ url_for('rename_instance') }}" method="POST">
                    <div class="rs-control-group">
                        <label class="rs-control-label">New Name</label>
                        <div class="rs-controls">
                            <input id="new-name" name="new-name" type="text" placeholder="" class="rs-input rs-input-medium">
                            <input id="current-name" name="current-name" type="hidden" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="rename-instance-popover-form-button" form="rename-instance-popover-form" class="rs-btn rs-btn-primary save">Rename</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end rename instance popover -->

    <!-- rename instance popover -->
    <div id="delete-instance-popover" class="rs-popover invisible">
        <div class="rs-popover-arrow"></div>
        <div class="rs-popover-content">
            <div class="rs-popover-body">
                <form id="delete-instance-popover-form" class="rs-form-horizontal rs-form-small" action="" method="POST">
                    <p><b>Permanently delete</b> instance <b id="delete-instance-popover-name"></b>?</p>
                    <p>This will permanently delete the instance and all data within its databases.</p>
                    <input id="instance-input" name="instance" type="hidden" value="">
                </form>
            </div>
            <div class="rs-popover-footer rs-btn-group">
                <button id="delete-instance-popover-form-button" form="delete-instance-popover-form" class="rs-btn rs-btn-primary save">Delete Instance</button>
                <div class="rs-btn rs-btn-link">Cancel</div>
            </div>
        </div>
    </div>
    <!-- end rename instance popover -->
{% endblock popovers %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function() {
        // Listener for renaming instances.
        $('a[data-popover="rename-instance-popover"]').each(function() {
            $(this).click(function() {
                // Get the instance name.
                var count = $(this).attr('data-count');
                var name = $('#instance-' + count + '-count').text();

                // Inject the instance name into popover.
                $('#new-name').attr('placeholder', name);
                $('#current-name').val(name);
            });
        });

        // Listener for deleting instances.
        $('a[data-popover="delete-instance-popover"]').each(function() {
            $(this).click(function() {
                // Get the instance name.
                var count = $(this).attr('data-count');
                var name = $('#instance-' + count + '-count').text();

                // Inject the instance name into popover.
                $('#delete-instance-popover-form').attr('action', '/' + name + '/delete');
                $('#delete-instance-popover-name').text(name);
                $('#instance-input').val(name);
            });
        });

    });
    </script>
{% endblock script %}
