{% extends 'web_app_base.html' %}

{% block title %}
    Create Instance
{% endblock title %}

{% block sidebar %}
    {% call sidebar_help(hidden=False) %}
        <h3>Creating Instances</h3>
        <h4>What Are Instances?</h4>
        <p>Instances are the core of ObjectRocket services. Create an instance that fits your software needs.</p>
        <p><a target="blank" href="http://docs.objectrocket.com/overview_and_concepts.html#instances">More Details About Instances&raquo;</a></p>

        <hr/>
        <h4>All plans include</h4>
        <ul>
            <li>MongoDB {{ default_mongo_version }}
                <a href="http://docs.mongodb.org/manual/release-notes/2.4/" target="1">Release Notes</a>
            </li>
            <li>3 member Replica Set</li>
            <li>Solid State disk (SSD)</li>
            <li>24x7 email Support</li>
        </ul>

        <hr/>
        <h4>Zone</h4>
        <p>This is the location of the datacenter which your instance will exist in.</p>

        <hr/>
        <h4>Plan</h4>
        <p>The plan is the base size of your instance. Each new shard added to your instance will increase your instance size by increments of the plan size you select.</p>

        <p><a target="blank" href="http://docs.objectrocket.com/">Visit Our Knowledge Center &raquo;</a></p>
    {% endcall %}
{% endblock sidebar %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('instances') }}">&lsaquo; Back to Instances</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    <form id="instances-create-form" class="rs-form-create" action="{{ url_for('create_instance') }}" method="POST">
        <div class="rs-detail-section">
            <div class="rs-detail-section-header">
                <h2 class="rs-page-title">Create Instance</h2>
                <div class="rs-detail-section-title">Instance Details</div>
            </div>

            <div class="rs-detail-section-body">
                <!-- default input values -->
                <input id="service_type" name="service_type" type="hidden" value="mongodb"/>
                <input id="version" name="version" type="hidden" value="{{default_mongo_version}}"/>
                <!-- end default input values -->

                <div class="rs-control-group">
                    <label class="rs-control-label">Instance Name</label>
                    <div class="rs-controls">
                        <input id="name" name="name" class="rs-input-large" type="text">
                    </div>
                </div>

                <div class="rs-control-group">
                    <label class="rs-control-label">Zone</label>
                    <div class="rs-controls">
                        <select name="zone" id='zone'>
                            <option value="US-East-IAD3" selected>US-East-IAD3, AWS Direct Connect</option>
                            <option value="US-West">US-West, AWS Direct Connect</option>
                            <option value="US-Chicago">ORD</option>
                            <option value="EU-London">LON</option>
                            <option value="AP-HongKong">HKG</option>
                            <option value="AP-Sydney">SYD</option>
                        </select>
                    </div>
                </div>

                <div class="rs-control-group">
                    <label class="rs-control-label">Plan</label>
                    <div class="rs-controls">
                        <select name="plan" id='plan_select'>
                            <option value=1>1GB SMALL $19.00/mo</option>
                            <option value=5 selected>5GB MEDIUM $149.00/mo</option>
                            <option value=20>20GB MEDIUM $399.00/mo</option>
                            <option value=50>50GB MEDIUM $899.00/mo</option>
                            <option value=100>100GB MEDIUM $1599.00/mo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="rs-detail-section">
            <div class="rs-detail-section-header rs-btn-group">
                <button class="rs-btn rs-btn-primary save">Create Instance</button>
                <a href="{{ url_for('instances') }}" class="rs-btn rs-btn-link cancel">Cancel</a>
            </div>
        </div>
    </form>
{% endblock content_area_body %}
{% block script %}
    {{ super() }}

    <script>
        $(document).ready(function () {

            $.validator.addMethod("noSpaces", function (value, element) {
                return value.indexOf(" ") < 0 && value != "";
            }, "Spaces are not permitted in instance names");

            $('#instances-create-form').validate({
                rules: {
                    name: {
                        minlength: 2,
                        alphanumeric: true,
                        required: true
                    }
                },
                errorClass: 'rs-validation-block',
                errorElement: 'span',
                highlight: function (label) {
                    $(label).closest('.rs-control-group').removeClass('success');
                    $(label).closest('.rs-control-group').addClass('error');
                },
                success: function (label) {
                    $(label).closest('.rs-control-group').removeClass('error');
                    $(label).closest('.rs-control-group').addClass('success');
                }
            });

            $('#zone').change(function () {
                var selectedZone = $(this).val();

                var usPrices = [
                    {val: 1, text: '1GB SMALL $19.00/mo'},
                    {val: 5, text: '5GB MEDIUM $149.00/mo'},
                    {val: 20, text: '20GB MEDIUM $399.00/mo'},
                    {val: 50, text: '50GB MEDIUM $899.00/mo'},
                    {val: 100, text: '100GB MEDIUM $1,599.00/mo'},
                ];

                var lonPrices = [
                    {val: 1, text: '1GB SMALL $25.00/mo'},
                    {val: 5, text: '5GB MEDIUM $190.00/mo'},
                    {val: 20, text: '20GB MEDIUM $500.00/mo'},
                    {val: 50, text: '50GB MEDIUM $1,125.00/mo'},
                    {val: 100, text: '100GB MEDIUM $2,000.00/mo'},
                ];

                var hkgPrices = [
                    {val: 1, text: '1GB SMALL $25.00/mo'},
                    {val: 5, text: '5GB MEDIUM $195.00/mo'},
                    {val: 20, text: '20GB MEDIUM $525.00/mo'},
                    {val: 50, text: '50GB MEDIUM $1,175.00/mo'},
                    {val: 100, text: '100GB MEDIUM $2,075.00/mo'},
                ];

                var sydPrices = [
                    {val: 1, text: '1GB SMALL $25.00/mo'},
                    {val: 5, text: '5GB MEDIUM $195.00/mo'},
                    {val: 20, text: '20GB MEDIUM $525.00/mo'},
                    {val: 50, text: '50GB MEDIUM $1,175.00/mo'},
                    {val: 100, text: '100GB MEDIUM $2,075.00/mo'},
                ];

                var prices = usPrices;

                if (selectedZone == 'EU-London') {
                    var prices = lonPrices;
                } else if (selectedZone == 'AP-HongKong') {
                    var prices = hkgPrices;
                } else if (selectedZone == 'AP-Sydney') {
                    var prices = sydPrices;
                }

                $('#plan_select').empty();

                $(prices).each(function () {
                    $('#plan_select').append($("<option>").attr('value', this.val).text(this.text));
                });

                $('#plan_select').val(5);
            });
        });
    </script>

{% endblock script %}
