{% extends 'web_app_base.html' %}

{% block title %}
    Instance Statistics
{% endblock title %}

{% block style %}
    {{ super() }}
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.css">

    <style>
        .replset-header {
            border-bottom: 1px solid #EEE;
        }

        .nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
            fill-opacity: 0.25 !important;
            stroke-opacity: 0.25 !important;
        }

        .nvd3.nv-scatter.nv-single-point .nv-groups .nv-point:hover {
            fill-opacity: 0.5 !important;
            stroke-opacity: 0.5 !important;
        }

        nvd3 svg {
            height: 350px;
        }
    </style>

    {% include 'stripe_css.html' %}
{% endblock style %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('instances') }}">&lsaquo; Back to Instances</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    <!-- detail header -->
    <div class="rs-detail-header">
        {% call detail_header_actions() %}
            <li><span class="rs-dropdown-category">Views</span></li>
            <li><a class="rs-btn rs-btn-link or-expand-all">Expand All</a></li>
            <li><a class="rs-btn rs-btn-link or-collapse-all">Collapse All</a></li>
        {% endcall %}
        <!-- detail header subtitle -->
        <div class="rs-detail-header-subtitle">Instance Statistics</div>
        <!-- end detail header subtitle -->

        <!-- detail header title -->
        <div class="rs-detail-header-title">{{ instance.name }}</div>
        <!-- end detail header title -->
    </div>
    <!-- end detail header -->

    {% call detail_section(title="Graphs", collapsible=True) %}
		{% raw %}
			<div ng-controller="StatsPageCtrl">
                <ul class="rs-detail-list">
                    <li class="rs-detail-item">
                        <div class="rs-detail-key">Stat</div>
                        <div class="rs-detail-value">
                            <select ng-model="statName"
                                    ng-options="name for name in statNames">
                                <option value="mongodb.opcounters.query">mongodb.opcounters.query</option>
                            </select>
                        </div>
                    </li>
                    <li class="rs-detail-item">
                        <div class="rs-detail-key">period</div>
                        <div class="rs-detail-value">
                            <input type="text" ng-model="period" value="300" />
                            <select ng-model="granularity"
                                    ng-options="granularity for granularity in ['minute', 'hour', 'day']"></select>
                        </div>
                    </li>
                </ul>

                <div ng-if="statName !== ''">
                    <div ng-repeat="(shardName, hosts) in shards" ng-controller="StatsGraphCtrl">
                        <h4 class="replset-header">ReplicaSet: {{shardName}}</h4>
                        <nvd3 options="options" data="data" config="{autorefresh: true, refreshDataOnly: true}"></nvd3>
                    </div>
                </div>
            </div>
        {% endraw %}
    {% endcall %}
{% endblock content_area_body %}

{% block script %}
    {{ super() }}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar.min.js"></script>
    <script type="text/javascript" src="/static/js/stats/lib/angular-nvd3.js"></script>
	<script type="text/javascript" src="/static/js/stats/stats.js"></script>

    <script type="text/javascript">
        window.app = angular.module("statsGraphApp");
        app.value("instanceName", "{{instance.name}}");
        app.value("apiUrl", "{{ api_url }}");
        angular.bootstrap(document.body , ["statsGraphApp"]);
    </script>

    {% include 'stripe_js.html' %}
{% endblock script %}
