{% extends 'web_app_base.html' %}

{% block title %}
    Instance Statistics
{% endblock title %}

{% block style %}
    {{ super() }}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/static/js/bower_components/canon-bootstrap/build/css/canon-bootstrap.css">
    <link rel="stylesheet" href="/static/css/daterangepicker-bs3.css">
    <link rel="stylesheet" href="/static/css/stats.css">
    {% include 'stripe_css.html' %}
{% endblock style %}

{% block back_link_area %}
    {% call back_link() %}
        <a href="{{ url_for('instances') }}">&lsaquo; Back to Instances</a>
    {% endcall %}
{% endblock back_link_area %}

{% block content_area_body %}
    <!-- detail header -->
    <div class="rs-detail-header">
        {% call detail_header_actions() %}
            <li><span class="rs-dropdown-category">Views</span></li>
            <li><a class="rs-btn rs-btn-link or-expand-all">Expand All</a></li>
            <li><a class="rs-btn rs-btn-link or-collapse-all">Collapse All</a></li>
        {% endcall %}
        <!-- detail header subtitle -->
        <div class="rs-detail-header-subtitle">Instance Statistics</div>
        <!-- end detail header subtitle -->

        <!-- detail header title -->
        <div id="instance-name"></div>
        <!-- end detail header title -->
    </div>
    <!-- end detail header -->
<div id="stats"></div>

{% endblock content_area_body %}

{% block script %}
    {{ super() }}
  <script type="text/javascript" src="/static/js/bower_components/d3/d3.js"></script>
  <script type="text/javascript" src="/static/js/bower_components/nvd3/nv.d3.js"></script>
  <script type="text/javascript" src="/static/dist/js/main.js"></script>

    {% include 'stripe_js.html' %}
{% endblock script %}
