{% if instance.replica_set.primary %}
    {% set primary = instance.replica_set.primary %}
    {% set has_primary = true %}
{% else %}
    {% set primary = instance.replica_set.members[0] %}
    {% set has_primary = false %}
{% endif %}

<!-- Begin replset info -->
<div class="rs-embedded-list-table-wrapper rs-embedded-medium">
    <table class="rs-list-table rs-embedded-list-table">
    <thead>
        <tr>
            <th>Role</th>
            <th>Health</th>
            <th>Zone</th>
            <th>Delay</th>
            <th>Last Heartbeat</th>
        </tr>
    </thead>
    <tbody>
        {% for member in primary.status.members %}
            {% set health = 'HEALTHY' if member.health == 1 else 'FAULT' %}
            {% set zone = get_host_zone(member.name) %}
            {% if member.stateStr == 'PRIMARY' %}
                {% set delay = '(Primary)' %}
                {% set heartbeat = '(Primary)' %}
            {% elif member.stateStr == 'ARBITER' %}
                {% set delay = '(Arbiter)' %}
            {% elif not_primary %}
                {% set delay = '(No Primary)' %}
            {% elif member.get('optime', none) %}
                {% set delay = primary.oplog_time.as_datetime() - member.optime.as_datetime() %}
            {% endif %}
            {% if member.stateStr != 'PRIMARY' %}
                {% set heartbeat = member.lastHeartbeat %}
            {% endif %}
            <tr>
                <td>{{ member.stateStr }}</td>
                <td>{{ health }}</td>
                <td>{{ zone }}</td>
                <td>{{ delay }}</td>
                <td>{{ heartbeat }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<!-- End replset info -->
